@model AdminElasticFileModel
@{
    ViewBag.Title = "Admin";
    Layout = Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Fluid = true;
}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!DOCTYPE html>

<html>
<body>
    <div id="dashboard">

        <div>
            <h1>Welcome to the Admin Page</h1>
        </div>
        <div class="processingActivityDiv">
            <h3>Processing Activity</h3>
            <br />
            <div class="row">
                <div class="column">
                    <div class="container">
                        <h5>Total Files Today</h5>
                        <button id="buttonCompletedFiles"><strong class="num_style">@Model.CompletedFiles</strong></button>
                    </div>

                </div>
                <div class="column">
                    <div class="container">
                        <h5>Files In-Flight</h5>
                        <button id="buttonInFlightFiles"><strong class="num_style">@Model.InFlightFiles</strong></button>
                    </div>

                </div>
                <div class="column">
                    <div class="container">
                        <h5>File Failures</h5>
                        <button id="buttonFailedFiles"><strong class="failure_style">@Model.FailedFiles</strong></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="partialContainer">
        <div id="failedFiles">
            @Html.Partial("_FailedFilesDetails")
        </div>
        <div id="completedFiles">
            @Html.Partial("_CompletedFilesDetails")
        </div>
        <div id="inFlightFiles">
            @Html.Partial("_InFlightFilesDetails")
        </div>
    </div>
</body>
</html>

<style>
    .column {
        text-align: center;
        width: 20%;
        /*border: 5px double lightgray;*/
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .failure_style {
        color: red;
        font-size: 45px;
    }

    .num_style {
        font-size: 45px;
    }

    .container {
        width: 200px;
    }

    .processingActivityDiv {
        padding: 40px;
        width: 90%;
        right: auto;
        padding-right: 25px;
    }

    .partialContainer {
        margin: auto;
        text-align: center;
        width: 50%;
    }

    #failedFiles, #completedFiles, #inFlightFiles {
        display: none;

    }

    button {
        /*
        border: none;
        background-color: none!important;
            */
        background: unset !important;
        border: unset !important;
        outline: unset !important;

    }
</style>

<script>

    // Elements of div to be hidden and displayed
    dashboardDiv = document.getElementById("dashboard");
    failedFileDiv = document.getElementById("failedFiles");
    inFlightFilesDiv = document.getElementById("inFlightFiles");
    completedFilesDiv = document.getElementById("completedFiles");

    // JQuery for toggling Completed File details
    $(document).ready(function () {
        $("#buttonCompletedFiles").click(function () {
            // show hide paragraph on button click
            $("#completedFiles").toggle("fast", function () {
                // check paragraph once toggle effect is completed
                if ($("#completedFiles").is(":visible")) {
                    //dashboardDiv.style.display = "none";
                    inFlightFilesDiv.style.display = "none";
                    failedFileDiv.style.display = "none";
                } 
            });
        });
    });

    // JQuery for toggling Failed File details
    $(document).ready(function () {
        $("#buttonFailedFiles").click(function () {
            // show hide paragraph on button click
            $("#failedFiles").toggle("fast", function () {
                // check paragraph once toggle effect is completed
                if ($("#failedFiles").is(":visible")) {
                    //dashboardDiv.style.display = "none";
                    inFlightFilesDiv.style.display = "none";
                    completedFilesDiv.style.display = "none";
                }
            });
        });
    });

    // JQuery for toggling InFlight File details
    $(document).ready(function () {
        $("#buttonInFlightFiles").click(function () {
            // show hide paragraph on button click
            $("#inFlightFiles").toggle("fast", function () {
                // check paragraph once toggle effect is completed
                if ($("#inFlightFiles").is(":visible")) {
                    //dashboardDiv.style.display = "none";
                    failedFileDiv.style.display = "none";
                    completedFilesDiv.style.display = "none";
                }
            });
        });
    });
</script>