@model AdminElasticFileModel
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Fluid = true;
}

<!DOCTYPE html>

<html>
<body>
    <div id="dashboard">
    
        <div>
            <h1>Welcome to the Admin Page</h1>
        </div>
        <div class="processingActivityDiv">
            <h3>Processing Activity</h3>
            <br />
            <div class="ml-0 row">
                @if (Model.CLA5112_FeatureFlag)
                {
                    <div class="column card-result-layout-0">
                        <a data-nav-id="datafilereprocessing" class="side-nav-links" href="@Url.Action("ProcessActivityResults", "Admin", new { selectedPage = "TotalFiles" })">
                            <div class="process-activity-cards card card-hover m-1">
                                <div class="card-body bg-success position-relative">
                                    <h2 class="text-right text-white pt-3 mb-0"><strong>@Model.TotalCompletedFiles</strong></h2>
                                    <h6 class="text-right text-white font-italic pb-3 pt-0 mb-0">Completed Files</h6>
                                    <i class="fa-regular fa-file" style="color: #ffffff;"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }


                @if (Model.CLA5260_FeatureFlag)
                {

                  @*<div class="column card-result-layout-0">
                        <a data-nav-id="datafilereprocessing" class="side-nav-links" href="@Url.Action("ProcessActivityResults", "Admin", new { selectedPage = "TotalFailedFiles" })">
                            <div class="card card-hover m-1">
                                <div class="card-body primary">
                                    <h4 class="text-right card-title pt-0 mb-0">File Failures</h4>
                                    <hr />
                                    <p><strong class="failure_style">@Model.TotalFailedFiles</strong></p>
                                </div>
                            </div>
                        </a>
                    </div>*@
                    <div class="column card-result-layout-0">
                        <a data-nav-id="datafilereprocessing" class="side-nav-links" href="@Url.Action("ProcessActivityResults", "Admin", new { selectedPage = "TotalFailedFiles" })">
                            <div class="process-activity-cards card card-hover m-1">
                                <div class="card-body bg-danger">
                                    <h2 class="text-right text-white pt-3 mb-0"><strong>@Model.TotalFailedFiles</strong></h2>
                                    <h6 class="text-right text-white font-italic pb-3 pt-0 mb-0">File Failures</h6>
                                    <i class="fa-regular fa-file-excel" style="color: #ffffff;"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }


                <div class="column card-result-layout-0">
                    <a data-nav-id="datafilereprocessing" class="side-nav-links" href="@Url.Action("ProcessActivityResults", "Admin", new { selectedPage = "InFlightFiles" })">
                        <div class="process-activity-cards card card-hover m-1">
                            <div class="card-body bg-primary">
                                <h2 class="text-right text-white pt-3 mb-0"><strong>@Model.TotalInFlightFiles</strong></h2>
                                <h6 class="text-right text-white font-italic pb-3 pt-0 mb-0">In Flight Files</h6>
                                <i class="fa-solid fa-plane-departure" style="color: #ffffff;"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>