
@model SupportLinkWrapper
@{
    ViewBag.Title = "_AdminTest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    
    <div class="container-fluid dt-bhootstrap4 no-footer">
        <br />
        <div class="row" style="align-items: end;">
            <div class="col-sm-12 col-md-6">
                <h1>My Links</h1>
            </div>
            <div class="col-sm-12 col-md-6">
                <button type="button" class="btn btn-primary waves-effect waves-light right-aligned" data-toggle="modal" data-target="#AddLinkModal" id="addLinkButton">
                    Add Link
                </button>
            </div>
        </div>

            
        <!--
        <div class="list-group">

            @foreach (@Sentry.data.Web.SupportLinkModel supportLinkModel in Model.AllSupportLinks)
            {

                <div class="list-group-item">
                    <em id="delete-icon" data-supportLinkId=@supportLinkModel.SupportLinkId class="icon-trash" style="cursor: pointer; color: red"></em>
                    <a id="supportLinkName" href="@supportLinkModel.Url" target="_blank" style="padding-left: 60px;">@supportLinkModel.Name</a>       
                    <p style="padding-left: 100px">@supportLinkModel.Description</p>
                </div>
            }
        </div>
            -->
             
        
        <div class="tile-result-content">
            <h1></h1>
            <ul id="link-results" class="list-unstyled">
                @foreach (Sentry.data.Web.SupportLinkModel supportLinkModel in Model.AllSupportLinks)
                {
                
                    <li class="tile-result tile-mr borderSide_blue boxShadowSm tile-active tile-result-layout-0">
                        <em id="delete-icon" data-supportLinkId=@supportLinkModel.SupportLinkId class="icon-trash" style="cursor: pointer; color: red"></em>
                        <div class="dataset-list-content">
                            <span vocab="search-dataset-name">
                                <a id="supportLinkName" href="@supportLinkModel.Url" target="_blank" style="padding-left: 60px;">@supportLinkModel.Name</a>
                            </span>
                        </div>
                        <div class="dataset-list-content tile-description" title="@supportLinkModel.Description">
                            <p style="padding-left: 95px;">@supportLinkModel.Description</p>
                        </div>
                    </li>
                }
            </ul>
        </div>
        

       </div>
    

        <div class="modal fade" id="AddLinkModal" tabindex="-1" aria-labelledby="AddLinkModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddLinkeModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card form-wrapper" id="toggleDiv">
                            <div class="card-body">

                                <h3 class="card-title">Add Support Link</h3>

                                <div class="md-form">

                                    <input type="text" id="name" class="form-control" required />
                                    <label for="name" class="">Enter Link Name</label>

                                </div>
                                <div class="md-form">

                                    <label for="description" class="">Enter Description For Link</label>
                                    <input type="text" id="description" class="form-control" />

                                </div>
                                <div class="bs-component">


                                    <label for="url">Enter an https:// URL:</label>
                                    <input type="url" id="url" class="form-control" placeholder="https://example.com" required />

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="ModalCloseButton" class="btn btn-primary waves-effect waves-light">Close</button>
                        <button type="button" id="LinkSubmitButton" class="btn btn-primary waves-effect waves-light">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
           

<script>
    $(function () {
        data.Admin.SupportLinkInit();
    });

</script>

<style>
    #link-results {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    #addLinkButton {
        float: right;
    }


</style>