
@model SupportLinkWrapper
@{
    ViewBag.Title = "_AdminTest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>

    <div class="container-fluid dt-bhootstrap4 no-footer">
        <br />
        <div class="row LinksRow">
            <div class="col-sm-12 col-md-6">
                <h1>My Links</h1>
            </div>
            <div class="col-sm-12 col-md-6">
                <button type="button" class="btn btn-primary waves-effect waves-light right-aligned" data-toggle="modal" data-target="#AddLinkModal" id="addLinkButton">
                    Add Link
                </button>
            </div>
        </div>


        <div class="tile-result-content supportLinkList">
            <h1></h1>
            <ul id="link-results" class="list-unstyled">
                @foreach (Sentry.data.Web.SupportLinkModel supportLinkModel in Model.AllSupportLinks)
                {
                    <li class="tile-result tile-mr borderSide_blue boxShadowSm tile-active tile-result-layout-0">
                        <em class="delete-icon icon-trash" data-supportLinkId=@supportLinkModel.SupportLinkId></em>
                        <div class="dataset-list-content">
                            <span vocab="search-dataset-name">
                                <a href="@supportLinkModel.Url" target="_blank" class="LinkUrlName">@supportLinkModel.Name</a>
                            </span>
                        </div>
                        <div class="dataset-list-content tile-description" title="@supportLinkModel.Description">
                            <p class="LinkDescription">@supportLinkModel.Description</p>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "SupportLinkForm" }))
    {
        <div class="modal fade" id="AddLinkModal" tabindex="-1" aria-labelledby="AddLinkModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddLinkeModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card form-wrapper" id="toggleDiv">
                            <div class="card-body">

                                <h3 class="card-title">Add Support Link</h3>

                                <div class="md-form">
                                    @Html.TextAreaFor(model => model.supportLinkModel.Name, new { @class = "md-textarea form-control", @id = "LinkName" })
                                    @Html.LabelFor(model => model.supportLinkModel.Name, htmlAttributes: new { @class = "" })
                                    @Html.ValidationMessageFor(model => model.supportLinkModel.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="md-form">
                                    @Html.TextAreaFor(model => model.supportLinkModel.Description, new { @class = "md-textarea form-control", @id = "LinkDescription" })
                                    @Html.LabelFor(model => model.supportLinkModel.Description, htmlAttributes: new { @class = "" })
                                    @Html.ValidationMessageFor(model => model.supportLinkModel.Description, "", new { @class = "text-danger" })
                                </div>
                                <div class="md-form">
                                    @Html.TextAreaFor(model => model.supportLinkModel.Url, new { @class = "md-textarea form-control", @id = "LinkUrl" })
                                    @Html.LabelFor(model => model.supportLinkModel.Url, htmlAttributes: new { @class = "" })
                                    @Html.ValidationMessageFor(model => model.supportLinkModel.Url, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="ModalCloseButton" class="btn btn-primary waves-effect waves-light">Close</button>
                        <button type="button" id="LinkSubmitButton" class="btn btn-primary waves-effect waves-light">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
    
           

<script>
    $(function () {
        data.Admin.SupportLinkInit();
    });

</script>

