@{
    string color = "dsc-" + Model.CategoryColor + "-text";
}

<div class="row">
    <div class="col-lg-12">
        @if (!Model.DisplayTabSections)
        {
            <div id="aboutThisSchema">
                <h3 class="@color pt-1">About this Schema</h3>
            </div>
        }
        <div class="metadataBody container row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="@color pt-1">Last Updated:</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 pt-1">
                        <h5 class="@color pt-1">Data</h5>
                        <p data-bind="text: DataLastUpdated"></p>
                        <p id="dataLastUpdatedSpinner" class="mini-sentry-spinner-container sentry-spinner-container" style="display:none;">
                            <span class="sentry-spinner" style="background-size: 25px 25px; margin-left: 290px;"></span>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="@color pt-1">Metadata</h5>
                        <p data-bind="text: MetadataLastDT"></p>
                        <p id="sessionSpinner" class="mini-sentry-spinner-container sentry-spinner-container" style="display:none;">
                            <span class="sentry-spinner" style="background-size: 25px 25px; margin-left: 290px;"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="row" data-bind="visible: SchemaRows().length > 0">
                    <div class="col-lg-12">
                        <h5 class="@color pt-1">Consumption Layer:</h5>
                    </div>
                </div>

                <div class="row" data-bind="visible: SchemaRows().length > 0">
                    <div class="col-lg-12">
                        <h5 class="@color pt-1">Snowflake</h5>
                        <!-- ko foreach: FullyQualifiedSnowflakeViews() -->
                        <p><span class="hideOverflow" data-bind="text: $data"></span></p>
                        <!-- /ko -->
                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                @if (Model.Security.ShowAdminControls || Model.DisplayDataflowMetadata)
                {
                    <div>
                        <h5 class="@color pt-1 float-l">DataFlows:</h5>
                        <!-- ko if: RenderDataFlows -->
                        <!-- ko foreach: DataFlows -->
                        <table class="table table-striped table-hover detailTable" style="margin-left: 0px;">
                            <tbody>
                                <tr>
                                    <td class="borderMeta_@color colOneMeta">
                                        <div class="row pl-3">
                                            <a class="float-l" data-bind="attr: { href:DetailUrl, target: '_blank' }, click: DataFlowDetailRedirect, text: Name()"></a>
                                            @if (Model.DisplayDataflowEdit)
                                            {
                                                <div id="edit-dataflow-icon" class="float-l clickable" data-toggle="tooltip" data-placement="top" title="Edit DataFlow" data-bind="click: DataFlowEditRedirect"><span class="far fa-edit"></span></div>
                                            }
                                        </div>
                                    </td>
                                    <!-- ko if: RenderJobs() == "noRenderJobs" -->
                                    <td style="padding:0px; border-top-width:0px">There are no retriever jobs associated with this dataflow</td>
                                    <!-- /ko -->
                                    <!-- ko if: RenderJobs() == "RenderJobs" -->
                                    <td style="padding:0px; border-top-width:0px">
                                        <table class="table table-striped table-hover detailTable" style="margin: -1px; margin-top: -1px; margin-bottom:0px; max-width: 100%">
                                            <tbody>
                                                <!-- ko foreach: Jobs -->
                                                <tr>
                                                    <td class="borderMeta_@color colOneMeta" data-bind="text: Name()"></td>
                                                    <!-- ko if: IsEnabled-->
                                                    <td class="borderMeta_@color" data-bind="text: Location()"></td>
                                                    <!-- /ko -->
                                                    <!-- ko ifnot: IsEnabled-->
                                                    <td class="borderMeta_@color"> Disabled</td>
                                                    <!-- /ko -->
                                                </tr>
                                                <!-- /ko -->
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- /ko -->
                                </tr>
                            </tbody>
                        </table>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko ifnot: RenderDataFlows -->
                        <p> There are no dataflows sending data to this schema</p>
                        <!-- /ko -->
                    </div>
                }
                <h5 class="@color pt-1">Data Ownership:</h5>
                <table class="table table-striped table-hover detailTable" style="margin-left: 0px;">
                    <tbody>
                        <tr class="borderMeta_@color">
                            <td class="borderMeta_@color colOneMeta">Dataset Creator</td>
                            <td class="borderMeta_@color">@Model.CreationUserName</td>
                        </tr>
                        <tr class="borderMeta_@color">
                            <td class="borderMeta_@color colOneMeta">Dataset Origination</td>
                            <td class="borderMeta_@color">@Model.OriginationCode</td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="@color pt-1">Refresh Frequency:</h5>
                <table class="table table-striped table-hover detailTable" style="margin-left: 0px;">
                    <tbody>
                        <tr>
                            <td class="borderMeta_@color colOneMeta">Dataset Scope Type</td>
                            <td class="borderMeta_@color ">
                                @foreach (var dst in @Model.DatasetScopeTypeNames)
                                {
                                    <span class="comma" title='@dst.Value'>@dst.Key</span>
                                }
                            </td>
                            <td class="borderMeta_@color"></td>
                        </tr>

                        <tr data-bind="if: DFSDropLocation(), visible: DFSDropLocation != undefined" style="display:none;">
                            <td class="borderMeta_@color colOneMeta">DFS Drop Location</td>
                            <td class="borderMeta_@color" data-bind="text: DFSDropLocation().Location()"></td>
                        </tr>

                        <tr data-bind="if: S3DropLocation(), visible: S3DropLocation != undefined" style="display:none;">
                            <td class="borderMeta_@color colOneMeta">S3 Drop Location</td>
                            <td class="borderMeta_@color" data-bind="text: S3DropLocation().Location()"></td>
                        </tr>

                        <!-- ko if: OtherJobs != undefined-->
                        <!-- ko foreach: OtherJobs -->
                        <tr>
                            <td class="borderMeta_@color colOneMeta" data-bind="text: Name()"></td>
                            @if (Model.Security.CanEditDataset)
                            {
                                <!-- ko if: IsEnabled-->
                                //<td class="borderMeta_@color" data-bind="text: prettyCron.getNext(Location())"></td>
                                <td class="borderMeta_@color">
                                    <button style="float:right; margin-left: 30px;" class="btn btn-default on-demand-run" data-bind="attr: { id: JobId }">On-Demand Run</button>
                                    <button style="float:right; margin-left: 30px;" class="btn btn-default jobstatus jobstatus_enabled" data-bind="attr: { id: JobId }">Disable</button>
                                </td>
                                <!-- /ko -->
                                <!-- ko ifnot: IsEnabled-->
                                <td class="borderMeta_@color"> Disabled</td>
                                <td class="borderMeta_@color">
                                    <button style="float:right; margin-left: 30px;" class="btn btn-default on-demand-run" disabled="disabled" data-toggle="tooltip" data-placement="top" title="Job is disabled" data-bind="attr: { id: JobId }">On-Demand Run</button>
                                    <button style="float:right; margin-left: 30px;" class="btn btn-default jobstatus jobstatus_disabled" data-bind="attr: { id: JobId }">Enable</button>
                                </td>
                                <!-- /ko -->
                            }
                            else
                            {
                                <td class="borderMeta_@color"></td>
                            }

                        </tr>
                        <!-- /ko -->
                        <!-- /ko -->

                    </tbody>
                </table>
                <h5 class="@color pt-1">Other:</h5>
                <table class="table table-striped table-hover detailTable" style="margin-left: 0px;">
                    <tbody>
                        <tr>
                            <td class="borderMeta_@color colOneMeta">Short Name</td>
                            <td class="borderMeta_@color">
                                @Model.ShortName
                            </td>
                            <td class="borderMeta_@color"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
