@model FilterSearchConfigModel

@{
    ViewBag.Fluid = true;
    ViewBag.Title = Model.PageTitle;
    string controllerName = "data." + Model.PageTitle.Replace(" ", "");
}

<div class="search-horizontal-center">
    <div class="search-head">
        <div class="search-head-item"><img src="@Url.Content(Model.IconPath)" class="search-head-img" alt="Source icon" /></div>
        <div class="search-head-item">
            <h1 class="datasetHeader pt-2">@Model.PageTitle</h1>
        </div>

        <a target="_blank" rel="noopener noreferrer" href="@Url.Content(Model.InfoLink)">
            <i class="icon-info-solid dsc-blue-text"></i>
        </a>

        <div id="search-box" class="md-form input-group has-feedback has-feedback-left">
            <span class="input-group-prepend sentry-blue white-text icon-search" id="SearchBoxAddon"></span>
            <input type="text" class="form-control text-box single-line" id="filter-search-text" placeholder="Search @Model.PageTitle" value="@Model.DefaultSearch.SearchText" disabled>
            <span class="form-control-feedback fa fa-circle-o-notch fa-spin"></span>
        </div>

    </div>
</div>

<div class="filter-search-body">
    <div class="filter-search-container">
        <div class="filter-search-result-count-container display-none">
            <h2 class="filter-search-total-results"><span id="filter-search-total"></span> Total Results</h2>
            <div>Showing <span id="filter-search-page-size"></span> of <span id="filter-search-returned-total"></span></div>
        </div>

        <div class="filter-search-title-container bottom-border">
            <h4 class="filter-search-title pt-1">Filter</h4>
        </div>

        <div class="bottom-border">
            <span class="filter-search-clear-container"><a href="#" class="display-none btn btn-warning p-2" id="filter-search-clear">Clear All</a></span>
            <span class="filter-search-clear-container"><a href="#" class="btn btn-primary display-none filter-search-start filter-search-apply p-2"><em class="icon-search filter-search-apply-icon"></em>Apply</a></span>
        </div>

        <div class="filter-search-categories-sentry-spinner">
            <span class="sentry-spinner"></span>
        </div>

        <div class="filter-search-categories-container display-none">
            @Html.Partial("~/Views/Search/FilterCategories.cshtml", Model.DefaultSearch.FilterCategories)
        </div>
    </div>

    <div class="filter-search-result-sentry-spinner">
        <span class="sentry-spinner"></span>
    </div>

    <div class="filter-search-results-none display-none">
        <span class="icon icon-trianglewarningfilled"></span>
        <div>No results found.</div>
        <div>Try modifying your search.</div>
    </div>

    <div class="filter-search-results-container display-none">
        @Html.Partial(Model.ResultView)
    </div>

</div>

<div class="filter-search-show-all-container">

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">

        $(function () {
                @(controllerName).init();
                data.FilterSearch.init(@(controllerName).executeSearch, @(controllerName).buildFilter);
            });

    </script>
}