@model FilterSearchConfigModel

@{
    ViewBag.Fluid = true;
    ViewBag.Title = Model.PageTitle;
    string controllerName = "data." + Model.PageTitle.Replace(" ", "");
}

<div class="search-horizontal-center">
    <div class="search-head">
        <div class="search-head-item"><img src="@Url.Content(Model.IconPath)" class="search-head-img" alt="Source icon" /></div>
        <div class="search-head-item">
            <h1 class="filter-search-page-title">@Model.PageTitle</h1>
        </div>

        <a class="filter-search-page-info" target="_blank" rel="noopener noreferrer" href="@Url.Content(Model.InfoLink)">
            <em class="icon-info-solid dsc-blue-text"></em>
        </a>
    </div>

    <div id="search-box" class="md-form input-group has-feedback has-feedback-left filter-search-box">
        <input type="text" class="form-control text-box single-line" id="filter-search-text" placeholder="Search @Model.PageTitle" value="@Model.DefaultSearch.SearchText" disabled>
        <span class="input-group-append sentry-blue white-text icon-search clickable filter-search-start" id="SearchBoxAddon"></span>
    </div>
</div>

<div class="filter-search-body">
    <div class="filter-search-container">
        <div class="filter-search-result-count-container display-none">
            <div class="filter-search-total-results"><span id="filter-search-total"></span> Total Results</div>
            <div>Showing <span id="filter-search-page-size"></span> of <span id="filter-search-returned-total"></span></div>
        </div>

        <div class="filter-search-title-container bottom-border">
            <h4 class="filter-search-title">Filter</h4>
            <span class="filter-search-clear-container">
                <button class="btn btn-warning display-none filter-search-option-button" id="filter-search-clear">Clear All</button>
            </span>
            <span class="filter-search-clear-container">
                <button class="btn btn-primary display-none filter-search-option-button filter-search-start filter-search-apply"><em class="icon-search filter-search-apply-icon"></em>Apply</button>
            </span>
        </div>

        <div class="progress md-progress sentry-dark-blue filter-search-categories-progress">
            <div class="indeterminate"></div>
        </div>

        <div class="filter-search-categories-container display-none">
            @Html.Partial("~/Views/Search/FilterCategories.cshtml", Model.DefaultSearch.FilterCategories)
        </div>
    </div>

    <div class="progress md-progress sentry-dark-blue filter-search-result-progress">
        <div class="indeterminate"></div>
    </div>

    <div class="filter-search-results-none display-none">
        <span class="fas fa-exclamation-triangle"></span>
        <div>No results found.</div>
        <div>Try modifying your search.</div>
    </div>

    <div class="filter-search-results-container display-none">
        @Html.Partial(Model.ResultView)
    </div>

</div>

<div class="filter-search-show-all-container">

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">

        $(function () {
                @(controllerName).init();
                data.FilterSearch.init(@(controllerName).executeSearch, @(controllerName).buildFilter);
            });

    </script>
}