@model SavedSearchDropdownModel
    
<div class="btn-group ml-2">
    <button class="btn btn-primary waves-effect waves-light filter-search-save" data-toggle="modal" data-target="#filter-search-save-modal">Save Search</button>
    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu">
        @if (Model.SavedSearchOptions.Any())
        {
            foreach (SavedSearchOptionModel option in Model.SavedSearchOptions)
            {
            <div class="saved-search-option-container">
                <a class="dropdown-item @(option.SavedSearchName == Model.ActiveSearchName ? "active" : "")" href="@Url.Action("Search", Model.SearchType, new { savedSearch = option.SavedSearchName })">@option.SavedSearchName</a>
                <a class="@(option.IsFavorite ? "fas" : "far") fa-star saved-search-favorite saved-search-option-icon" id="@option.SavedSearchId"></a>
                <a class="far fa-edit saved-search-option-icon saved-search-edit" data-id="@option.SavedSearchId" data-name="@option.SavedSearchName" data-favorite="@option.IsFavorite"></a>
            </div>                
            }
        }
        else
        {
            <a class="dropdown-item disabled" href="#">No Saved Searches</a>      
        }
    </div>
</div>