@model SavedSearchDropdownModel
    
<div class="btn-group mr-2">
    <button class="btn btn-primary waves-effect waves-light filter-search-save" data-toggle="modal" data-target="#filter-search-save-modal">Save Search</button>
    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light filter-search-save-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu saved-search-menu">
        @if (Model.SavedSearchOptions.Any())
        {
            foreach (SavedSearchOptionModel option in Model.SavedSearchOptions.OrderBy(o => o.SavedSearchName).ToList())
            {
                <div class="saved-search-option-container" id="saved_@option.SavedSearchId">
                    <a class="dropdown-item @(option.SavedSearchName == Model.ActiveSearchName ? "active" : "") saved-search-option-name" href="../../@option.SavedSearchUrl">@option.SavedSearchName</a>
                    
                    <a class="@(option.IsFavorite ? "fas" : "far") fa-star saved-search-favorite saved-search-option-icon" id="savedFavorite_@option.SavedSearchId" data-id="@option.SavedSearchId"></a>
                    <span class="spinner-border spinner-border-sm saved-search-option-spinner display-none" id="favoriteSpinner_@option.SavedSearchId"></span>
                    
                    <a class="far fa-edit saved-search-option-icon saved-search-edit" data-id="@option.SavedSearchId" data-name="@option.SavedSearchName"></a>
                    
                    <a class="icon-trash saved-search-option-icon saved-search-delete" id="savedDelete_@option.SavedSearchId" data-id="@option.SavedSearchId"></a>
                    <span class="spinner-border spinner-border-sm saved-search-option-spinner display-none" id="deleteSpinner_@option.SavedSearchId"></span>
                </div>                
            }
        }
        else
        {
            <a class="dropdown-item disabled" href="#">No Saved Searches</a>      
        }
    </div>
</div>