@model TileResultsModel

@{
    ViewBag.Fluid = true;
}

<div class="tile-result-content">
    <div class="tile-result-options mt-4 tile-mr">
        @* sort *@
        <div class="mr-2">
            @Html.DropDownList("tile-result-sort", Model.SortByOptions, new { @class = "mdb-select" })
            <label class="mdb-main-label">Sort By</label>
        </div>

        @* layout *@
        <div>
            @Html.DropDownList("tile-result-layout", Model.LayoutOptions, new { @class = "mdb-select" })
            <label class="mdb-main-label">Layout</label>
        </div>
    </div>

    @* page size *@
    <div class="mt-4">
        @Html.DropDownList("tile-result-page-size", Model.PageSizeOptions, new { @class = "mdb-select" })
        <label class="mdb-main-label">Page Size</label>
    </div>

    <ul id="tile-results" class="list-unstyled">
        @if (Model.Tiles?.Any() == true)
        {
            foreach (TileModel tile in Model.Tiles)
            {
                //convert to use User Favorites
                <li class="tile-result tile-mr borderSide_@tile.Color boxShadowSm @(tile.Status == "Active" ? "tile-active" : "")" data-id="@tile.Id" title="@tile.TileTitle">
                    <div class="@(tile.IsFavorite ? "fas" : "far") fa-star tile-favorite disregardParentClick" id="tileFavorite_@tile.Id" data-id="@tile.Id" title="@tile.FavoriteTitle"></div>

                    <div class="dataset-list-content">

                        @if (tile.IsReport && !string.IsNullOrEmpty(tile.ReportType))
                        {
                            <div class="extension bg_gray @tile.ReportType">
                                <span>@tile.ReportType</span>
                            </div>
                        }

                        <span class="search-dataset-name">@tile.Name @(tile.Status != "Active" ? "(Pending Delete)" : "")</span>

                        @if (tile.IsSecured)
                        {
                            <em class="fas fa-lock text-primary" data-toggle="tooltip" data-placement="bottom" title="Secure"></em>
                        }
                    </div>

                    <div class="dataset-list-content tile-description" title="@tile.Description">@tile.Description</div>

                    <div class="dataset-list-content dataset-detail-content-info">
                        <div class="dataset-detail-content-info-row">
                            <span class="bold ownerDate dsc-@tile.Color-text">Last Activity Date:</span>
                            <span>@tile.LastActivityShortDate</span>
                            @if (tile.EnvironmentType != "Prod")
                            {
                                <span class="chip chip-outline btn-outline-warning named-environment">@tile.Environment</span>
                            }
                            else
                            {
                                <span class="chip chip-outline btn-outline-primary named-environment">@tile.Environment</span>
                            }

                        </div>
                        
                        @if (tile.IsReport)
                        {
                            <div class="SentryOwner col-lg-12 dataset-detail-content-info-row">
                                <span class="bold dataset-detail-contact-label dsc-@tile.Color-text">Refresh Frequency:</span>
                                <span class="info-detail">@tile.UpdateFrequency</span>
                            </div>

                            <div class="contacts col-lg-10 dataset-detail-content-info-row">
                                <span class="bold dataset-detail-contact-label dsc-@tile.Color-text">Contact:</span>
                                <div class="info-detail">
                                    <span class="info-detail">@tile.ContactNames</span>
                                </div>
                            </div>

                            <div class="col-lg-2 dataset-detail-content-info-row">
                                <a href="#" class="home-tile-link-bi disregardParentClick" title="Click to view details">View Details ></a>
                            </div>
                        }
                    </div>
                </li>
            }
        }
    </ul>

    @if (Model.PageItems?.Any() == true)
    {
        <div class="tile-mr">
            <ul class="pagination">
                <li class="page-item @(Model.PageItems.First().IsActive ? "disabled" : "")" id="tile-page-previous">
                    <span class="page-link previous waves-effect" href="#" aria-label="Previous">Previous</span>
                </li>

                @foreach (PageItemModel item in Model.PageItems)
                {
                    <li class="page-item tile-page-number @(item.IsActive ? "active" : "") @(item.IsDisabled ? "disabled" : "")" data-page="@item.PageNumber">
                        <span class="page-link waves-effect" href="#">@item.PageNumber</span>
                    </li>
                }

                <li class="page-item @(Model.PageItems.Last().IsActive ? "disabled" : "")" id="tile-page-next">
                    <span class="page-link next waves-effect" href="#" aria-label="Next">Next</span>
                </li>
            </ul>
        </div>
    }
</div>