@model UserSwitchModel
@{
    ViewData["Title"] = "User Switch";
}

<div class="page-header">
    <h1>User Switch</h1>
</div>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

    <div class="">
        <div class="form-group">
            Hello @(Model.CurrentRealUserName).
            @{if (!String.IsNullOrEmpty(Model.CurrentImpersonatedUserName))
                {
                    @: You are currently impersonating @(Model.CurrentImpersonatedUserName).
        }
                else
                {
                    @: You are not currently impersonating anyone.
        }
                }
        </div>
        <fieldset>

            @Html.DisplayFor(((model) => ViewData.ModelState))

            <div class="form-group">
                @Html.LabelFor(((model) => model.OwnerID), "Enter the user id you wish to switch to", new { @class = "control-label" })
                <div class="">
                    @Html.Editor("OwnerPicker", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(((model) => model.OwnerID), new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(((model) => model.OwnerID), "", new { @class = "text-danger" })
                </div>
            </div>


           
        </fieldset>
        <hr />
        <input type="submit" value="Switch to User" class="btn btn-primary" />
        @Html.ActionLink("Undo User Switch", "Restore", null, new { @class = "btn btn-default" })
        

    </div>
}


@section Scripts {
    <script>
        $(function () {
            $.assocSetup({ url: "https://hrempsecurequal.sentry.com/api/associates" });

            var picker = $("#OwnerPicker");

            picker.assocAutocomplete({
                associateSelected: function (associate) {
                    console.log(associate);
                    $('#OwnerID').val(associate.Id);
                }
            });
        });
    </script>
}