@model Sentry.data.Web.CreateAssetNotificationModel
@{
    ViewBag.Title = "Create Asset Notification";
}

@{using (Ajax.BeginForm("CreateAssetNotification", "DataAsset",
                                          new AjaxOptions
                                          {
                                              OnSuccess = "data.ManageAssetAlert.CreateSuccess",
                                              OnFailure = "data.ManageAssetAlert.CreateFailure"
                                          },
                                          new { id = "CreateAssetNotificationForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.CreateUser)

        <div class="form-horizontal">
            @Html.DisplayFor((model) => ViewData.ModelState)

            @Html.HiddenFor(model => model.NotificationId)
            @*@Html.DisplayFor((model) => ViewData.ModelState)*@

            <div class="form-group">
                @Html.LabelFor((model) => model.DataAssetID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.DataAssetID, Model.AllDataAssets, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DisplayCreateUser, htmlAttributes: new { @class = "control-lable col-sm-3" })
                <div class="col-sm-4">
                    @Html.DisplayFor(m => m.DisplayCreateUser.FullName, new { htmlAttributes = new { @class = "from-control-static" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StartTime, htmlAttributes: new { @class = "control-lable col-sm-3" })
                <div class="col-sm-4 input-group date">
                    @Html.TextBoxFor(m => m.StartTime, new { htmlAttributes = new { @class = "from-control" } })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ExpirationTime, htmlAttributes: new { @class = "control-lable col-sm-3" })
                <div class="col-sm-4 input-group date">
                    @Html.TextBoxFor(m => m.ExpirationTime, new { htmlAttributes = new { @class = "from-control" } })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor((model) => model.SeverityID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SeverityID, Model.AllSeverities, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor((model) => model.Message, htmlAttributes: new { @class = "control-lable col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor((model) => model.Message, new { htmlAttributes = new { @class = "from-control" } })
                </div>
            </div>            
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <input type="submit" value="Create Notification" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
}