@model HeaderModel

<head>
    <title>Data at Sentry</title> <!-- Fallback title -->
</head>

<div id="internetExplorerWarning" role="banner" aria-hidden="false" style="padding:10px; font-size: 14px; display:none;" class="alert alert-warning">
    <span class="fas fa-exclamation-circle" style="margin: 0px 15px 0px 5px;"></span>
    We noticed you are using <strong>Internet Explorer</strong>.  Many of our site's functionalities use features only available in <strong>
        Edge, Firefox, or Chrome.
    </strong>  We recommend you switch to one of those browsers. <a href="microsoft-edge:@Request.Url.AbsoluteUri">Click here to change to Edge.</a>
</div>

<div class="sticky-top">
    <nav class="sentry-header navbar navbar-light" style="border: none;">
        <a class="navbar-brand" href="/">
            <img class="sentry-logo" src="~/Images/logo_blue.svg" alt="">
        </a>
        <div class="sentry-app-title">
            <h1>data.sentry.com</h1>
            <p> &nbsp;</p>
        </div>



        <div class="right-buttons">
            <div class="dropdown sentry-user-dropdown">
                <button class="dropdown-toggle sentry-user btn btn-primary waves-effect waves-light" data-toggle="dropdown">
                    @{ if (Model.IsImpersonating)
                        {
                            <span class="icon-account"></span>

                        }
                        else
                        {
                            <span><img src="@Model.AssociatePhotoUrl" /></span>
                        }

                    }
                    <span class="sentry-user-name">@Model.CurrentUserName</span>
                </button>
                @if (Model.IsImpersonating || Model.CanUserSwitch)
                {
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        @{if (Model.IsImpersonating)
                            {
                                <a class="dropdown-item" tabindex="-1" id="restoreUser" href="#">Switch back to @Model.RealUserName</a>
                            }
                        }
                        @{if (Model.CanUserSwitch)
                            {
                                <a id="dscSession" class="dropdown-item" tabindex="-1" href="">Primary DSC Livy Session</a>
                                <a class="dropdown-item" tabindex="-1" href="@Url.Action("Switch", "User")">User Switch to Anybody</a>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-header">Quick User Switch</div>
                                <a class="dropdown-item" tabindex="-1" href="@Url.Action("RequestSwitch", "User", new { id = "070557" })">Manage Asset Alerts</a>
                                <a class="dropdown-item" tabindex="-1" href="@Url.Action("RequestSwitch", "User", new { id = "081082" })">Inside IT, No Access</a>
                                <a class="dropdown-item" tabindex="-1" href="@Url.Action("RequestSwitch", "User", new { id = "082728" })">Outside IT, No Access</a>
                            }
                        }
                    </div>
                }
            </div>

            @{if (Model.EnvironmentName.ToUpper() != "PROD")
                {
                    <button class="sentry-environment btn btn-danger waves-effect waves-light">
                        <span class="sentry-environment-name">@Model.EnvironmentName.ToUpper()</span>
                    </button>
                }
            }

        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark sentry-dark-blue">
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown multi-level-dropdown">

                    <a href="#" id="menu" data-toggle="dropdown" class="nav-link dropdown-toggle">Business Intelligence</a>
                    <ul class="dropdown-menu z-depth-1">
                        <li class="dropdown-item"><a class="" href="~/BusinessIntelligence/Index">Home</a></li>

                        <li class="dropdown-submenu">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Search</a>
                            <ul class="dropdown-menu z-depth-1">
                                <li class="dropdown-item">
                                    <a href="/Search/BusinessIntelligence/Index?searchPhrase=" class="waves-effect waves-light">All</a>
                                </li>
                                @foreach (Sentry.data.Web.Models.BusinessIntelligenceUIModel da in ViewBag.BusinessIntelligenceCategories)
                                {
                                    <li class="dropdown-item">
                                        <a href="/Search/BusinessIntelligence/Index?category=@da.Name" class="waves-effect waves-light">@da.Name</a>
                                    </li>
                                }

                            </ul>
                        </li>

                        <li><div class="dropdown-header">Exhibit Actions</div></li>
                        <li class="dropdown-item"><a class="" href="~/BusinessIntelligence/Create">Create Exhibit</a></li>

                    </ul>
                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownDatasetLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Datasets</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownDatasetLink">
                        <a class="dropdown-item" href="~/Dataset/Index">Home</a>
                        <a class="dropdown-item" href="~/Search/Datasets">Search</a>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header">Dataset Actions</div>
                        @if (Model.DisplayDataflowMetadata)
                        {
                            <a class="dropdown-item waves-effect waves-light" href="/DataFlow/Create">Send Data to DSC</a>
                        }
                        else
                        {
                            <a class="dropdown-item waves-effect waves-light" href="/Dataset/Create">Create Dataset</a>
                        }
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header">Dataset Administration</div>
                        <a class="dropdown-item waves-effect waves-light" href="/Config/Source/Create">Create Retriever Source</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Business Areas</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownDatasetLink">
                        <a class="dropdown-item waves-effect waves-light" href="~/BusinessArea/PersonalLines">Personal Lines</a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item waves-effect waves-light" href="/Notification/ManageNotification">Notifications</a>
                    </div>
                </li>

                <li class="nav-item dropdown multi-level-dropdown">

                    <a href="#" id="menu" data-toggle="dropdown" class="nav-link dropdown-toggle">Data Assets</a>
                    <ul class="dropdown-menu z-depth-1">
                        <li class="dropdown-submenu">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Assets</a>
                            <ul class="dropdown-menu z-depth-1">
                                @foreach (Sentry.data.Web.Models.AssetUIModel da in ViewBag.DataAssets)
                                {
                                    <li class="dropdown-item"><a href="/DataAsset/@da.Name">@da.DisplayName</a></li>
                                }
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Lineage</a>
                            <ul class="dropdown-menu z-depth-1">
                                <li class="dropdown-item dropdown-submenu">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Personal Lines</a>
                                    <ul class="dropdown-menu  z-depth-1">
                                        <li><div class="dropdown-header">Search</div></li>
                                        <li class="dropdown-item"><a href="/Lineage/Personal Lines/SERAPL/">Business Term</a></li>
                                        <li><div class="dropdown-header">Assets</div></li>

                                        <li class="dropdown-item dropdown-submenu">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">SERA PL</a>
                                            <ul class="dropdown-menu  z-depth-1">
                                                <li><div class="dropdown-header">Search</div></li>

                                                <li class="dropdown-item"><a href="/Lineage/Personal Lines/SERAPL/">Business Term</a></li>

                                                <li><div class="dropdown-header">Cubes</div></li>

                                                <li class="dropdown-item"><a href="/Lineage/Personal Lines/SERAPL/Cubes/SERAPL Loss Triangles">SERAPL Loss Triangles</a></li>
                                                <li class="dropdown-item"><a href="/Lineage/Personal Lines/SERAPL/Cubes/SERAPL Snapshot">SERAPL Snapshot</a></li>
                                                <li class="dropdown-item"><a href="/Lineage/Personal Lines/SERAPL/Cubes/SERAPL Transactional">SERAPL Transactional</a></li>
                                                <li class="dropdown-item"><a href="/Lineage/Personal Lines/SERAPL/Cubes/SERAPL Quote">SERAPL Quote</a></li>

                                                <li><div class="dropdown-header">Business Objects</div></li>

                                                <li class="dropdown-item"><a href="/Lineage/Personal Lines/SERAPL/BusinessObjects/SERAPL_Adhoc">SERAPL_Adhoc</a></li>
                                                <li class="dropdown-item"><a href="/Lineage/Personal Lines/SERAPL/BusinessObjects/SERAPL_Snapshot">SERAPL_Snapshot</a></li>
                                                <li class="dropdown-item"><a href="/Lineage/Personal Lines/SERAPL/BusinessObjects/SERAPL_Transactional">SERAPL_Transactional</a></li>
                                                <li class="dropdown-item"><a href="/Lineage/Personal Lines/SERAPL/BusinessObjects/SERAPL_Quote">SERAPL_Quote</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown-item dropdown-submenu">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">PL Policy ODS</a>
                                            <ul class="dropdown-menu  z-depth-1">
                                                <li><div class="dropdown-header">Search</div></li>

                                                <li class="dropdown-item"><a href="/Lineage/Personal Lines/PLPolicyODS/">Business Term</a></li>

                                                <li><div class="dropdown-header">Business Objects</div></li>
                                                <li class="dropdown-item"><a href="/Lineage/Personal Lines/PLPolicyODS/BusinessObjects/PL_Policy_ODS_Adhoc">PL_Policy_ODS_Adhoc</a></li>
                                                <li class="dropdown-item"><a href="/Lineage/Personal Lines/PLPolicyODS/BusinessObjects/PL Billing Adhoc">PL Billing Adhoc </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-item"><a href="/Notification/ManageNotification">Notifications</a></li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="~/DataInventory/Search">Data Inventory</a>
                </li>

                <li class="nav-item dropdown multi-level-dropdown">
                    <a href="#" id="menu" data-toggle="dropdown" class="nav-link dropdown-toggle">Help</a>
                    <ul class="dropdown-menu z-depth-1">
                        <li class="dropdown-item"><a href="mailto:DSCSupport@sentry.com?Subject=Feedback">Provide Feedback</a></li>
                        <li class="dropdown-item"><a href="mailto:DSCSupport@sentry.com?Subject=Bug&nbsp;Report">Report Bug</a></li>
                        <li class="dropdown-item"><a rel="noopener" target="_blank" href="https://confluence.sentry.com/display/CLA/Frequently+Asked+Questions">FAQ</a></li>

                        <li class="dropdown-submenu">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">User Guides</a>
                            <ul class="dropdown-menu z-depth-1">
                                <li class="dropdown-submenu">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Data Assets</a>
                                    <ul class="dropdown-menu z-depth-1">
                                        <li class="dropdown-item">
                                            <a rel="noopener" target="_blank" href="http://sharepoint.sentry.com/it/DataArch/Shared%20Documents/Data.Sentry.com/099.%20DSC%20Site%20Documents/DataLineageUserGuide.docx?Web=1">Data Lineage</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a rel="noopener" target="_blank" href="http://sharepoint.sentry.com/it/DataArch/Shared%20Documents/Data.Sentry.com/099.%20DSC%20Site%20Documents/DataAssetAlertNotificationUserGuide.docx?Web=1">Alert Notifications</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item"><a rel="noopener" target="_blank" href="http://sharepoint.sentry.com/it/DataArch/Shared%20Documents/Data.Sentry.com/099.%20DSC%20Site%20Documents/SiteAccess.docx?Web=1">Access Guide</a></li>
                                <li class="dropdown-item"><a rel="noopener" target="_blank" href="http://sharepoint.sentry.com/it/DataArch/Shared%20Documents/Data.Sentry.com/099.%20DSC%20Site%20Documents/DSCRolesResponsibilities.docx?Web=1">Roles and Responsiblities</a></li>
                                <li class="dropdown-item"><a rel="noopener" target="_blank" href="http://sharepoint.sentry.com/it/DataArch/Shared%20Documents/Data.Sentry.com/099.%20DSC%20Site%20Documents/ChromeBrowserFileTypeOpen.docx?Web=1">Open Files with Chrome</a></li>
                                <li class="dropdown-item"><a rel="noopener" target="_blank" href="http://sharepoint.sentry.com/it/DataArch/Shared%20Documents/Data.Sentry.com/099.%20DSC%20Site%20Documents/RetrievalJobUserGuide.docx?Web=1">Retriever Jobs</a></li>
                                <li class="dropdown-item"><a rel="noopener" target="_blank" href="http://sharepoint.sentry.com/it/DataArch/Shared%20Documents/Data.Sentry.com/099.%20DSC%20Site%20Documents/QueryToolUserGuide.docx?Web=1">Query Tool</a></li>
                                <li class="dropdown-item"><a rel="noopener" target="_blank" href="https://confluence.sentry.com/display/CLA/Data+Lake+Consumption+Layer+-+Transitioning+from+Hive+to+Snowflake">Snowflake</a></li>
                                <li class="dropdown-item"><a rel="noopener" target="_blank" href="https://confluence.sentry.com/pages/viewpage.action?spaceKey=CLA&title=Send+Data+to+DSC">Sending Data to DSC</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>

                @if (Model.ShowAdminControls)
                {
                    <!-- API -->
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="~/swagger">API</a>
                    </li>
                    <!-- Hangfire -->
                    <li class="nav-item">
                        <a class=" nav-link waves-effect waves-light " href="~/hangfire">Hangfire</a>
                    </li>
                }

            </ul>
        </div>
    </nav>
</div>
