@using Sentry.data.Web;
@model DaleSearchModel


<div class="row"  style="margin-top:10px;">
    
    <div style="float:left;width: auto;">
        <img style="height:50px;"src='~/Images/Dale/DataInventoryIcon.png' />
    </div>

    <div style="float:left;width: auto;">
        <label style="color: #003da5;    font-family: KievitSlabWeb W03,Lucida Sans,serif;font-size:24px;">Data Inventory</label>
    </div>
    
</div>

<div class="row" style="margin-top:12px;">

    <div style="float:left;width: auto;">

            <div id="daleSearchInputContainer" style="display: table; width: 300px;">

                <span id="joker" class="input-group-addon clickable" style="width: 50px;height:30px;" onclick="$(function() {$('#daleSearchCriteria').focus();});">
                    <em class="glyphicon glyphicon-search"></em>
                </span>

                <span id="joker2" class="input-group-addon" style="width: 50px;height:30px; display:none;" disabled onclick="$(function() {$('#daleSearchCriteria').focus();}); ">
                    <em class="fa fa-circle-o-notch fa-spin"></em>
                </span>

                <input type="text" id="daleSearchCriteria" name="searchPhrase" class="form-control" placeholder="Find your destiny ..." style="width:500px"/>

            </div>
     </div>

    <div style="float:left;width: auto;margin-left:25px;">

        <div style="text-align: left; font-family: KievitSlabWeb W03,Lucida Sans,serif;">
            <label class="containerDale" style="text-align:left; width:90px;">
                @Sentry.data.Core.GlobalEnums.DaleDestiny.Table
                <input type="radio" name="Destiny" id="DestinyTableRadio" value=@Sentry.data.Core.GlobalEnums.DaleDestiny.Table>
                <span class="checkmark"></span>
            </label>

            <label class="containerDale" style="text-align:left; width:100px;">
                @Sentry.data.Core.GlobalEnums.DaleDestiny.Column
                <input type="radio" name="Destiny" id="DestinyColumnRadio" value=@Sentry.data.Core.GlobalEnums.DaleDestiny.Column checked="checked">
                <span class="checkmark"></span>
            </label>
            <label class="containerDale" style="text-align:left;width:90px;">
                @Sentry.data.Core.GlobalEnums.DaleDestiny.View
                <input type="radio" name="Destiny" id="DestinyViewRadio" value=@Sentry.data.Core.GlobalEnums.DaleDestiny.View>
                <span class="checkmark"></span>
            </label>

        </div>
    </div>

</div>

<div class="row">
    
</div>

<div class="row">
    @Html.Partial("~/Views/Dale/DaleResult.cshtml")
</div>




@section Scripts {
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">

        $(function () {
            data.Dale.init();
        });

    </script>
}