@using Sentry.data.Core.GlobalEnums;
@using Sentry.data.Web;
@model DaleSearchModel

@{
    ViewBag.Title = "Data Inventory";
    ViewBag.Fluid = true;   /*this is needed so results grid grows because of column additions*/
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div style="margin-top:12px; ">
        @*nested row within column so we can have another nested set of columns to make up search cluster and save button*@
        <div style="display:flex; justify-content:center;">
            <div style="display:inline-block;">

                @*SHARED:  TITLE STUFF*@
                <div id="icon-container" style="display:inline-block;">
                    <div style="float:left;">
                        <img style="height:50px;" src='~/Images/DataInventory/DataInventoryIcon.png' alt="DataInventory Image" />
                    </div>

                    <div style="float:left;">
                        <h1 class="htCenter datasetHeader">Data Inventory</h1>
                    </div>

                    <div style="float:left; margin-left: 2px;">
                        <a target="_blank" rel="noopener noreferrer" href="https://confluence.sentry.com/display/CLA/Data+Inventory">
                            <em class="fas fa-info-circle" style="color:#003da5;"></em>
                        </a>
                    </div>

                    <div class="pull-right">
                        <div id="btnDaleSearchOption" class="btn-group" role="group" aria-label="..." style="margin-left: 155px;">
                            <button type="button" value="BASIC" class="btn btn-default">Basic</button>
                            <button type="button" value="ADVANCED" class="btn btn-default">Advanced</button>
                        </div>
                    </div>
                </div>

                @*BASIC ZONE 1:  SEARCH BUTTON AND CRITERIA STUFF*@
                <div id="daleCriteriaContainer" class="dale-basic-search" style="display: table; width: 300px;">
                    <input type="text" id="daleSearchCriteria" name="searchPhrase" class="form-control daleSearchInput" style="width:492px" value="@Model.Criteria" />

                    <span id="daleSearchClickBasic" class="input-group-addon clickable" style="width: 50px;height:30px;" onclick="$(function() {$('#daleSearchCriteria').focus();});">
                        <em class="icon-search"></em>
                    </span>

                    <span id="daleSearchClickSpinnerBasic" class="input-group-addon" style="width: 50px;height:30px; display:none;" disabled onclick="$(function() {$('#daleSearchCriteria').focus();}); ">
                        <em class="fa fa-circle-o-notch fa-spin"></em>
                    </span>
                </div>

                @*ADVANCED ZONE 1: SEARCH BUTTON AND CRITERIA INPUT*@
                <div class="dale-advanced-search" style="display:flex;">
                    @*ADVANCED SEARCH BUTTON AND CRITERIA STUFF*@
                    <div id="daleCriteriaContainer" class="pull-right" style="display: table; width: 35px;">
                        <input type="text" id="daleAsset" name="searchAsset" class="form-control daleSearchInput" style="width:492px; " placeholder="Asset" />
                        <input type="text" id="daleServer" name="searchServer" class="form-control daleSearchInput" style="width:492px; " placeholder="Server" />
                        <input type="text" id="daleDatabase" name="searchDatabase" class="form-control daleSearchInput" style="width:492px; " placeholder="Database" />
                        <input type="text" id="daleObject" name="searchObject" class="form-control daleSearchInput" style="width:492px; " placeholder="Table/View" />
                        <input type="text" id="daleObjectType" name="searchObjectType" class="form-control daleSearchInput" style="width:492px; " placeholder="Type" />
                        <input type="text" id="daleColumn" name="searchColumn" class="form-control daleSearchInput" style="width:492px; " placeholder="Column" />
                        <input type="text" id="daleSourceType" name="searchSourceType" class="form-control daleSearchInput" style="width:492px; " placeholder="Source Type" />

                        <span id="daleSearchClickAdvanced" class="input-group-addon clickable" style="width: 50px;height:30px;" onclick="$(function() {$('#daleSearchCriteria').focus();});">
                            <em class="icon-search"></em>
                        </span>

                        <span id="daleSearchClickSpinnerAdvanced" class="input-group-addon" style="width: 50px;height:30px; display:none;" disabled onclick="$(function() {$('#daleSearchCriteria').focus();}); ">
                            <em class="fa fa-circle-o-notch fa-spin"></em>
                        </span>
                    </div>
                </div>

                @if (Model.CLA3707_UsingSQLSource)
                {
                    <div class="dale-basic-search" style="display:flex;">

                        @*NOTE! the flex style basically pushes the radio button and sensitive controls to the button of the screen levereging the flex-end tag that sits on the actual control*@
                        <span id="radioMadness" style="display:flex; align-items:flex-end;">
                            <span style="text-align: left; font-family: KievitSlabWeb W03,Lucida Sans,serif;width:250px;">
                                <label style="text-align:left; width:100px;">
                                    <input type="radio" name="Destiny" id="DestinyTableRadio" value=@Sentry.data.Core.GlobalEnums.DaleDestiny.Object @(Model.Destiny == DaleDestiny.Object ? "checked=\"checked\"" : "")>
                                    Table/View
                                </label>

                                <label style="text-align:left; width:75px;">
                                    <input type="radio" name="Destiny" id="DestinyColumnRadio" value=@Sentry.data.Core.GlobalEnums.DaleDestiny.Column @(Model.Destiny == DaleDestiny.Column ? "checked=\"checked\"" : "")>
                                    @Sentry.data.Core.GlobalEnums.DaleDestiny.Column
                                </label>

                                <label style="text-align:left; width:50px;">
                                    <input type="radio" name="Destiny" id="DestinySaidRadio" value=@Sentry.data.Core.GlobalEnums.DaleDestiny.SAID @(Model.Destiny == DaleDestiny.SAID ? "checked=\"checked\"" : "")>
                                    @Sentry.data.Core.GlobalEnums.DaleDestiny.SAID
                                </label>
                            </span>
                        </span>

                        @if (Model.CanDaleSensitiveView)
                        {
                            <span style="align-items: flex-end;display: flex;">
                                <em class="fas fa-exclamation-circle pull-right" style="color:#003da5;margin-bottom: 4px; margin-right:1px;"></em>
                                <a href="#" id="sensitiveSearchLink" style="color:#003da5;font-weight: 500;">Show Sensitive Columns</a>
                            </span>
                        }
                        else
                        {
                            <span style="align-items: flex-end;display: flex;" data-toggle="tooltip" data-placement="right" title="Please request the App_DATA_DINV_Sens_View entitlement via MyAccess to view sensitive column information on the Data Inventory site.">
                                <em class="fas fa-exclamation-circle" style="color:#003da5;margin-bottom: 4px; margin-right:1px;"></em>
                                <a href="#" id="sensitiveSearchLink" style="color:#003da5;font-weight: 500; pointer-events:none;">Show Sensitive Columns</a>
                            </span>
                        }
                    </div>
                }
                else if (Model.CanDaleSensitiveView)
                {
                    <div style="display:flex;margin-top:0.25em">
                        <label style="display:contents">
                            <input type="checkbox" id="daleSensitive" style="margin-right:0.25em;" />
                            Search Sensitive Only
                        </label>
                    </div>
                }
            </div>
        </div>
    </div>

    @if (Model.CLA3707_UsingSQLSource)
    {
        @*MAIN RIGHT PORTION OF SCREEN*@
        <div class="col-lg-offset-10">
            <button type="button" class="pull-right" id="btnSaveMe" style="width:200px; height:70px; background-color:#00a3e0; border-color:#00a3e0;color:ghostwhite;font-size: xx-large;margin-right: 100px;margin-top: 18px; display:none;">Save</button>
        </div>
    }
</div>

@*result row here obeys container-fluid from layout so it can grow to max width*@
<div class="dale-result-row">
    <div>
        @Html.Partial("~/Views/Dale/DaleResult.cshtml", Model.CLA3550_DATA_INVENTORY_NEW_COLUMNS)
    </div>
</div>

@section Scripts 
{
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">

        $(function () {
            data.Dale.init();
        });

    </script>
}
