
@model Sentry.data.Web.Models.FieldRowModel

@using (Html.BeginCollectionItem("Fields"))
{
    <div class="form-group">
        <div class="col-md-12">
            <div class="col-md-3 fieldEntry">
                @Html.TextBoxFor(m => m.Name, new { @value = "", @class = "form-control edit-dataset-row col-md-3" })
                @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3 fieldEntry">
                @Html.TextBoxFor(m => m.Description, new { @value = "", @class = "form-control edit-dataset-row col-md-3" })
                @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.Type, new SelectList(Model.HiveTypes, "Value", "Text", Model != null ? Model.Type : "0"), "Please select a Data Type")
            </div>
            <div class="col-md-2"><a class="removeField" style="display: inline-block; margin-left: 10px;"><em class="fas fa-minus pr-3"></em>Remove Field</a></div>
        </div>
    </div>
}
