@using Sentry.data.Core;
@model Sentry.data.Web.CreateExtensionMapModel

@using(Html.BeginForm("CreateExtensionMapping", "Config", FormMethod.Post, new { @id = "ExtensionForm"}))
{
@Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <h1>Create Extension Mapping</h1>
    <hr />

    <div class="form-group">
        @Html.LabelFor((model) => model.ExtensionMappings, htmlAttributes: new { @class = "control-label col-md-2" })
        <div id="extensionMapping" class="col-md-10">
            <div class="form-group col-md-10 extensionEntry">
                <a class="addMapping" style="display: inline-block; margin-left: 10px;"><em class="fas fa-plus"></em>Add Mapping</a>
            </div>
            <div class="col-md-5 extensionEntryLabel">
                @Html.Label("MediaType", new { @value = "", @class = "col-md-5 extensionEntryLabel" })
            </div>
            <div class="col-md-5 extensionEntryLabel">
                @Html.Label("Extension", new { @value = "", @class = "col-md-5 extensionEntryLabel" })
            </div>
            @*This approach is described at the site http://ivanz.com/2011/06/16/editing-variable-length-reorderable-collections-in-asp-net-mvc-part-1/*@
            @foreach (MediaTypeExtension extension in Model.ExtensionMappings)
            {
                Html.RenderPartial("_ExtensionMapping", extension);
            }
        </div>
    </div>

    <div class="form-group">
        <div>
            <input id="btnCreateExtensionMapping" value="Save Mappings" class="btn btn-primary" />
        </div>
    </div>
}

@section Scripts{
    
    <script>
        $(function () {

            data.Config.ExtensionInit();

            $('.addMapping').click(function () {
                //This approach is described at the site below
                // http://ivanz.com/2011/06/16/editing-variable-length-reorderable-collections-in-asp-net-mvc-part-1/
                $.get("@Url.Action("ExtensionEntryRow", "Config")", function (template) {
                    $('#extensionMapping').append(template);
                });
            });
        });

    </script>
    }
