@model Sentry.data.Web.Models.CreateSchemaModel

@{
    ViewBag.Title = "Create Schema Revision";
}

@using (Html.BeginForm("CreateSchema", "Config", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <br />
    <h1>Create Schema Revision</h1>
    <br />

    @Html.DisplayFor((model) => ViewData.ModelState)

    @Html.HiddenFor(model => model.DatasetId)

    <hr />


    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control edit-dataset-row" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control edit-dataset-row" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsForceMatch, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.IsForceMatch, new { @class = "" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsPrimary, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.IsPrimary, new { @class = "" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Delimiter, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Delimiter, new { @value = "", @class = "form-control edit-dataset-row" })
            @Html.ValidationMessageFor(model => model.Delimiter, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />
    <div class="form-group">
        <div>
            <input type="submit" value="Save" class="btn btn-lg btn-success" />
        </div>
    </div>
</div>
}

<div>
    <a class="backToList" href="/Config/Dataset/@Model.DatasetId"><em class="fas fa-chevron-left pr-3"></em>Back to Dataset Configuration</a>
</div>

@section Scripts {
    <script>
        $(function () {
            //data.Dataset.EditInit();
        });
    </script>
}










