@model Sentry.data.Web.EditDatasetFileConfigModel
@{
    ViewBag.Title = "Edit Data File Config";
}

<div>
    <a class="backToList" href="/Config/Dataset/@Model.DatasetId"><span class="glyphicon glyphicon-chevron-left"></span>Back to Dataset Configuration</a>
</div>

@{using (Html.BeginForm("Edit", "Config", FormMethod.Post))
{
        @Html.AntiForgeryToken()

        <style>
        </style>

        <div class="form-horizontal">
            @Html.DisplayFor((model) => ViewData.ModelState)

            @Html.HiddenFor(model => model.ConfigId, new { @name = "configId" })
            @Html.HiddenFor(model => model.ConfigFileName)
            @Html.HiddenFor(model => model.DropPath)
            @Html.HiddenFor(model => model.FileTypeId)
            @Html.HiddenFor(model => model.DatasetId)
            @Html.HiddenFor(model => model.ModifyType)
            @Html.HiddenFor(model => model.DatasetScopeTypeID)
            @{Model.ModifyType = ViewBag.ModifyType;}


            <h2 class="detailSection">Basic Configuration</h2>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfigFileName, htmlAttributes: new { @class = "control-label col-sm-3" })
                <div class="col-sm-4">
                    @Html.DisplayFor(m => m.ConfigFileName, new { htmlAttributes = new { @class = "from-control-static" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfigFileDesc, htmlAttributes: new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.ConfigFileDesc, new { @class = "form-control ConfigFileDesc" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FileType, htmlAttributes: new { @class = "control-label col-sm-3" })
                <div class="col-sm-4">
                    @*@Html.DisplayFor(m => m.FileType, new { htmlAttributes = new { @class = "from-control-static" } })*@
                    @Html.DropDownListFor(model => model.FileType,
                        new SelectList(Model.AllDataFileTypes, "Text", "Text", Model.FileType), new { @disabled = "disabled", @readonly = "readonly", @class = "form-control " })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor((model) => model.DatasetScopeTypeID, htmlAttributes: new { @class = "control-label col-sm-3" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.DatasetScopeTypeID,
                        new SelectList(Model.AllDatasetScopeTypes, "Value", "Text", Model.DatasetScopeTypeID), new { @disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DropPath, htmlAttributes: new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.DisplayFor(m => m.DropPath, new { htmlAttributes = new { @class = "from-control-static" } })
                    @*@Html.EditorFor(model => model.DropPath, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control edit-dataset-row" } })
                        @Html.ValidationMessageFor(model => model.DropPath, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <input type="submit" value="Update Config File" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
}

@section Scripts {
    <script>
        $(function () {
            data.ManageConfigs.EditConfigInit();
        });
    </script>
}
