@model EditAssetModel
@{
    ViewData["Title"] = "Create New Asset";
}

@section Documentation {
<h4>Form Validation</h4>
<p>
    The web.config in this template includes
    <pre>
            &lt;add key="ClientValidationEnabled" value="true" /&gt;
            &lt;add key="UnobtrusiveJavaScriptEnabled" value="true" /&gt;</pre>
    which causes ASP.NET to use the data annotations in your view models to generate client-side
    validations automatically.  The additional CSS/Javascript packages included in the template
    format the validation messages to work great for Bootstrap.  Give it a try below - click
    Preview without entering any data.
</p>
<p>
    Rather than using the built-in ValidationSummary,
    we use a custom Display Template to give us fine-grained control over how it displays.
    The display template is located in the Views/Shared/DisplayTemplates directory.
</p>
<h4>Anti-Forgery Token</h4>
<p>
    To avoid cross-site request forgery, you must include an &#64;Html.AntiForgeryToken() in
    each of your forms.
</p>
<h4>Display templates, Editor templates, etc.</h4>
<p>
    Use the &#64;Html.LabelFor(), &#64;Html.EditorFor(), and &#64;Html.DisplayFor() methods
    in your Razor views to give the most flexibility for customizing how certain data types
    are rendered.  The template includes custom editor templates for currency, date, and datetime
    formats.
</p>
<h4>Select2 plugin</h4>
<p>
    The Categories field below demonstrates a multi-select listbox in a much more user-friendly
    way using the Select2 plugin.  You need to trigger the plugin on the appropriate fields using
    Javascript.  Check out the CreateInit() method in Asset.js for an example.
</p>
<div class="text-right"><a href="/Admin/Approve" id="next">Next <i class="fa fa-angle-right"></i></a></div>
}

<div class="page-header">
    <h1>Add Asset</h1>
</div>

<p>
    Have a new data asset?  Here is where to add it!
</p>
<div class="panel panel-default">
    <div class="panel-body">
        @{using (Html.BeginForm())
            {
                @Html.AntiForgeryToken();
        <div class="form-horizontal">
            <fieldset>
                @*Show the custom validation summary*@
                @Html.DisplayFor((model) => ViewData.ModelState)

                <div class="form-group has-feedback">
                    @Html.LabelFor((model) => model.Name, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.EditorFor((model) => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor((model) => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor((model) => model.Description, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.EditorFor((model) => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor((model) => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor((model) => model.CategoryIDs, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.ListBoxFor((model) => model.CategoryIDs, Model.AllCategories, new { @class = "form-control", multiple = "" })
                        @Html.ValidationMessageFor((model) => model.CategoryIDs, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="StartDate">Auction Dates</label>
                            <div class="col-sm-6">
                                @Html.EditorFor((model) => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor((model) => model.StartDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-sm-1" for="StartDate">to</label>
                            <div class="col-sm-6">
                                @Html.EditorFor((model) => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor((model) => model.EndDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>*@

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Preview" class="btn btn-primary" />
                    </div>
                </div>
            </fieldset>
        </div>
            }
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
<script>
        $(function () {
            data.Asset.CreateInit();
        });
</script>
}
