@model ViewAssetDetailsModel
@{
    ViewData["Title"] = Model.Name;
}

@if (Model.State == Sentry.data.Core.AssetState.Unknown)
{
<div class="alert alert-success" role="alert" id="SubmitForApprovalAlert">
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Please review your new listing, and then
    <button type="button" class="btn btn-default" id="SubmitForApproval">Submit for Approval</button>
</div>
}

<div class="panel panel-default">
    <div class="panel-body">

        <div class="col-sm-8">
            <h2>@Html.DisplayFor((model) => model.Name)</h2>
            <div class="small">
                @foreach (Sentry.data.Web.BaseCategoryModel cat in Model.Categories)
                {
                    @cat.FullName<br />
                }
            </div>
            <hr />
            <p>@Html.DisplayFor((model) => model.Description)</p>
        </div>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
<script>
        $(function () {
            data.Asset.DetailsInit(@Model.Id);
        });
</script>
}
