@model List<Sentry.data.Core.DataFeedItem>

@{ 
    Boolean CanEditDataset = ViewBag.CanEditDataset;
}

@if (Model.Count == 0)
{
    <div class="noFavoriteBox favoriteCenter">
        <div class="noFavoriteMessage"><h5>There are no favorites to list. <br /><br />  Be a data adventurer... start exploring!</h5></div>
    </div>
}

@foreach (Sentry.data.Core.DataFeedItem item in Model)
{
    <div class="col-sm-12 col-lg-12 favorite" style="width:95%;">
        <div class="col-lg-1 favoriteTypeIcon">
            @if (item.Feed.Name == "Datasets" || item.Feed.Name == "Data Assets" || item.Feed.Name == "Business Intelligence")
            {
                <img src="@item.Img" class="feedImg" style="width: 20px; filter: invert(100%); opacity: 0.999" />
            }
            else
            {
                <img src="@item.Img" class="feedImg favoriteTypeIcon" />
            }
        </div>
        <div class="col-sm-9 col-lg-10">
        @if (item.Title.Length > 50)
        {
            if (item.Feed.Name == "Business Intelligence" && item.Feed.UrlType == "file")
            {
                <a onclick='GetFile("@item.Feed.Url.Replace(@"\",@"\\")");event.preventDefault();' href="#" class="pointer"><h5 data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.Title">@item.DisplayTitle()</h5></a>
            }
            else if (item.Feed.Name == "Business Intelligence" && item.Feed.UrlType != "file")
            {
                <a href="@item.Feed.Url" target="_blank" class="pointer"><h5 data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.Title">@item.DisplayTitle()</h5></a>
            }
            else
            {
                <a href="@item.Url" target="_blank" class="pointer"><h5 data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.Title">@item.DisplayTitle()</h5></a>
            }
        }
        else
        {
            if (item.Feed.Name == "Business Intelligence" && item.Feed.UrlType == "file")
            {
                <a onclick='GetFile("@item.Feed.Url.Replace(@"\",@"\\")");event.preventDefault();' href="#" class="pointer"><h5>@item.DisplayTitle()</h5></a>
            }
            else if (item.Feed.Name == "Business Intelligence" && item.Feed.UrlType != "file")
            {
                <a href="@item.Feed.Url" target="_blank" class="pointer"><h5>@item.DisplayTitle()</h5></a>
            }
            else
            {
                <a href="@item.Url" target="_blank" class="pointer"><h5>@item.DisplayTitle()</h5></a>
            }
        }
        </div>
        <div style="float: right; font-size: 1.5em">            
            <i class="glyphicon glyphicon-remove" onclick="RemoveFavorite(this)" id="deleteFavorite" data-id="@item.Feed.Id"></i>
        </div>
    </div>
}
