@model List<FavoriteItemModel>


@if (Model.Count == 0)
{
    <div class="noFavoriteBox favoriteCenter">
        <div class="noFavoriteMessage"><h5>There are no favorites to list.<br /><br />Be a data adventurer... start exploring!</h5></div>
    </div>
}

@foreach (FavoriteItemModel item in Model)
{
    <div class="display-table">
        <div class="display-tablecell text-middle">
            <img src="@item.Img" />
        </div>
        <div class="display-tablecell text-middle">
            @if (item.FeedName == "Business Intelligence" && item.FeedUrlType == "file")
            {
                <a class="favorite-file" onclick='GetFile("@item.FeedUrl.Replace(@"\",@"\\")", @item.FeedId);event.preventDefault();' href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.Title">@item.DisplayTitle</a>
            }
            else if (item.FeedName == "Business Intelligence" && item.FeedUrlType != "file")
            {
                <a class="favorite-link" data-id="@item.FeedId" data-type="@item.FeedUrlType" href="@item.FeedUrl" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.Title">@item.DisplayTitle</a>
            }
            else
            {
                <a class="favorite-link" data-id="@item.FeedId" data-type="@item.FeedUrlType" href="@item.Url" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.Title">@item.DisplayTitle</a>
            }
        </div>
    </div>
}