@model List<Sentry.data.Core.DataFeedItem>

@{
    string color = "sentry-dark-green-text";
    string colorHeader = "green";
}

@foreach (Sentry.data.Core.DataFeedItem item in Model)
{
<div class="feedItem">

    <div class="display-table">
        <div class="display-tablecell text-middle">
            <img src="@item.Img" class="feedImg" />
        </div>
        <div class="display-tablecell text-middle">

            @if (item.Feed.Name == Sentry.data.Core.GlobalConstants.DataFeedName.NOTIFICATION)
            {
                <div class="feedName lt_@colorHeader">@item.Feed.Category</div>
            }
            else
            {
                <div class="feedName lt_@colorHeader">@item.Feed.Name</div>
            }

        </div>
    </div>

    <p class="feed-date">@Sentry.data.Web.Helpers.Utility.TimeDisplay(item.PublishDate)</p>

    @if (item.Feed.Name == Sentry.data.Core.GlobalConstants.DataFeedName.NOTIFICATION)
    {
        <h6 class="@color pt-0" data-toggle="tooltip" data-placement="top" title="">@item.NotificationTitle</h6>
    }
    else if (item.Feed.Name == Sentry.data.Core.GlobalConstants.DataFeedName.DATASET || item.Feed.Name == Sentry.data.Core.GlobalConstants.DataFeedName.SCHEMA || item.Feed.Name == Sentry.data.Core.GlobalConstants.DataFeedName.BUSINESS_INTELLIGENCE)
    {
        <a href="@item.Url" target="_blank" class="pointer @color">@item.DisplayTitle()</a>
    }


</div>
}