@model List<Sentry.data.Core.DataFeedItem>

@{ 
    string color = "green";
}

@if (Model.Count == 0)
{
    <div class="noFeedBox feedCenter">
        <div class="glyphicon glyphicon-warning-sign noFeedIcon"></div>
        <div class="noFeedMessage">Oops! There was a problem loading the feed</div>
    </div>
}

@foreach(Sentry.data.Core.DataFeedItem item in Model)
{
    <div class="feedItem">
        <img src="@item.Img" class="feedImg" />
        <div class="feedName lt_@color">@item.Feed.Name</div>

        @if (item.Title.Length > 50)
        {
            <h5 class="@color" data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.Title">@item.DisplayTitle()</h5>
        }
        else
        {
            <h5 class="@color">@item.DisplayTitle()</h5>
        }

        <a href="@item.Url" target="_blank" class="pointer">Read More</a>
        <p class="rightFloat">@item.PublishDate.ToShortDateString()</p>
    </div>
}

