@model Sentry.data.Web.RemovePermissionModel
@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = "RemovePermission";
}

@using (Html.BeginForm("SubmitRemovePermissionRequest", "Dataset", FormMethod.Post, new { @id = "RemovePermissionRequestForm" }))
{
    <div class="modal fade" id="removePermissionModal" tabindex="-1" role="dialog" aria-labelledby="removePermissionModalTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="removePermissionModalTitle">Remove Permission</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="RemovePermissionRequestResult" class="d-none modal-body">

                </div>
                <div class="modal-body pt-0" id="RemovePermissionModalForm">
                    <h6 class="pt-0" id="RemovePermissionMessage"></h6>
                    <div class="alert alert-danger d-none" id="removePermissionValidationMessage" role="alert">
                        Business Reason and Approver are required.
                    </div>
                    @Html.HiddenFor(model => model.SecurableObjectId)
                    @Html.HiddenFor(model => model.SaidKeyCode)
                    @Html.HiddenFor(model => model.TicketId)
                    @Html.HiddenFor(model => model.Code)
                    <div class="md-form pt-0 mt-0">
                        @Html.TextBoxFor(model => model.Identity, new { @readonly = "readonly", @class = "form-control" })
                        <label for="Identity" class="" id="identityLabel">Identity (Readonly)</label>
                    </div>
                    <div class="md-form">
                        @Html.TextBoxFor(model => model.Scope, new { @readonly = "readonly", @class = "form-control" })
                        <label for="Scope" class="" id="scopeLabel">Scope (Readonly)</label>
                    </div>
                    <div class="md-form">
                        @Html.TextBoxFor(model => model.Permission, new { @readonly = "readonly", @class = "form-control" })
                        <label for="Permission" class="" id="permissionLabel">Permission (Readonly)</label>
                    </div>
                    <div class="md-form">
                        @Html.LabelFor(model => model.BusinessReason, new { @class = "disabled"})
                        @Html.TextAreaFor(model => model.BusinessReason, new { @class = "md-textarea w-100" })
                    </div>
                    <div class="md-form">
                        @Html.LabelFor((model) => model.SelectedApprover, new { @class = "mdb-main-label" })
                        @Html.DropDownListFor((model) => model.SelectedApprover, Model.AllApprovers, new { @class = "mdb-select" })
                    </div>
                    <div id="RemovePermissionScopeContainer">
                        <div class="alert alert-danger" role="alert">
                            <i class="fas fa-exclamation-triangle pr-2"></i>This will remove access to the following datasets:
                        </div>
                        <ul>
                            @foreach (string datasetName in Model.DatasetNamesForAsset)
                            {
                                <li>@datasetName</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="modal-footer" id="RemovePermissionModalButtons">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="removePermissionModalSubmit">Create Ticket</button>
                </div>
            </div>
        </div>
    </div>
}