@model Sentry.data.Web.ManagePermissionsModel
@{
    ViewBag.Title = "Manage Dataset Permissions";
}

@section styles
{
    <link rel="stylesheet" href="@Html.GetContent("datatables_css.*.css")" />
}

<div class="mt-2">
    <a href="@Url.Action("Detail", "Dataset", new {id=Model.DatasetId})" id="linkReturnToDatasetDetails"><span class="icon-chevron-left pr-3"></span>Back to Dataset Details</a>
</div>


<div class="container">
    <div class="row">
        <div class="col-11 pl-0">
            <!-- Dataset Name and Request Access-->
            <h2 class="pt-2 mb-1" value="@Model.DatasetId" id="DatasetHeader">
                <em id="ManagePermissionDatasetName" class="font-style-normal">@Model.DatasetName</em> - Manage Permissions
            </h2>
        </div>
        <div class="col-1 pr-0">
            <div class="text-right">
                <a class="btn px-3"
                   id="RequestAccessButton" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="top" title="Request Additional Access">
                    <em class="fas fa-user-plus dsc-icon-button mr-0 sentry-dark-blue-text align-middle" id=""></em>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <h5 class="pt-0">Permission Inheritance from @Model.DatasetSaidKeyCode: </h5>
        <div class="switch pl-2" id="inheritanceSwitch" value="@Model.InheritanceTicket.TicketStatus">
            <label class="pb-0">
                Off
                <input type="checkbox" id="inheritanceSwitchInput">
                <span class="lever" id="inheritanceLever"></span>
                On
            </label>
        </div>
    </div>

    @foreach (var pair in new Dictionary<string, IList<ManagePermissionModel>> { { "DSC Permissions", Model.DscPermissions }, { "Snowflake Permissions", Model.SnowflakePermissions }, { "S3 Permissions", Model.AwsIamPermissions } })
    {
        <div class="row">
            <h5 class="pt-3 pb-2">@pair.Key</h5>
        </div>
        <div class="row">
            <table class="table table-bordered table-hover table-striped wrap dataTable no-footer" id="@pair.Key.Replace(" ", "")" aria-label="@pair.Key">
                <thead>
                    <tr role="row">
                        <th scope="col">Scope</th>
                        <th scope="col">Identity</th>
                        <th scope="col">Permission</th>
                        <th scope="col">Status</th>
                        <th class="d-none" scope="col">Code</th>
                        <th scope="col">Approval Ticket</th>
                        <th scope="col">@(pair.Key == "S3 Permissions" ? "Jira Ticket" : "DBA Ticket")</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (pair.Value.Any())
                    {
                        foreach (var permission in pair.Value)
                        {
                            <tr id="@permission.TicketId">
                                <td class="permissionScope">@permission.Scope</td>
                                <td class="permissionIdentity">@permission.Identity</td>
                                <td class="permissionDescription">@permission.PermissionDescription</td>
                                <td class="permissionStatus"><span title="Change #@permission.TicketId">@permission.PermissionStatus</span></td>
                                <td class="permissionCode d-none">@permission.Code</td>
                                <td class="approvalTicket">@(permission.TicketId == "DEFAULT_SECURITY" || permission.TicketId == "DEFAULT_SECURITY_INHERITANCE" ? "Default Security" : permission.TicketId)</td>
                                <td class="externalTicket">@(string.IsNullOrEmpty(permission.ExternalRequestId) ? "No External Request Found" : permission.ExternalRequestId)</td>
                                <td>
                                    @if (!permission.IsSystemGenerated && !(permission.PermissionStatus != "Active"))
                                    {<em class="far fa-trash-alt removePermissionIcon"></em>}
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No permissions found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <!-- Request Inheritance Modal -->
    @Html.Partial("Permission/_RequestInheritanceModal", Model.InheritanceRequest)
    @Html.Partial("Permission/_RemovePermissionModal", Model.RemovePermissionRequest)

</div>

@section Scripts {
    <script src="@Html.GetContent("datatables.*.js")"></script>
    <script>
        $(function () {
            data.Dataset.managePermissionsInit();
        });
    </script>
}
