@model Sentry.data.Web.ManagePermissionsModel
@{
    ViewBag.Title = "Manage Dataset Permissions";
}

<div class="mt-2">
    <a href="@Url.Action("Detail", "Dataset", new {id=Model.DatasetId})" id="linkReturnToDatasetDetails"><span class="icon-chevron-left pr-3"></span>Back to Dataset Details</a>
</div>


<div class="container">
    <div class="row">
        <div class="col-12 pl-0">
            <!-- Dataset Name and Request Access-->
            <h2 class="pt-2 mb-1" value="@Model.DatasetId" id="DatasetHeader">
                <em id="ManagePermissionDatasetName" class="font-style-normal">@Model.DatasetName</em> - Manage Permissions
            </h2>

        </div>
    </div>

    <div class="row">
        <h5 class="pt-0">Permission Inheritance from @Model.DatasetSaidKeyCode: </h5>
        <div class="switch pl-2" id="inheritanceSwitch" value="@Model.InheritanceTicket.TicketStatus">
            <label class="pb-0">
                Off
                <input type="checkbox" id="inheritanceSwitchInput">
                <span class="lever" id="inheritanceLever"></span>
                On
            </label>
        </div>
    </div>

    @foreach (var pair in new Dictionary<string, IList<ManagePermissionModel>> { { "DSC Permissions", Model.DscPermissions }, { "Snowflake Permissions", Model.SnowflakePermissions }, { "S3 Permissions", Model.AwsIamPermissions } })
    {
        <div class="row">
            <h6 class="pt-3">@pair.Key</h6>
        </div>
        <div class="row">
            <table class="table dsc-blue-table table-bordered table-hover nowrap" id="permissionsTable" aria-label="@pair.Key">
                <thead>
                    <tr class="table-header">
                        <th scope="col">Scope</th>
                        <th scope="col">Identity</th>
                        <th scope="col">Permission</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (pair.Value.Any())
                    {
                        foreach (var permission in pair.Value)
                        {
                            <tr>
                                <td>@permission.Scope</td>
                                <td>@permission.Identity</td>
                                <td>@permission.PermissionDescription</td>
                                <td><span title="Change #@permission.TicketId">@permission.PermissionStatus</span></td>
                                <td></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No permissions found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <!-- Request Inheritance Modal -->
    @Html.Partial("Permission/_RequestInheritanceModal", Model.InheritanceRequest)
    @Html.Partial("Permission/_RemovePermissionModal", Model.RemovePermissionRequest)

</div>

@section Scripts {
    <script>
        $(function () {
            data.Dataset.managePermissionsInit();
        });
    </script>
}
