@model Sentry.data.Web.DatasetAccessRequestModel

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "RequestAccess";
}

@using (Html.BeginForm("SubmitAccessRequestCLA3723", "Dataset", FormMethod.Post, new { @id = "AccessRequestForm" }))
{
    <div id="RequestAccessLoading" class="d-none text-center">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="RequestAccessBody">
        <span class="hidden-item" id="consumeDatasetGroupName">@Model.ConsumeDatasetGroupName</span>
        <span class="hidden-item" id="producerDatasetGroupName">@Model.ProducerDatasetGroupName</span>
        <span class="hidden-item" id="consumeAssetGroupName">@Model.ConsumeAssetGroupName</span>
        <span class="hidden-item" id="producerAssetGroupName">@Model.ProducerAssetGroupName</span>

        <ol class="breadcrumb p-0 mb-1" id="RequestAccessBreadcrumb">
        </ol>
        <div id="RequestAccessToSection" class="requestAccessStage">
            <button id="RequestAccessToDatasetBtn" type="button" class="btn btn-default waves-effect waves-light requestAccessButton btn-block" value="@Model.SecurableObjectId">Request Access to <em id="RequestAccessDatasetName" class="font-style-normal">@Model.DatasetName Dataset</em></button>
            @if (!Model.InheritanceStatus)
            {
                <div id="InheritanceWarningWrapper" data-title="Asset level permissions are not enabled for this dataset"> <!-- Use wrapper because disabled buttons block tooltips due to some pointer css -->
                    <button type="button" class="btn btn-default waves-effect waves-light requestAccessButton btn-block" disabled>
                        <em id="RequestAccessInheritanceWarning" class="fas fa-exclamation-triangle pr-1"></em>
                        Request Access to all @Model.SaidKeyCode Datasets
                    </button>
                </div>
            }
            else
            {
                <button id="RequestAccessToAssetBtn" type="button" class="btn btn-default waves-effect waves-light requestAccessButton btn-block"value="@Model.SaidKeyCode">
                    Request Access to all <em id="RequestAccessAssetName" class="font-style-normal">@Model.SaidKeyCode</em> Datasets
                </button>
            }


        </div>
        <div id="RequestAccessTypeSection" class="d-none requestAccessStage">
            <button id="RequestAccessTypeConsumeBtn" type="button" class="btn btn-default waves-effect waves-light requestAccessButton btn-block">Request Consumer/Query Access</button>
            <button id="RequestAccessTypeManageBtn" type="button" class="btn btn-default waves-effect waves-light requestAccessButton btn-block">Request Producer/Admin Access</button>
        </div>
        <div id="RequestAccessConsumerTypeSection" class="d-none requestAccessStage">
            @if (!Model.IsProd)
            {
                <div class="alert alert-warning mb-1" role="alert">
                    AD Groups must be requested in non-prod environments. See <a target="_blank" href="https://confluence.sentry.com/display/CLA/Dataset+Access">Here</a>.
                </div>
            }
            <h6 class="pt-1">To Query via Snowflake:</h6>
            <p class="mb-0">Request the entitlement for both normal and RA accounts.</p>
            <div class="btn-group" role="group">
                <button id="RequestAccessConsumeMyAccessBtn" type="button" onclick="window.open('https://myaccess.sentry.com/','_blank')" class="btn btn-default waves-effect waves-light requestAccessButton ml-0">Use MyAccess to Request <em id="RequestAccessConsumeEntitlement" class="font-style-normal"></em></button>
                <button id="RequestAccessConsumeCopyBtn" type="button" class="w-20 btn btn-default waves-effect waves-light requestAccessButton mr-0" data-toggle="tooltip" data-placement="right" title="Copy to clipboard" data-original-title="Copy to clipboard" md-z-index="9999"><i class="far fa-copy fa-2x"></i></button>
            </div>
            <h6 class="pt-1">To Query S3 Files Directly:</h6>
            <button id="RequestAccessConsumeAwsBtn" type="button" class="btn btn-default waves-effect waves-light requestAccessButton btn-block">Request AWS IAM Access</button>
            <h6 class="pt-1">To Request Access for a Service Account:</h6>
            <button id="RequestAccessConsumeSnowflakeBtn" type="button" class="btn btn-default waves-effect waves-light requestAccessButton btn-block">Request Snowflake Account Access</button>
        </div>
        <div id="RequestAccessManageTypeSection" class="d-none requestAccessStage">
            @if (!Model.IsProd)
            {
                <div class="alert alert-warning mb-1" role="alert">
                    AD Groups must be requested in non-prod environments. See <a target="_blank" href="https://confluence.sentry.com/display/CLA/Dataset+Access">Here</a>.
                </div>
            }
            <h6 class="pt-1">To Request Manage Access:</h6>
            <p class="mb-0">Request the entitlement for both normal and RA accounts.</p>
            <div class="btn-group" role="group">
                <button id="RequestAccessManageMyAccessBtn" type="button" onclick="window.open('https://myaccess.sentry.com/','_blank')" class="btn btn-default waves-effect waves-light requestAccessButton">Use MyAccess to Request <em id="RequestAccessManageEntitlement" class="font-style-normal"></em></button>
                <button id="RequestAccessManageCopyBtn" type="button" class="w-20 btn btn-default waves-effect waves-light requestAccessButton material-tooltip-main" data-toggle="tooltip" data-placement="right" title="Copy to clipboard" data-original-title="Copy to clipboard"><i class="far fa-copy fa-2x"></i></button>
            </div>
        </div>
        <div id="RequestAccessFormSection" class="d-none requestAccessStage">
            <div class="alert alert-danger d-none" id="AccessRequestValidationMessage" role="alert">
                All fields are required.
            </div>
            <div class="alert alert-danger d-none" id="AccessRequestAwsArnValidationMessage" role="alert">
                AWS ARN must be properly formatted.
            </div>
            <div class="alert alert-danger d-none" id="AccessRequestSnowflakeValidationMessage" role="alert">
                Snowflake Account name is required and must be less than 255 characters.
            </div>
            @Html.HiddenFor(m => m.Type)
            @Html.HiddenFor(m => m.Scope)
            @Html.HiddenFor(m => m.SecurableObjectId)
            <div class="md-form d-none" id="AwsArnForm">
                @Html.LabelFor(model => model.AwsArn, new { @class = "" })
                @Html.TextBoxFor(model => model.AwsArn, new { @class = "form-control" })
            </div>
            <div class="md-form d-none" id="SnowflakeAccountForm">
                @Html.LabelFor(model => model.SnowflakeAccount, new { @class = "" })
                @Html.TextBoxFor(model => model.SnowflakeAccount, new { @class = "form-control" })
            </div>
            <div class="md-form">
                @Html.LabelFor(model => model.BusinessReason, new { @class = "disabled" })
                @Html.TextAreaFor(model => model.BusinessReason, new { @class = "md-textarea w-100" })
            </div>
            <div class="md-form">
                @Html.LabelFor((model) => model.SelectedApprover, new { @class = "mdb-main-label" })
                @Html.DropDownListFor((model) => model.SelectedApprover, Model.AllApprovers, new { @class = "mdb-select" })
            </div>
        </div>
        <button type="button" class="btn btn-primary d-none float-right" id="RequestAccessSubmit">Create Ticket</button>
        <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
    </div>
}