@model UserAddressModel

<div class="form-group">
    @Html.LabelFor((model) => model.Street, new {@class = "control-label col-sm-2"})
    <div class="col-sm-10">
        @Html.EditorFor((model) => model.Street, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor((model) => model.Street, "", new {@class = "text-danger"})
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor((model) => model.City, new {@class = "control-label col-sm-4"})
            <div class="col-sm-8">
                @Html.EditorFor((model) => model.City, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor((model) => model.City, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            @Html.LabelFor((model) => model.State, new {@class = "control-label col-sm-4"})
            <div class="col-sm-8">
                @Html.EditorFor((model) => model.State, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor((model) => model.State, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor((model) => model.ZipCode, new {@class = "control-label col-sm-4"})
            <div class="col-sm-8">
                @Html.EditorFor((model) => model.ZipCode, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor((model) => model.ZipCode, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>
</div>
