@model Sentry.data.Web.CompressionModel
@using (Html.BeginCollectionItem("CompressionJob"))
{
    <div class="compressionJobQuestion">
        <div id="compressionJobQuestion">
            <div class="md-form">
                @Html.LabelFor(model => model.CompressionType, htmlAttributes: new { @class = "mdb-main-label" })
                @Html.DropDownListFor(model => model.CompressionType, Model.CompressionTypesDropdown, new { @class = "mdb-select", })
                @Html.ValidationMessageFor(model => model.CompressionType, "", new { @class = "text-danger" })
            </div>

            @Html.HiddenFor(model => model.FileNameExclusionList)
            @Html.HiddenFor(model => model.NewFileNameExclusionList)
        </div>
    </div>
}