@model Sentry.data.Web.CompressionModel
@using (Html.BeginCollectionItem("CompressionJob"))
{
    <div class="compressionJobQuestion">
        @*<div class="form-group configQuestion">
            <div class="col-md-12">
                <hr />
                <h6>Do files need to be decompressed?</h6>
            </div>
        </div>*@

        @*<div class="form-group questionDescription">
            <div class="col-md-12">
                <span class="text-muted">
                    <em>Compressed files can be decompressed as part of the retrieval processes if needed.  Contents of compressed file will be loaded into this Schema.</em>
                </span>
            </div>
        </div>*@

        <hr />
        <div id="compressionJobQuestion">
            <div class="form-group">
                @Html.LabelFor(model => model.CompressionType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CompressionType, Model.CompressionTypesDropdown, new { @class = "form-control edit-dataset-row", })
                    @Html.ValidationMessageFor(model => model.CompressionType, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.FileNameExclusionList)
            @Html.HiddenFor(model => model.NewFileNameExclusionList)

            @*<div class="form-group">
                <label class="control-label col-md-2" style="font-weight: 100;">File Names to Exclude</label>
                <div id="fileNamePanel" class="col-md-10">

                    @foreach (String a in Model.FileNameExclusionList.ToList())
                    {
                        <div>
                            <input class="form-control edit-dataset-row fileNameExclusion" style="display: inline-block; width: 80%;" value="@a" />
                            <a class="removeFileName" style="display: inline-block; margin-left: 10px;"><span class="glyphicon glyphicon-minus"></span> Remove File Name</a>
                        </div>
                    }

                    <div>
                        <input class="form-control edit-dataset-row fileNameExclusion" style="display: inline-block; width: 80%;" />
                        <a class="removeFileName" style="display: inline-block; margin-left: 10px;"><span class="glyphicon glyphicon-minus"></span> Remove File Name</a>
                    </div>
                </div>
            </div>

            <div class="form-group fieldDescription">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <span class="text-muted">
                        <em>This is optional.  If no names are provided, all files contined within the compressed file will be uploaded to this config.</em>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <a class="addFileName"><span class="glyphicon glyphicon-plus"></span> Add File to Exclude</a>
                </div>
            </div>*@
        </div>
    </div>
}