@model Sentry.data.Web.DataFlowModel
<div class="md-form">
    <h4>What Named Environment will be sending data?</h4>
    <span id="DataFlowNamedEnvironmentSpinner"></span>
    @if (Model.DataFlowNamedEnvironmentDropDown.Any())
    {
        @Html.DropDownListFor(x => x.DataFlowNamedEnvironment, Model.DataFlowNamedEnvironmentDropDown, new { @class = "mdb-select" })
    }
    else
    {
        @Html.TextBoxFor(x => x.DataFlowNamedEnvironment, new { @class = "form-control" })
    }

    @Html.ValidationMessageFor(model => Model.DataFlowNamedEnvironment, "", new { @class = "text-danger" })
</div>

<div class="md-form">
    <h4>What type of environment is this?</h4>
    <span id="DataFlowNamedEnvironmentSpinner"></span>
    @if (Model.DataFlowNamedEnvironmentDropDown.Any())
    {
        @Html.DropDownListFor(x => x.DataFlowNamedEnvironmentType, Model.DataFlowNamedEnvironmentTypeDropDown, new { @class = "mdb-select", @disabled = "true" })
    }
    else
    {
        @Html.DropDownListFor(x => x.DataFlowNamedEnvironmentType, Model.DataFlowNamedEnvironmentTypeDropDown, new { @class = "mdb-select" })
    }
    @Html.HiddenFor(x => x.DataFlowNamedEnvironmentType)
</div>

