@model RequestVariableModel

<div class="request-variable-row">
    @using (Html.BeginCollectionItem("RetrieverJob.RequestVariables"))
    {
        @Html.HiddenFor(model => model.Index)

        <div class="md-form w-100 mr-3 mb-0">
            @Html.LabelFor(model => model.VariableName, htmlAttributes: new { @class = "control-label active" })
            @Html.TextBoxFor(model => model.VariableName, new { @class = "form-control", @placeholder = "Exclude ~[ ]~" })
            @Html.ValidationMessageFor(model => model.VariableName, "", new { @class = "text-danger" })
        </div>

        <div class="md-form w-100 mr-3 mb-0">
            @Html.LabelFor(model => model.VariableValue, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.VariableValue, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VariableValue, "", new { @class = "text-danger" })
        </div>

        <div class="md-form w-75 mr-3 mb-0 includes-tooltip" data-toggle="tooltip" data-placement="left" title="Variable value will be incremented as selected each scheduled run time">
            @Html.LabelFor(model => model.VariableIncrementType, htmlAttributes: new { @class = "mdb-main-label" })
            @Html.DropDownListFor(model => model.VariableIncrementType, Model.VariableIncrementTypeDropdown, new { @class = "mdb-select" })
            @Html.ValidationMessageFor(model => model.VariableIncrementType, "", new { @class = "text-danger" })
        </div>

        <a class="icon-trash red-delete-icon remove-request-variable"></a>
    }
</div>
