@model List<DFModel>

@{
    ViewBag.Title = "Data Flows";
}

<center>
    <h2 style="margin: 80px;">Listing of all dataset management data flows</h2>
    @foreach (DFModel flow in Model)
        {
        <div class="col-lg-12">
            <div class="col-lg-1"><span><strong>ID: </strong> <a href="\DataFlow\@flow.Id\Detail\">@flow.Id</a></span></div>
            <div class="col-lg-4"><span><strong>GUID: </strong> @flow.FlowGuid</span></div>
            <div class="col-lg-3"><span><strong>NAME: </strong> @flow.Name</span></div>
            <div class="col-lg-3"><span><strong>STORAGE CODE: </strong> @flow.FlowStorageCode</span></div>
            @*@Html.Display(item => flow, flow.FlowGuid)*@
            @*@Html.DisplayFor(item => flow, flow.Name)
            @Html.DisplayFor(item => flow, flow.CreatedDTM)
            @Html.DisplayFor(item => flow, flow.CreatedBy)*@
        </div>
        }
</center>