@model List<DFModel>

@{
    ViewBag.Title = "Data Flows";
}

    <center>
        <h2 style="margin: 80px;">Listing of all dataset management data flows</h2>

        <div class="col-lg-12">
            <div class="col-lg-1"><strong>ID</strong></div>
            <div class="col-lg-3"><strong>GUID</strong></div>
            <div class="col-lg-3"><strong>NAME</strong></div>
            <div class="col-lg-3"><strong>STORAGE CODE</strong></div>
            <div class="col-lg-2"><strong>STATUS</strong></div>
        </div>
        @foreach (DFModel flow in Model)
        {
            <div class="col-lg-12">
                <div class="col-lg-1"><span><a href="\DataFlow\@flow.Id\Detail\">@flow.Id</a></span></div>
                <div class="col-lg-3"><span>@flow.FlowGuid</span></div>
                <div class="col-lg-3"><span>@flow.Name</span></div>
                <div class="col-lg-3"><span> @flow.FlowStorageCode</span></div>
                <div class="col-lg-2"><span>@flow.ObjectStatus.ToString()</span></div>
            </div>
        }
    </center>