@model Sentry.data.Web.CreateAssetNotificationModel
@{
    ViewBag.Title = "Create Asset Notification";
}

<div class="topBanner">
    <div>
        <a class="backToList" href="/DataAsset/ManageAssetNotification"><span class="glyphicon glyphicon-chevron-left"></span>Back to Previous Page</a>
    </div>
</div>

<h1>Create Data Asset Notification</h1>

<hr />

@using (Html.BeginForm("CreateAssetNotification", "DataAsset", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CreateUser)

    <div class="form-horizontal">
        @Html.DisplayFor((model) => ViewData.ModelState)

        @Html.HiddenFor(model => model.NotificationId)
        @*@Html.DisplayFor((model) => ViewData.ModelState)*@

        <br />

        <div class="form-group">
            @Html.LabelFor((model) => model.DataAssetID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DataAssetID, Model.AllDataAssets, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DisplayCreateUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.DisplayCreateUser.FullName, new { @disabled = "disabled", @class = "form-control edit-dataset-row" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control edit-dataset-row", @style = "width: 92%; display: inline-block;" })
                <span class="input-group-addon" style="display: inline-block;">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ExpirationTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ExpirationTime, new { @class = "form-control edit-dataset-row", @style = "width: 92%; display: inline-block;" })
                <span class="input-group-addon" style="display: inline-block;">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor((model) => model.SeverityID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SeverityID, Model.AllSeverities, new { @class = "form-control edit-dataset-row" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor((model) => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor((model) => model.Message, new { @class = "form-control edit-dataset-row" })
            </div>
        </div>
        <div class="form-group">
            <span class="text-muted"><em>** Fields in <b>Bold</b> are Required</em></span>
        </div>
        <br />
        <div class="form-group">
            <div>
                <input type="submit" value="Create Notification" class="btn btn-primary" />
                <a class="btn btn-warning" href="/DataAsset/ManageAssetNotification">Cancel</a>
            </div>

        </div>
    </div>
}
@section Scripts {
    <script>

        $(function () {
            $('#StartTime').datetimepicker();
            $('#ExpirationTime').datetimepicker();
        });

    </script>
}