﻿@model Sentry.data.Web.SchemaMapModel

@* When save failure occur, this logic will ensure schemamaps marked as
    deleted will not show when page is reloaded *@
@{var isActive = "active";
    var displayType = "block";

    if (Model.IsDeleted)
    {
        isActive = "";
        displayType = "none";
    };
}

@if (Model.CLA3332_ConsolidatedDataFlows)
{
    @Html.HiddenFor((model) => model.IsDeleted)
    <div class="row">
        <div class="col">
            <span class="datasetSpinner"></span>
            @Html.DropDownListFor((model) => model.SelectedDataset, Model.AllDatasets, new { @class = "browser-default custom-select dataset-select" })
            @Html.ValidationMessageFor((model) => model.SelectedDataset, "", new { @class = "text-danger error-over-color" })
            <a class="small create-link" style="color: #00a3e0" id="CreateDataset">Create New Dataset</a>
        </div>
        <div class="col">
            <span class="schemaSpinner"></span>
            @Html.DropDownListFor((model) => model.SelectedSchema, Model.AllSchemas, new { @class = "browser-default custom-select schema-select" })
            @Html.ValidationMessageFor((model) => model.SelectedSchema, "", new { @class = "text-danger error-over-color" })

            @***************************************
            When removeing CLA3332_ConsolidatedDataflows feature flag, refactor style onto .create-link within dataflow.css
            ***************************************@
            <a class="small create-link" style="color: #00a3e0" id="CreateSchema">Create New Schema</a>
        </div>
    </div>


}
else
{
    <div class="schemaMapLineItem form-group col-md-12 @isActive" style="display: @displayType">
        @Html.HiddenFor((model) => model.IsDeleted)
        <div class="col-md-4">
            <span class="datasetSpinner"></span>
            @Html.DropDownListFor((model) => model.SelectedDataset, Model.AllDatasets, new { @class = "form-control edit-dataset-row" })
            @Html.ValidationMessageFor((model) => model.SelectedDataset, "", new { @class = "text-danger error-over-color" })
            <a class="small create-link" id="CreateDataset">Create New Dataset</a>
        </div>

        <div class="col-md-5">
            <span class="schemaSpinner"></span>
            @Html.DropDownListFor((model) => model.SelectedSchema, Model.AllSchemas, new { @class = "form-control edit-dataset-row" })
            @Html.ValidationMessageFor((model) => model.SelectedSchema, "", new { @class = "text-danger error-over-color" })
            <a class="small create-link" id="CreateSchema">Create New Schema</a>
        </div>
        <div id="btnSchemaMapRemove" class="col-md-1">
            <a class="btn btn-danger">Remove</a>
        </div>
    </div>
}


