﻿@model Sentry.data.Web.SchemaMapModel

@* When save failure occur, this logic will ensure schemamaps marked as
    deleted will not show when page is reloaded *@
@{
    var isActive = "active";
    var displayType = "block";

    if (Model.IsDeleted)
    {
        isActive = "";
        displayType = "none";
    };
}

@Html.HiddenFor((model) => model.IsDeleted)
<div class="row">
    <div class="col">
        <span class="datasetSpinner"></span>
        @Html.DropDownListFor((model) => model.SelectedDataset, Model.AllDatasets, new { @class = "browser-default custom-select dataset-select" })
        @Html.ValidationMessageFor((model) => model.SelectedDataset, "", new { @class = "text-danger error-over-color" })
        <a class="small create-link" id="CreateDataset">Create New Dataset</a>
    </div>
    <div class="col">
        <span class="schemaSpinner"></span>
        @Html.DropDownListFor((model) => model.SelectedSchema, Model.AllSchemas, new { @class = "browser-default custom-select schema-select" })
        @Html.ValidationMessageFor((model) => model.SelectedSchema, "", new { @class = "text-danger error-over-color" })
        <a class="small create-link"  id="CreateSchema">Create New Schema</a>
    </div>
</div>


