@model List<Sentry.data.Core.Category>

@{
    ViewBag.Title = "Datasets";
    int dsCount = (int)ViewData["dsCount"];
    Boolean CanEditDataset = (bool)ViewData["CanEditDataset"];
    Boolean CanUpload = (bool)ViewData["CanUpload"];
}

<center>
    @{
        var htmlAttrsObj = new { @class = "navbar-form navbar-center", @id = "DatasetSearch" };
        var htmlAttributes = HtmlHelper.AnonymousObjectToHtmlAttributes(htmlAttrsObj);
        using (Html.BeginForm(@"List\SearchPhrase", "Dataset", FormMethod.Get, htmlAttributes))
        {
                <div class="searchBox">
                    <input type="text" class="form-control searchText" id="SearchText" name="searchPhrase" placeholder="Search from @dsCount Datasets">
                    <button type="submit" class="btn btn-primary searchBtn"><span class="icon-search"></span></button>
                </div>
        }
    }

    <div class="partialCategory">
        <h4>
            Browse Dataset Categories
        </h4>
        <div class="index-card-table-div">
        @{
            int c = Model.Count();

            if (c == 1)
            {
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <div class="browse-category-card vertCenter bg_gray BG_@Model[0].Color" id="category_@Model[0].Name" data-category="@Model[0].Name">
                            <img src="~/Images/Category/@{@Model[0].Name}.svg" class="catImg" />
                            <h5 class="gray @Model[0].Color catTitle">@Model[0].Name (@ViewData[Model[0].Name + "Count"].ToString())</h5>
                        </div>
                    </div>
                </div>
            }
            else if (c == 2)
            {
                <div class="row">
                    <div class="col-xs-6">
                        <div class="browse-category-card vertCenter bg_gray BG_@Model[0].Color" id="category_@Model[0].Name" data-category="@Model[0].Name">
                            <img src="~/Images/Category/@{@Model[0].Name}.svg" class="catImg" />
                            <h5 class="gray @Model[0].Color catTitle">@Model[0].Name (@ViewData[Model[0].Name + "Count"].ToString())</h5>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="browse-category-card vertCenter bg_gray BG_@Model[1].Color" id="category_@Model[1].Name" data-category="@Model[1].Name">
                            <img src="~/Images/Category/@{@Model[1].Name}.svg" class="catImg" />
                            <h5 class="gray @Model[1].Color catTitle">@Model[1].Name (@ViewData[Model[1].Name + "Count"].ToString())</h5>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="hidden-xs">
                    @for (int i = 0; i < c; i++)
                    {
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="browse-category-card vertCenter bg_gray BG_@Model[i].Color" id="category_@Model[i].Name" data-category="@Model[i].Name">
                                    <img src="~/Images/Category/@{@Model[i].Name}.svg" class="catImg" />
                                    <h5 class="gray @Model[i].Color catTitle">@Model[i].Name (@ViewData[Model[i].Name + "Count"].ToString())</h5>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="browse-category-card vertCenter bg_gray BG_@Model[++i].Color" id="category_@Model[i].Name" data-category="@Model[i].Name">
                                    <img src="~/Images/Category/@{@Model[i].Name}.svg" class="catImg" />
                                    <h5 class="gray @Model[i].Color catTitle">@Model[i].Name (@ViewData[Model[i].Name + "Count"].ToString())</h5>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="browse-category-card vertCenter bg_gray BG_@Model[++i].Color" id="category_@Model[i].Name" data-category="@Model[i].Name">
                                    <img src="~/Images/Category/@{@Model[i].Name}.svg" class="catImg" />
                                    <h5 class="gray @Model[i].Color catTitle">@Model[i].Name (@ViewData[Model[i].Name + "Count"].ToString())</h5>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            @if (i + 1 == c - 1)
                            {
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <div class="browse-category-card vertCenter bg_gray BG_@Model[++i].Color" id="category_@Model[i].Name" data-category="@Model[i].Name">
                                        <img src="~/Images/Category/@{@Model[i].Name}.svg" class="catImg" />
                                        <h5 class="gray @Model[i].Color catTitle">@Model[i].Name (@ViewData[Model[i].Name + "Count"].ToString())</h5>
                                    </div>
                                </div>
                            }
                            @if (i + 2 == c - 1)
                            {
                                <div class="col-md-2"></div>
                                <div class="col-sm-4">
                                    <div class="browse-category-card vertCenter bg_gray BG_@Model[++i].Color" id="category_@Model[i].Name" data-category="@Model[i].Name">
                                        <img src="~/Images/Category/@{@Model[i].Name}.svg" class="catImg" />
                                        <h5 class="gray @Model[i].Color catTitle">@Model[i].Name (@ViewData[Model[i].Name + "Count"].ToString())</h5>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="browse-category-card vertCenter bg_gray BG_@Model[++i].Color" id="category_@Model[i].Name" data-category="@Model[i].Name">
                                        <img src="~/Images/Category/@{@Model[i].Name}.svg" class="catImg" />
                                        <h5 class="gray @Model[i].Color catTitle">@Model[i].Name (@ViewData[Model[i].Name + "Count"].ToString())</h5>
                                    </div>
                                </div>
                            }
                        </div>
                     }
                </div>

                <div class="outside">
                    <div class="visible-xs">
                        @for (int i = 0; i < c; i++)
                        {
                            <div class="inside">
                                <div class="browse-category-card vertCenter bg_gray BG_@Model[i].Color" id="category_@Model[i].Name" data-category="@Model[i].Name">
                                    <img src="~/Images/Category/@{@Model[i].Name}.svg" class="catImg" />
                                    <h5 class="gray @Model[i].Color catTitle">@Model[i].Name (@ViewData[Model[i].Name + "Count"].ToString())</h5>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
        </div>
    </div>
    @{
        if (CanEditDataset || CanUpload)
        {
            <div class="upload-row">
                <h4>
                    Quick Actions
                </h4>
                @if (CanEditDataset)
                {
                    <button type="button" class="btn btn-default btn-sm dataset-operation-button" id="CreateDataset">
                        <span class="fas fa-plus text-primary"></span> Create Dataset
                    </button>
                }
                @if (CanUpload)
                {
                    <button type="button" class="btn btn-default btn-sm dataset-operation-button" id="UploadDatafile">
                        <span class="fas fa-file-upload text-primary"></span> Upload Datafile
                    </button>
                }
            </div>
        }
    }

</center>
