@model Sentry.data.Web.BaseDatasetModel

@* the "category wrap" is the little tag printed diagonally in the upper right of each entry *@
<div class="category-type-wrap">
    <div class="category-type category-@{@Model.Category.ToLower()}">
        @Model.Category
    </div>
</div>

@* dataset name / search hits *@
<div class="dataset-list-content">
    <span class="dataset-list-dataset-name" id="datasetViewDetails_@Model.DatasetId" data-id="@Model.DatasetId">
        @Model.DatasetName
    </span>
    <span class="dataset-name-hover-popup" id="datasetViewDetailsHover_@Model.DatasetId" data-id="@Model.DatasetId">
        &nbsp; View Details &nbsp;
    </span>
    <span class="dataset-list-search-hits">
        @if (Model.SearchHitList.Count() > 0)
        {
            <span>
                [
                @{
                    var i = 0; var bar = "|";
                    foreach (string searchHit in @Model.SearchHitList)
                    {
                        if (i > 0)
                        {
                            @bar;
                        }
                        else
                        {
                            i += 1;
                        }
                        <i>
                            @searchHit.Trim()
                        </i>
                    }
                }
                ]
            </span>
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
    </span>
</div>

<div class="dataset-list-content">
    @*<div class="dataset-list-content-label">
        @Html.Label("Description:")
    </div>*@
    @*<div class="dataset-list-content-value">*@
        @{
            if (Model.DatasetDesc != null && Model.DatasetDesc.Trim().Length > 0)
            {
                @Html.DisplayFor(m => m.DatasetDesc)
            }
            else
            {
                <div>
                    (<i>No description found.</i>)
                </div>
            }
        }
    @*</div>*@
</div>

<div class="dataset-list-content">
</div>

<div class="dataset-list-content">
    <span class="custom-glyphiconz" aria-hidden="true" />
    <div class="dataset-list-content-label">
        @*<span class="download-link" id="DownloadDataset_@Model.UniqueKey" data-id="@Model.Id">
            &nbsp; @Html.ActionLink(Model.Extension.ToUpper(), "GetDownloadURL", new { UniqueKey = Model.UniqueKey }) &nbsp;
        </span>*@
        @*<span class="dataset-list-download-link" id="DownloadDataset_@Model.Id" data-id="@Model.EIdTag">
            &nbsp; @Model.Extension.ToUpper() &nbsp;
        </span>*@
        <button type="button" class="btn btn-default btn-sm dataset-operation-button" id="DownloadDataset_@Model.DatasetId" data-id="@Model.DatasetId">
            <span class="glyphicon glyphicon-cloud-download text-primary"></span> @Model.FileExtension.ToUpper()
        </button>
    </div>
    <div class="dataset-list-content-value">
        &nbsp;
    </div>
</div>
