@model Sentry.data.Web.ListDatasetModel


<ul class="list-unstyled" id="datasetList">
    @{
        foreach (var item in Model.DatasetList)
        {
            string color = item.DatasetCategory.Color;

            <li class="ul-dataset-list-item borderSide_gray borderSide_@color boxShadowSm">
                @* the "category wrap" is the little tag printed diagonally in the upper right of each entry *@
                <div class="category-type-wrap">
                    <div class="category-type categoryBanner-blue">
                        @item.Category
                    </div>
                </div>

                @* dataset name / search hits *@
                <div class="dataset-list-content">
                    @{
                        foreach (string fileExt in item.DistinctFileExtensions())
                        {
                            <div class="extension bg_gray ext_@fileExt">@fileExt</div>
                        }
                    }
                    @*<span class="dataset-list-dataset-name" id="datasetViewDetails_@Model.DatasetId" data-id="@Model.DatasetId">
                            @Model.DatasetName
                        </span>*@
                    <a href="@Url.Action("Detail", "Dataset", new { id = item.DatasetId })" class="dataset-list-dataset-name" 
                       id="datasetViewDetails_@item.DatasetId" data-id="@item.DatasetId">
                        @item.DatasetName
                    </a>
                </div>

                <div class="dataset-list-content">
                    <div class="dataset-list-content-label"></div>
                    <div class="dataset-list-content-value listDesc">
                        @{
                            if (item.DatasetDesc != null && item.DatasetDesc.Trim().Length > 0)
                            {
                                 @item.DatasetDesc
                            }
                            else
                            {
                                <div>
                                    (<i>No description found.</i>)
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="dataset-list-content">
                    <span class="custom-glyphiconz" aria-hidden="true" />
                    <div class="dataset-list-content-label">
                        @*<span class="download-link" id="DownloadDataset_@Model.UniqueKey" data-id="@Model.Id">
                            &nbsp; @Html.ActionLink(Model.Extension.ToUpper(), "GetDownloadURL", new { UniqueKey = Model.UniqueKey }) &nbsp;
                                </span><span class="download-link" id="DownloadDataset_@Model.UniqueKey" data-id="@Model.Id">
                            </span>*@
                        @*<span class="dataset-list-download-link" id="DownloadDataset_@Model.Id" data-id="@Model.EIdTag">
                                    &nbsp; @Model.Extension.ToUpper() &nbsp;
                                </span><span class="dataset-list-download-link" id="DownloadDataset_@Model.Id" data-id="@Model.EIdTag">
                            </span>*@
                        <div>
                            @{
                                if (item.IsSecured)
                                {
                                    <em class="fas fa-lock text-primary" data-toggle="tooltip" data-placement="bottom" title="Secure"></em>
                                }
                            }

                            <div class="ownerDate">
                                <span class="@color textBold ownerDate">Sentry Owner:&nbsp;</span>@item.SentryOwner.FullName
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @*<span class="@color textBold">File Changed:&nbsp;</span>@Sentry.data.Web.Helpers.Utility.TimeDisplay(Model.ChangedDtm)*@
                                <span class="@color textBold ownerDate">File Change Date:&nbsp;</span>@item.ChangedDtm.ToShortDateString()
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            }
        }
</ul>