@model Sentry.data.Web.BaseDatasetFileModel

@{ 
    //string color = Model.Dataset.DatasetCategory.Color;
}

<li class="ul-dataset-list-item borderSide_gray borderSide_blue boxShadowSm">
    <div class="dataset-list-content">
        <div class="dataset-list-content-label">

            @*@{
                if (Model.Dataset.IsPushToSASCompatible)
                {
                    <button type="button" class="btn btn-default btn-sm listItemButton" id="Pushtofilename_@Model.DatasetFileId" data-id="@Model.DatasetFileId" data-toggle="tooltip" data-placement="bottom" title="Push to SAS">
                        <img src="~/Images/sas_logo_min.png" class="img-responsive" />
                    </button>
                }
            }*@

            @*<span class="custom-glyphiconz" aria-hidden="true" />*@
            <p>@Model.FileName</p>
            <p>S3 Location: @Model.FileLocation</p>

            @*<a href="#" class="dataset-list-dataset-name" id="datasetViewDetails_@Model.DatasetFileId" data-id="@Model.DatasetFileId">
                @Model.FileName
            </a>*@
            <div>
                @*<i class="glyphicon glyphicon-lock text-primary" data-toggle="tooltip" data-placement="bottom" title="Secure"></i>*@
                <div>
                    <span class="blue textBold">Created Date:&nbsp;</span>@Model.CreateDTM.Date
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="blue textBold">Modified Date:&nbsp;</span>@Model.ModifiedDTM.Date
                </div>
            </div>
        </div>
    </div>
</li>
