@model Sentry.data.Web.DatasetModel
<div class="form-group">
    @Html.LabelFor((model) => model.NamedEnvironment, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="dropdown-container">
            <span id="namedEnvironmentSpinner"></span>
            @if (Model.NamedEnvironmentDropDown.Any())
            {
                @Html.DropDownListFor(x =>
                     x.NamedEnvironment,
                     Model.NamedEnvironmentDropDown,
                     new { @class = "form-control" })
            }
            else
            {
                @Html.TextBoxFor(x => x.NamedEnvironment, new { @class = "form-control edit-dataset-row" })
            }
            @Html.ValidationMessageFor(model => Model.NamedEnvironment, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor((model) => model.NamedEnvironmentType, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="dropdown-container">
            <span id="namedEnvironmentTypeSpinner"></span>
            @if (Model.NamedEnvironmentDropDown.Any())
            {
                @Html.DropDownListFor(x => x.NamedEnvironmentType, Model.NamedEnvironmentTypeDropDown, new { @class = "form-control", @disabled = "true" })
                @Html.HiddenFor(x => x.NamedEnvironmentType)
            }
            else
            {
                @Html.DropDownListFor(x => x.NamedEnvironmentType, Model.NamedEnvironmentTypeDropDown, new { @class = "form-control" })
            }
            @Html.ValidationMessageFor(model => Model.NamedEnvironmentType, "", new { @class = "text-danger" })
        </div>
    </div>
</div>