@model Sentry.data.Web.PushToDatasetModel
@{using (Ajax.BeginForm("PushToSAS", new { controller = "Dataset" },
                                                                  new AjaxOptions
                                                                  {
                                                                      OnBegin = "data.Dataset.ProgressModalStatus",
                                                                    //OnSuccess = "data.Dataset.AjaxSuccess(data,'" + Model.DatasetId + "','" + Model.FileNameOverride + "')",
                                                                    OnSuccess = "data.Dataset.AjaxSuccess",
                                                                      OnFailure = "data.Dataset.AjaxFailure",
                                                                      InsertionMode = InsertionMode.ReplaceWith,
                                                                      UpdateTargetId = "PushToForm",
                                                                      OnComplete = "$('.modal-backdrop').remove();"
                                                                  },
                                                                  new { id = "PushToForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    @Html.LabelFor(model => model.DatasetFileName, new { @class = "control-label col-sm-4"})
                    <div class="col-sm-8">
                        <p class="form-control-static">@Html.DisplayFor(model => model.DatasetFileName)</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FileNameOverride, new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.FileNameOverride, new { htmlAttributes = new { @class = "form-control" } })
                        @*Add Validation*@
                    </div>
                </div>

                @Html.HiddenFor(model => model.DatasetId)


                <div class="modal-footer">
                    <input type="submit" value="Continue" class="btn btn-primary" /> 
                    @*<button type="submit" class="btn btn-primary" value="Continue">Continue</button>*@
                    @*<button type="button" class="btn btn-primary" id="FilenameOverride" data-id="@Model.DatasetId" data-filename="@Model.DatasetFileName">Continue</button>*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>



            </fieldset>
        </div>

    }
}
<script>
    //Because this is a partial view, we can't put the initialization script into
    //the Scripts section - so we're relying on the fact that this partial view
    //is loaded via AJAX and injected into a page that already has JQuery loaded
    $(function () {
        data.Dataset.PushToOverrideInit();
    });
</script>