
@model Sentry.data.Web.SubscriptionModel
@{
    ViewBag.Title = "Subscriptions";
}

@using (Html.BeginForm(null, null, FormMethod.Post))
{
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

            @Html.HiddenFor(model => model.datasetID)
            @Html.HiddenFor(model => model.SentryOwnerName)

            @Html.DisplayFor((model) => ViewData.ModelState)

            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="table-header">
                        <th>Event</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    <tbody>

                    @for (var subId = 0; subId < Model.CurrentSubscriptions.Count(); subId++)
                    {
                        string cssClass = "";
                        if (Model.CurrentSubscriptions[subId].Interval.Description.ToLower().Contains("never"))
                        {
                            cssClass = "unUsable";
                        }
                        else
                        {
                            cssClass = "active";
                        }

                        <tr class="@cssClass">
                            <td>
                               @Html.HiddenFor(model => model.CurrentSubscriptions[subId].EventType.Type_ID)
                               @Html.DisplayFor(model => model.CurrentSubscriptions[subId].EventType.Description)
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.CurrentSubscriptions[subId].Interval.Interval_ID,
                                        new SelectList(Model.AllIntervals, "Value", "Text", Model.CurrentSubscriptions[subId].Interval.Interval_ID), new { @class = "mdb-select" })
                            </td>
                        </tr>


                        }

                    </tbody>
            </table>


            <div class="modal-footer">
                <div style="margin-left: 15px;">
                    <input type="submit" value="Update Subscriptions" class="btn btn-primary" />
                    <input type="submit" class="btn btn-warning" data-dismiss="modal" value="Cancel"/>
                </div>
            </div>

        </div>
}
 



@section Scripts {
    <script>
        $(function () {
        });
    </script>
}
