@model Sentry.data.Web.BaseDatasetModel

@{
    ViewBag.Title = "View Dataset Details";
    //ListDatasetModel listModel = (ListDatasetModel)ViewData["listModel"];
}

<div class="main-page-area">
    @*<a href="@Url.Action("List", "Dataset", new { ldm = @list })" target="_blank">Data Model</a>*@

    <img src="~/Images/Icons/DatasetsBlue.svg" class="datasetImg leftFloat" />
    <h2 class="detailHeader">View Dataset Details</h2>

    <section class="dataset-detail-content clearFloat" id="Dataset-Detail-Name">
        @*<div class="dataset-detail-content-row" id="Dataset-Detail-Content-Label">
                @Html.Label("Name:")
            </div>*@
        <div class="dataset-detail-content-row" id="Dataset-Detail-Content-Value">
            <h2>
                @Html.DisplayFor(m => m.DatasetName)
            </h2>
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Detail-Name">
        @*@Html.ActionLink("Edit", "Edit", new { UniqueKey = Model.UniqueKey }) |
            @Html.ActionLink("Detail", "Detail", new { UniqueKey = Model.UniqueKey }) |
            @Html.ActionLink("Delete", "Delete", new { UniqueKey = Model.UniqueKey }) |*@
        @{
            if (Model.IsSensitive)
            {
                <i class="glyphicon glyphicon-lock text-primary" data-toggle="tooltip" data-placement="bottom" title="Secure"></i>
            }
        }

        @{
            if (Model.IsSensitive.Equals(false) || Model.CanDwnldSenstive)
            {
                <button type="button" class="btn btn-default btn-sm dataset-operation-button" id="DownloadDataset_@Model.DatasetId" data-id="@Model.DatasetId">
                    <span class="glyphicon glyphicon-cloud-download text-primary"></span> Download
                </button>
            }
        }
        @{
            if (Model.CanEditDataset)
            {
                <button type="button" class="btn btn-default btn-sm dataset-operation-button" id="EditDataset_@Model.DatasetId" data-id="@Model.DatasetId">
                    <span class="glyphicon glyphicon-edit text-primary"></span> Edit Details
                </button>
            }
        }
                
        @*<button type="button" class="btn btn-default btn-sm dataset-operation-button" id="DeleteDataset_@Model.Id" data-id="@Model.Id">
            <span class="glyphicon glyphicon-remove text-danger"></span> | Delete Dataset
        </button>*@
        <div>
            @* ...spacer... *@
            &nbsp; &nbsp;
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Detail-PushTo-Options">

        <div class="dataset-detail-content-row" id="Dataset-Detail-PushTo-Value">
            @{
                if (Model.IsPushToSASCompatible == true)
                {
                    <button type="button" class="btn btn-default btn-sm dataset-pushto-button" id="Pushtofilename_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="bottom" title="Push to SAS">
                        @*<img src="~/Images/sas_logo_rectangle.png" class="img-responsive" width="150" height="100" />*@
                        <img src="~/Images/sas_logo_rectangle.png" />
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-default btn-sm dataset-pushto-button" id="Pushtofilename_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="bottom" title="Push to SAS" disabled>
                        @*<img src="~/Images/sas_logo_rectangle.png" class="img-responsive" width="150" height="100" />*@
                        <img src="~/Images/sas_logo_rectangle.png" />
                    </button>
                }

            }

            @{
                <!--<button type="button" class="btn btn-default btn-sm dataset-pushto-button" id="Pushtofilename_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="bottom" title="Push to Tableau" disabled>
                    @*<img src="~/Images/tableau-icon.png" class="img-responsive" width="500" height="100" />*@
                    <img src="~/Images/tableau-icon.png"/>
                </button>-->
            }
        </div>

        <div>
            @* ...spacer... *@
            &nbsp; &nbsp;
        </div>

    </section>

    <div class="form-group">
        @Html.LabelFor(model => model.DatasetDesc, htmlAttributes: new { @class = "control-label col-md-3"})
        <div class="col-md-9">
            <p>@Html.DisplayTextFor(model => model.DatasetDesc)</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SentryOwnerName, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            <p>@Html.DisplayTextFor(model => model.SentryOwnerName)</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UploadDtm, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            <p>@Html.DisplayTextFor(model => model.UploadDtm)</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ChangedDtm, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            <p>@Html.DisplayTextFor(model => model.ChangedDtm)</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            <p>@Html.DisplayTextFor(model => model.Category)</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.S3Key, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            <p>@Html.DisplayTextFor(model => model.S3Key)</p>
        </div>
    </div>

    @*<section class="dataset-detail-content" id="Dataset-Detail-Metadata">
        <div class="dataset-detail-content-row">
            
            &nbsp; &nbsp;
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Column-Metadata">
        <div class="dataset-detail-content-row">
            @Html.Label("Column Metadata:")
        </div>
        <div class="dataset-detail-content-row">
            @if (Model != null && Model.Columns != null && Model.Columns.Count > 0)
            {
                <table>
                    @foreach (var md in Model.Columns)
                    {
                        <tr>
                            <td valign="middle">
                                @Html.Label(md.Name + ": ") &nbsp;
                            </td>
                            <td valign="middle">
                                @Html.DisplayFor(model => md.Value)
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p><i>No Metadata Available.</i></p>
            }
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Detail-Metadata">
        <div class="dataset-detail-content-row">
            @Html.Label("Additional Metadata:")
        </div>
        <div class="dataset-detail-content-row">
            @if (Model != null && Model.Metadata != null && Model.Metadata.Count > 0)
            {
                <table>
                    @foreach (var md in Model.Metadata)
                    {
                        <tr>
                            <td valign="middle">
                                @Html.Label(md.Name + ": ") &nbsp;
                            </td>
                            <td valign="middle">
                                @Html.DisplayFor(model => md.Value)
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p><i>No Metadata Available.</i></p>
            }
        </div>
    </section>*@

</div>

@section Scripts {
    <script>
        $(function () {
            data.Dataset.DetailInit();
        });
    </script>
}
