@model Sentry.data.Web.DatasetDetailModel

@{
    ViewBag.Title = "View Dataset Details";
    string headerColor = "categoryBanner-blue";
    string textColor = "dsc-" + Model.CategoryColor + "-text";
    var mailTo = "mailto:" + Model.PrimaryContactEmail + "?Subject=Dataset%20Inquiry%20-%20" + Model.DatasetName;
}

@if (@Model.HasSchema && @Model.DatasetFileCount == 0)
{
    <div>
        <div id="alertInfoBanner" class="alert alert-dismissable alert-info mt-3">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div>
                @if (Model.Security.CanUploadToDataset)
                {
                    <strong class="alertHeading">Info: </strong>
                    <span>This dataset has no files attached to it yet.   Please send files to one of the drop locations listed under DataFlows.</span>
                }
                else
                {
                    <strong class="alertHeading">Info: </strong>
                    <span>This dataset has no files attached to it yet.  Please contact the Sentry Contact: @Model.PrimaryContactName.</span>
                }
            </div>
        </div>
    </div>
}

<div class="mt-3">
    <a href="@Url.Action("Datasets", "Search")" id="linkReturnToDatasetList"><span class="fas fa-chevron-left pr-3"></span>Back to list</a>
</div>

<div style="font-feature-settings: 'lnum';">
    <div class="topBanner" style="border-bottom: 1px #DDDDDD solid;">

        <div class="container">
            <div class="row">
                <div class="col-7 pl-0">
                    <!-- Dataset Name and Request Access-->
                    <h2 class="@textColor pt-3 mb-1">
                        @Model.DatasetName
                        @if (Model.IsSecured)
                        {
                            <span class="fas fa-lock lockIcon" data-toggle="tooltip" data-placement="top" title="Secure"></span>
                        }

                    </h2>
                </div>

                <div class="col-5 pr-0">
                    <div class="text-right">
                        <a class="btn px-3"
                           id="RequestAccessButton" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="top" title="Request Additional Dataset Access">
                            <em class="fas fa-user-plus dsc-icon-button @textColor mr-0 align-middle" id=""></em>
                        </a>

                        <a class="btn px-3"
                           id="btnFavorite" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="top" title="Favorite">
                            @if (Model.IsFavorite)
                            {
                                <em class="fas fa-star dsc-icon-button @textColor mr-0 align-middle" id="favoriteIcon"></em>
                            }
                            else
                            {
                                <em class="far fa-star dsc-icon-button @textColor mr-0 align-middle" id="favoriteIcon"></em>
                            }
                        </a>

                        @if (Model.Security.CanEditDataset)
                        {
                            <a class="btn px-3"
                               id="EditDataset_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="top" title="Edit Dataset">
                                <em class="far fa-edit dsc-icon-button align-self-center @textColor mr-0 align-middle"></em>
                            </a>

                        }
                        <div class="btn-group dropdown" data-toggle="tooltip" data-placement="top" title="Additional Actions">

                            <a class="btn px-3"
                               data-toggle="dropdown">
                                <em class="fas fa-bars dsc-icon-button @textColor mr-0 align-middle"></em>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-start">
                                @if (Model.ShowManagePermissionsLink)
                                {
                                    @Html.ActionLink("Manage Permissions", nameof(Sentry.data.Web.Controllers.DatasetController.ManagePermissions), new { datasetId = Model.DatasetId }, new { @class = "dropdown-item" })
                                }
                                @if (Model.Security.CanManageSchema)
                                {
                                    <a class="dropdown-item" href="/Config/Dataset/@Model.DatasetId">Manage Schemas</a>
                                    <a class="dropdown-item" id="btnSyncConsumptionLayers" data-id="@Model.DatasetId">Sync All Consumption Layers</a>
                                    if (Model.Security.CanEditDataset)
                                    {
                                        <a class="dropdown-item" id="btnDeleteDataset" data-id="@Model.DatasetId" data-grpCnt="@Model.GroupAccessCount" data-IsSecured="@Model.IsSecured">Delete Dataset</a>
                                    }
                                }
                                <a class="dropdown-item" href="@Model.MailtoLink">Share Dataset</a>
                                @if (Model.Security.CanViewFullDataset)
                                {
                                    <a id="SubscribeModal" class="dropdown-item" data-id="@Model.DatasetId">
                                        Subscribe
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row pt-3">
        <div class="col-lg-7">
            <div>
                @if (!String.IsNullOrWhiteSpace(Model.DatasetDesc))
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <h4 class="@textColor pt-1">Description:</h4>
                                @if (Model.DatasetDesc.Length >= 500)
                                {

                                    int last = Model.DatasetDesc.Substring(0, 500).LastIndexOf(" ");
                                    <p class="spanContainer">
                                        <span>@Model.DatasetDesc.Substring(0, last)</span>
                                        <span id="descSeeMoreEllipsis">...&nbsp;</span>
                                        <span id="descSeeMorePanel" style="display: none;">@Model.DatasetDesc.Substring(last) </span>
                                        <span id="descSeeMoreButton" style="cursor: pointer;"><a onclick="$('#descSeeMorePanel').show(); $(this).parent().hide(); $('#descShowLessButton').show(); $('#descSeeMoreEllipsis').hide();">See More</a></span>
                                        <span id="descShowLessButton" style="cursor: pointer; display:none;"><a onclick="$('#descSeeMorePanel').hide(); $(this).parent().hide(); $('#descSeeMoreButton').show(); $('#descSeeMoreEllipsis').show();">Show Less</a></span>
                                    </p>
                                }
                                else
                                {
                                    <p>@Model.DatasetDesc</p>
                                }
                            </div>
                        </div>
                    </div>

                }

                @if (!String.IsNullOrWhiteSpace(Model.DatasetInformation) && Model.Security.CanPreviewDataset)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="spanContainer">
                                <h4 class="@textColor pt-1">Usage Information:</h4>
                                @if (Model.DatasetInformation.Length >= 300)
                                {

                                    int lastInfo = Model.DatasetInformation.Substring(0, 300).LastIndexOf(" ");
                                    <span>@Model.DatasetInformation.Substring(0, lastInfo)</span>
                                    <span id="usageSeeMoreEllipsis">...&nbsp;</span>
                                    <span id="usageSeeMorePanel" style="display: none;">@Model.DatasetInformation.Substring(lastInfo)</span>
                                    <span id="usageSeeMoreButton" style="cursor: pointer;"><a onclick="$('#usageSeeMorePanel').show(); $(this).parent().hide(); $('#usageShowLessButton').show(); $('#usageSeeMoreEllipsis').hide();">See More</a></span>
                                    <span id="usageShowLessButton" style="cursor: pointer; display:none;"><a onclick="$('#usageSeeMorePanel').hide(); $(this).parent().hide(); $('#usageSeeMoreButton').show(); $('#usageSeeMoreEllipsis').show();">Show Less</a></span>
                                }
                                else
                                {
                                    <span>@Model.DatasetInformation</span>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.Security.CanPreviewDataset)
            {
                <hr />
                <div>
                    <h4 class="@textColor pt-1">
                        Schemas:
                    </h4>
                </div>
                if (Model.HasSchema)
                {
                    <div>
                        <div class="row">
                            <div class="col-lg-12" style="margin-left: 20px">
                                <select class="form-control" style="margin:1em !important;" id="datasetConfigList" name="filterSelector">
                                    @foreach (var schema in Model.DatasetFileConfigSchemas)
                                    {
                                        <option value="@schema.ConfigId" data-id="@schema.SchemaId">@schema.SchemaName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div style="margin-left: 35px;" data-bind="visible: Description() != null" class="spanContainer">
                                    <h6 class="@textColor pt-2 mb-1">Schema Description:</h6>
                                    <span data-bind="text: LessDescription"></span>
                                    <span id="schemaHasMoreDescription">
                                        <span id="schemaSeeMoreEllipsis">&nbsp;...</span>
                                        <span id="schemaSeeMorePanel" style="display: none; padding-left: 4px;" data-bind="text: MoreDescription"></span>
                                        <span id="schemaSeeMoreButton" style="cursor: pointer;"><a onclick="$('#schemaSeeMorePanel').show(); $(this).parent().hide(); $('#schemaShowLessButton').show(); $('#schemaSeeMoreEllipsis').hide();">See More</a></span>
                                        <span id="schemaShowLessButton" style="cursor: pointer; display:none;"><a onclick="$('#schemaSeeMorePanel').hide(); $(this).parent().hide(); $('#schemaSeeMoreButton').show(); $('#schemaSeeMoreEllipsis').show();">Show Less</a></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        @*ControlMTriggerName*@
                        <div class="row">
                            <div class="col-lg-12">
                                <div style="margin-left: 35px;" data-bind="visible: ControlMTriggerName() != null" class="spanContainer">
                                    <h6 class="@textColor pt-2 mb-1">Control-M Trigger Name:</h6>
                                    <span data-bind="text: ControlMTriggerName"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div><span>This dataset does not contain any schema.</span></div>
                }
            }
        </div>

        @*****************************************************************************************************************
            *DATASET INFO BOX
            ******************************************************************************************************************@
        <div class="col-lg-5">
            <div class="container">
                <div class="row" style="border: 1px #DDDDDD solid; padding: 20px;">

                    @*****************************************************************************************************************
                        *ROW 1
                        ******************************************************************************************************************@
                    <div class="row w-100">
                        <div class="col">
                            <h5 class="@textColor pt-1">Last Activity Date</h5>
                            <p>@Model.ChangedDtm.ToString("MMMM d, yyyy")</p>
                        </div>
                        <div class="col">
                            <h5 class="@textColor pt-1">Date Created</h5>
                            <p>@Model.DatasetDtm.ToString("MMMM d, yyyy")</p>
                        </div>
                    </div>

                    <hr class="datasetMetadataBoxHr" />

                    @*****************************************************************************************************************
                        *ROW 2
                        ******************************************************************************************************************@
                    <div class="row w-100">
                        <div class="col">
                            <h5 class="@textColor pt-1">Contact</h5>
                            <p><a href="@mailTo">@Model.PrimaryContactName</a></p>
                        </div>

                        <div class="col">

                            <h5 class="@textColor pt-1">Alternative Email</h5>
                            @if (@Model.AlternateContactEmail != null)
                            {
                                string emailAddress = "mailto:" + @Model.AlternateContactEmail;
                                <p class="ds-format-email">
                                    <a href="@emailAddress">@Model.AlternateContactEmail</a>
                                </p>
                            }
                        </div>
                    </div>

                    <hr class="datasetMetadataBoxHr" />


                    @*****************************************************************************************************************
                        *ROW 3
                        ******************************************************************************************************************@
                    <div class="row w-100">

                        @*SAID ASSET*@
                        <div class="col margin-right-inherit">
                            <h5 class="@textColor pt-1">SAID Asset</h5>
                            <a target="_blank" rel="noopener noreferrer" href="https://said.sentry.com/ViewAsset.aspx?ID=@Model.SAIDAssetKeyCode">@Model.SAIDAssetKeyCode</a>
                        </div>

                        @*CLASSIFICATION*@
                        <div class="col margin-left-inherit margin-right-inherit padding-left-zero padding-right-one">
                            <h5 class="@textColor pt-1">Classification</h5>
                            <p>@Model.DataClassificationDescription</p>
                        </div>

                        @*NAMED ENVIRONMENT DROP DOWN OR LABEL*@
                        <div class="col margin-left-inherit margin-right-inherit padding-right-one">
                            <h5 class="@textColor pt-1">Environment</h5>

                            @*ONLY DISPLAY DROP DOWN IF RELATIVES FOUND ARE ATLEAST 2*@
                            @if (Model.DatasetRelatives != null && Model.DatasetRelatives.Count() > 1)
                            {
                                <select class="form-control" onchange="location = this.value;">
                                    @foreach (DatasetRelativeModel datasetRelativeModel in Model.DatasetRelatives)
                                    {
                                        if (datasetRelativeModel.DatasetNamedEnvironment == Model.DatasetNamedEnvironment)
                                        {
                                            <option value=@datasetRelativeModel.Url selected> @datasetRelativeModel.DatasetNamedEnvironment</option>
                                        }
                                        else
                                        {
                                            <option value=@datasetRelativeModel.Url> @datasetRelativeModel.DatasetNamedEnvironment</option>
                                        }
                                    }
                                </select>
                            }
                            else
                            {
                                //DISPLAY JUST LABEL SINCE ONLY 1 NAMED ENV
                                <p>@Model.DatasetNamedEnvironment</p>
                            }
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<hr />

@if (!Model.DisplayTabSections)
{
    if (Model.Security.CanPreviewDataset)
    {
        @Html.Partial("Details/_SchemaAbout", Model)
    }
    if (Model.HasSchema)
    {
        if (Model.Security.CanPreviewDataset)
        {
            @Html.Partial("Details/_SchemaColumns", Model)
        }
        if (Model.HasDataAccess)
        {
            @Html.Partial("Details/_DataPreview", Model)
        }
        if (Model.Security.CanViewFullDataset)
        {
            @Html.Partial("Details/_DataFiles", Model)
        }
    }
}
else
{


    <div id="datasetDetailTabs">
        <div class="tabs-wrapper">
            <ul class="nav classic-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panelSchemaAbout" id="detailTabSchemaAbout" role="tab">About</a>
                </li>
                @if (Model.HasSchema)
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panelSchemaColumns" id="detailTabSchemaColumns" role="tab">Columns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panelDataPreview" id="detailTabDataPreview" role="tab">Preview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panelDataFiles" id="detailTabDataFiles" role="tab">Files</a>
                    </li>
                    if (Model.DisplaySchemaSearch)
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panelSchemaSearch" id="detailTabSchemaSearch" role="tab">Search Columns</a>
                        </li>
                    }
                }
            </ul>
        </div>



        <!-- Tab panels -->
        <div class="tab-content" id="tab-container">
            <div class="text-center" id="tab-spinner">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="panelSchemaAbout" role="tabpanel">
                @if (Model.Security.CanPreviewDataset)
                {
                    <div id="tabSchemaAbout"></div>
                }
                else
                {
                    @Html.Partial("Details/_TabUnauthorized", "Dataset Metadata");
                }
            </div>
            @if (Model.HasSchema)
            {
                <div class="tab-pane fade" id="panelSchemaColumns" role="tabpanel">
                    @if (Model.Security.CanPreviewDataset)
                    {
                        <div id="tabSchemaColumns"></div>
                    }
                    else
                    {
                        @Html.Partial("Details/_TabUnauthorized", "Dataset Metadata");
                    }
                </div>

                <div class="tab-pane fade" id="panelDataPreview" role="tabpanel">
                    @if (Model.HasDataAccess)
                    {
                        <div id="tabDataPreview"></div>
                    }
                    else
                    {
                        @Html.Partial("Details/_TabUnauthorized", "Full Dataset");
                    }
                </div>
                <div class="tab-pane fade" id="panelDataFiles" role="tabpanel">
                    @if (Model.Security.CanPreviewDataset)
                    {
                        <div id="tabDataFiles"></div>
                    }
                    else
                    {
                        @Html.Partial("Details/_TabUnauthorized", "Dataset Metadata");
                    }
                </div>
                if (Model.DisplaySchemaSearch)
                {
                    <div class="tab-pane fade" id="panelSchemaSearch" role="tabpanel">
                        <div id="tabSchemaSearch"></div>
                    </div>
                }
            }
        </div>
    </div>
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/prettyCron")
    <script src="@Html.GetContent("datatables.*.js")"></script>
    @Styles.Render("~/bundles/css/dataTables")

    <script>

        $(function () {
            vm = new data.Dataset.ViewModel();
            ko.applyBindings(vm);

            data.Dataset.DetailInit(@(Html.Raw(Json.Encode(Model))));
        });

        var table;
        //used to abort ajax request incase addition calls are made before original call is received
        var schemaAjaxReq;
        //used to abort ajax request incase addition calls are made before original call is received
        var dataAjaxReq;




        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };





    </script>
}
