@model Sentry.data.Web.BaseDatasetModel

@{
    ViewBag.Title = "View Dataset Details";
    string color = Model.DatasetCategory.Color;
}

<div>
    <a href="@Url.Action("List", "Dataset")" class="backToList"><span class="glyphicon glyphicon-chevron-left"></span>Back to list</a>
    <div class="categoryBanner-@color categoryBannerSml rightFloat hidden-md hidden-lg">@Model.DatasetCategory.Name</div>

    <div class="relative hidden-sm hidden-xs">
        <div class="category-type-wrap-detail bg_gray BG_@color">
            <div class="category-type-detail categoryBanner-@color">
                @Model.DatasetCategory.Name
            </div>

            <div class="no-overflow">
                <h1 class="detailName leftFloat @color">
                    @Model.DatasetName
                    
                    @if (Model.IsSensitive)
                    {
                        <span class="glyphicon glyphicon-lock lockIcon" data-toggle="tooltip" data-placement="top" title="Secure"></span>
                    }
                </h1>

                <div class="extension detailExt bg_gray htCenter ext_@Model.FileExtensionDisplay()">@Model.FileExtensionDisplay()</div>
                
                @if (Model.IsSensitive.Equals(false) || Model.CanDwnldSenstive)
                {
                    <button type="button" class="btn btn-default btn dataset-operation-button rightFloat borderdk_gray borderdk_@color" id="EditDataset_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="top" title="Edit">
                        <span class="glyphicon glyphicon-edit @color"></span>
                    </button>
                }

                @if (Model.CanEditDataset)
                {
                    <button type="button" class="btn btn-default btn dataset-operation-button rightFloat borderdk_gray borderdk_@color" id="DownloadDataset_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="top" title="Download">
                        <span class="glyphicon glyphicon-cloud-download @color"></span>
                    </button>
                }

                @if (Model.IsPreviewCompatible)
                {
                    <button type="button" class="btn btn-default dataset-operation-button rightFloat borderdk_gray borderdk_@color" id="PreviewData" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="top" title="Preview Dataset">
                        <span class="glyphicon glyphicon-search @color"></span>
                    </button>
                }
            </div>
        </div>
    </div>
    
    <div class="hidden-md hidden-lg">
        <h1 class="detailNameSml leftFloat @color BG_@color text-center">@Model.DatasetName</h1>

        <div class="clearFloat leftFloat iconExt">
            @if (Model.IsSensitive)
            {
                <div class="glyphicon glyphicon-lock lockIconSml leftFloat" data-toggle="tooltip" data-placement="top" title="Secure"></div>
            }
            <div class="extension detailExtSml bg_gray htCenter ext_@Model.FileExtensionDisplay()">@Model.FileExtensionDisplay()</div>
        </div>

        @if (Model.IsSensitive.Equals(false) || Model.CanDwnldSenstive)
        {
            <button type="button" class="btn btn-default btn dataset-operation-button borderdk_gray borderdk_@color rightFloat" id="EditDataset_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="top" title="Edit">
                <span class="glyphicon glyphicon-edit @color"></span>
            </button>
        }

        @if (Model.CanEditDataset)
        {
            <button type="button" class="btn btn-default btn dataset-operation-button borderdk_gray borderdk_@color rightFloat" id="DownloadDataset_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="top" title="Download">
                <span class="glyphicon glyphicon-cloud-download @color"></span>
            </button>
        }

        @if (Model.IsPreviewCompatible)
        {
            <button type="button" class="btn btn-default dataset-operation-button borderdk_gray borderdk_@color rightFloat" id="PreviewData" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="top" title="Preview Dataset">
                <span class="glyphicon glyphicon-search @color"></span>
            </button>
        }

    </div>

    <div class="detailDesc clearFloat">
        @Model.DatasetDesc
    </div>

    <div>
        <h2 class="detailSection @color">Push to BI Tools</h2>

        @if (Model.IsPushToSASCompatible == true)
        {
            <button type="button" class="btn btn-default btn-sm dataset-pushto-button borderdk_gray borderdk_@color" id="Pushtofilename_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="bottom" title="Push to SAS">
                <img src="~/Images/sas_logo_rectangle.png" />
            </button>
        }
        else
        {
            <button type="button" class="btn btn-default btn-sm dataset-pushto-button disabled" id="Pushtofilename_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="bottom" title="Not available for this file type">
                <img src="~/Images/sas_logo_rectangle.png" />
            </button>
        }

        @*<button type="button" class="btn btn-default btn-sm dataset-pushto-button disabled" id="Pushtofilename_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="bottom" title="Not available for this file type">
            <img src="~/Images/tableau-icon.png" />
        </button>*@
    </div>

    <div>
        <h2 class="detailSection @color">Metadata</h2>

        <table class="table table-striped table-hover detailTable">
            <tbody>
                <tr class="borderMeta_@color">
                    <td class="borderMeta_@color colOneMeta">Sentry Owner</td>
                    <td class="borderMeta_@color">@Model.SentryOwnerName</td>
                </tr>
                <tr>
                    <td class="borderMeta_@color colOneMeta">Upload Date</td>
                    <td class="borderMeta_@color">@Model.UploadDtm</td>
                </tr>
                <tr>
                    <td class="borderMeta_@color colOneMeta">File Change Date</td>
                    <td class="borderMeta_@color">@Model.ChangedDtm</td>
                </tr>
                <tr>
                    <td class="borderMeta_@color colOneMeta">Category</td>
                    <td class="borderMeta_@color">@Model.DatasetCategory.Name</td>
                </tr>
                <tr>
                    <td class="borderMeta_@color colOneMeta">S3 Key</td>
                    <td class="borderMeta_@color">@Model.S3Key</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>





 <!--<div class="main-page-area">

    <img src="~/Images/Icons/DatasetsBlue.svg" class="datasetImg leftFloat" />
    <h2 class="detailHeader">Dataset Details</h2>

    <a href="@Url.Action("List", "Dataset", new { ldm = new ListDatasetModel() })" class="clearFloat leftFloat backToList"><span class="glyphicon glyphicon-chevron-left"></span> Back to list</a>

    <section class="dataset-detail-content clearFloat" id="Dataset-Detail-Name">
        @*<div class="dataset-detail-content-row" id="Dataset-Detail-Content-Label">
                @Html.Label("Name:")
            </div>*@
        <div class="dataset-detail-content-row" id="Dataset-Detail-Content-Value">
            <h2>
                @Html.DisplayFor(m => m.DatasetName)
            </h2>
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Detail-Name">
        @*@Html.ActionLink("Edit", "Edit", new { UniqueKey = Model.UniqueKey }) |
            @Html.ActionLink("Detail", "Detail", new { UniqueKey = Model.UniqueKey }) |
            @Html.ActionLink("Delete", "Delete", new { UniqueKey = Model.UniqueKey }) |*@
        @{
            if (Model.IsSensitive)
            {
                <i class="glyphicon glyphicon-lock text-primary" data-toggle="tooltip" data-placement="bottom" title="Secure"></i>
            }
        }

        @{
            if (Model.IsSensitive.Equals(false) || Model.CanDwnldSenstive)
            {
                <button type="button" class="btn btn-default btn-sm dataset-operation-button" id="DownloadDataset_@Model.DatasetId" data-id="@Model.DatasetId">
                    <span class="glyphicon glyphicon-cloud-download text-primary"></span> Download
                </button>
            }
        }
        @{
            if (Model.CanEditDataset)
            {
                <button type="button" class="btn btn-default btn-sm dataset-operation-button" id="EditDataset_@Model.DatasetId" data-id="@Model.DatasetId">
                    <span class="glyphicon glyphicon-edit text-primary"></span> Edit Details
                </button>
            }
        }
                
        @*<button type="button" class="btn btn-default btn-sm dataset-operation-button" id="DeleteDataset_@Model.Id" data-id="@Model.Id">
            <span class="glyphicon glyphicon-remove text-danger"></span> | Delete Dataset
        </button>*@
        <div>
            @* ...spacer... *@
            &nbsp; &nbsp;
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Detail-PushTo-Options">

        <div class="dataset-detail-content-row" id="Dataset-Detail-PushTo-Value">
            @{
                if (Model.IsPushToSASCompatible == true)
                {
                    <button type="button" class="btn btn-default btn-sm dataset-pushto-button" id="Pushtofilename_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="bottom" title="Push to SAS">
                        @*<img src="~/Images/sas_logo_rectangle.png" class="img-responsive" width="150" height="100" />*@
                        <img src="~/Images/sas_logo_rectangle.png" />
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-default btn-sm dataset-pushto-button" id="Pushtofilename_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="bottom" title="Push to SAS" disabled>
                        @*<img src="~/Images/sas_logo_rectangle.png" class="img-responsive" width="150" height="100" />*@
                        <img src="~/Images/sas_logo_rectangle.png" />
                    </button>
                }

            }

            @{
                <!--<button type="button" class="btn btn-default btn-sm dataset-pushto-button" id="Pushtofilename_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="bottom" title="Push to Tableau" disabled>
                    @*<img src="~/Images/tableau-icon.png" class="img-responsive" width="500" height="100" />*@
                    <img src="~/Images/tableau-icon.png"/>
                </button>-->
            }
        <!--</div>

        <div>
            @* ...spacer... *@
            &nbsp; &nbsp;
        </div>

    </section>

    <div class="form-group">
        @Html.LabelFor(model => model.DatasetDesc, htmlAttributes: new { @class = "control-label col-md-3"})
        <div class="col-md-9">
            <p>@Html.DisplayTextFor(model => model.DatasetDesc)</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SentryOwnerName, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            <p>@Html.DisplayTextFor(model => model.SentryOwnerName)</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UploadDtm, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            <p>@Html.DisplayTextFor(model => model.UploadDtm)</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ChangedDtm, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            <p>@Html.DisplayTextFor(model => model.ChangedDtm)</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            <p>@Html.DisplayTextFor(model => model.Category)</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.S3Key, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            <p>@Html.DisplayTextFor(model => model.S3Key)</p>
        </div>
    </div>

    @*<section class="dataset-detail-content" id="Dataset-Detail-Metadata">
        <div class="dataset-detail-content-row">
            
            &nbsp; &nbsp;
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Column-Metadata">
        <div class="dataset-detail-content-row">
            @Html.Label("Column Metadata:")
        </div>
        <div class="dataset-detail-content-row">
            @if (Model != null && Model.Columns != null && Model.Columns.Count > 0)
            {
                <table>
                    @foreach (var md in Model.Columns)
                    {
                        <tr>
                            <td valign="middle">
                                @Html.Label(md.Name + ": ") &nbsp;
                            </td>
                            <td valign="middle">
                                @Html.DisplayFor(model => md.Value)
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p><i>No Metadata Available.</i></p>
            }
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Detail-Metadata">
        <div class="dataset-detail-content-row">
            @Html.Label("Additional Metadata:")
        </div>
        <div class="dataset-detail-content-row">
            @if (Model != null && Model.Metadata != null && Model.Metadata.Count > 0)
            {
                <table>
                    @foreach (var md in Model.Metadata)
                    {
                        <tr>
                            <td valign="middle">
                                @Html.Label(md.Name + ": ") &nbsp;
                            </td>
                            <td valign="middle">
                                @Html.DisplayFor(model => md.Value)
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p><i>No Metadata Available.</i></p>
            }
        </div>
    </section>*@

</div> -->

@section Scripts {
    <script>
        $(function () {
            data.Dataset.DetailInit();
        });
    </script>
}
