@model Sentry.data.Web.BaseDatasetModel

@{
    ViewBag.Title = "View Dataset Details";
}

<div class="main-page-area">

    <h2>View Dataset Details</h2>

    <section class="dataset-detail-content" id="Dataset-Detail-Name">
        @*<div class="dataset-detail-content-row" id="Dataset-Detail-Content-Label">
                @Html.Label("Name:")
            </div>*@
        <div class="dataset-detail-content-row" id="Dataset-Detail-Content-Value">
            <h2>
                @Html.DisplayFor(m => m.DatasetName)
            </h2>
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Detail-Name">
        @*@Html.ActionLink("Edit", "Edit", new { UniqueKey = Model.UniqueKey }) |
            @Html.ActionLink("Detail", "Detail", new { UniqueKey = Model.UniqueKey }) |
            @Html.ActionLink("Delete", "Delete", new { UniqueKey = Model.UniqueKey }) |*@
        @{
            if (Model.IsSensitive)
            {
                <i class="glyphicon glyphicon-lock text-primary"></i>
            }
        }

        @{
            if (Model.IsSensitive.Equals(false) || Model.CanDwnldSenstive)
            {
                <button type="button" class="btn btn-default btn-sm dataset-operation-button" id="DownloadDataset_@Model.DatasetId" data-id="@Model.DatasetId">
                    <span class="glyphicon glyphicon-cloud-download text-primary"></span> Download @Model.FileExtension.ToUpper()
                </button>
            }
        }
        @{
            if (Model.CanEditDataset)
            {
                <button type="button" class="btn btn-default btn-sm dataset-operation-button" id="EditDataset_@Model.DatasetId" data-id="@Model.DatasetId">
                    <span class="glyphicon glyphicon-edit text-primary"></span> Edit Details
                </button>
            }
        }     
        
        @*<button type="button" class="btn btn-default btn-sm dataset-operation-button" id="DeleteDataset_@Model.Id" data-id="@Model.Id">
            <span class="glyphicon glyphicon-remove text-danger"></span> | Delete Dataset
        </button>*@
        <div>
            @* ...spacer... *@
            &nbsp; &nbsp;
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Detail-Description">
        <div class="dataset-detail-content-row">
            @Html.Label("Description:")
        </div>
        <div class="dataset-detail-content-row">
            @Html.DisplayFor(m => m.DatasetDesc)
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Detail-Owner">
        <div class="dataset-detail-content-row">
            @Html.Label("Sentry Owner:")
        </div>
        <div class="dataset-detail-content-row">
            @Html.DisplayFor(m => m.SentryOwnerName)
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Detail-Date">
        <div class="dataset-detail-content-row">
            @Html.Label("Date:")
        </div>
        <div class="dataset-detail-content-row">
            @Html.DisplayFor(m => m.DatasetDtm)
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Detail-Category">
        <div class="dataset-detail-content-row">
            @Html.Label("Category:")
        </div>
        <div class="dataset-detail-content-row">
            @Html.DisplayFor(m => m.Category)
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Detail-Unique-Key">
        <div class="dataset-detail-content-row">
            @Html.Label("S3 Key:")
        </div>
        <div class="dataset-detail-content-row">
            @Html.DisplayFor(m => m.S3Key)
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Detail-Metadata">
        <div class="dataset-detail-content-row">
            @* ...spacer... *@
            &nbsp; &nbsp;
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Column-Metadata">
        <div class="dataset-detail-content-row">
            @Html.Label("Column Metadata:")
        </div>
        <div class="dataset-detail-content-row">
            @if (Model != null && Model.Columns != null && Model.Columns.Count > 0)
            {
                <table>
                    @foreach (var md in Model.Columns)
                    {
                        <tr>
                            <td valign="middle">
                                @Html.Label(md.Name + ": ") &nbsp;
                            </td>
                            <td valign="middle">
                                @Html.DisplayFor(model => md.Value)
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p><i>No Metadata Available.</i></p>
            }
        </div>
    </section>

    <section class="dataset-detail-content" id="Dataset-Detail-Metadata">
        <div class="dataset-detail-content-row">
            @Html.Label("Additional Metadata:")
        </div>
        <div class="dataset-detail-content-row">
            @if (Model != null && Model.Metadata != null && Model.Metadata.Count > 0)
            {
                <table>
                    @foreach (var md in Model.Metadata)
                    {
                        <tr>
                            <td valign="middle">
                                @Html.Label(md.Name + ": ") &nbsp;
                            </td>
                            <td valign="middle">
                                @Html.DisplayFor(model => md.Value)
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p><i>No Metadata Available.</i></p>
            }
        </div>
    </section>

</div>

@section Scripts {
    <script>
        $(function () {
            data.Dataset.DetailInit();
        });
    </script>
}
