@model Sentry.data.Web.DatasetDetailModel

@{
    ViewBag.Title = "View Dataset Details";
    string color = Model.CategoryColor;
    string headerColor = "categoryBanner-" + Model.CategoryColor;
    var mailTo = "mailto:" + Model.PrimaryContactEmail + "?Subject=Dataset%20Inquiry%20-%20" + Model.DatasetName;
}

@if (@Model.DatasetFileCount == 0)
{
    <div>
        <div id="alertInfoBanner" class="alert alert-dismissable alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div>
                @if (Model.Security.CanUploadToDataset)
                {
                    <strong class="alertHeading">Info: </strong>
                    <span>This dataset has no files attached to it yet.   Please send files to one of the drop locations listed under DataFlows.</span>
                }
                else
                {
                    <strong class="alertHeading">Info: </strong>
                    <span>This dataset has no files attached to it yet.  Please contact the Sentry Owner: @Model.PrimaryOwnerName</span>
                }
            </div>
        </div>
    </div>
}

<a href="@Url.Action("Datasets", "Search")" class="backToList" id="linkReturnToDatasetList"><span class="glyphicon glyphicon-chevron-left"></span>Back to list</a>

<div style="font-feature-settings: 'lnum';">
    <div class="topBanner" style="height: 60px; margin-top: 20px;border-bottom: 1px #DDDDDD solid;">

        <div class="relative hidden-sm hidden-xs">
            <div>
                <div class="no-overflow">
                    <h1 class="detailName leftFloat @color">
                        @Model.DatasetName

                        @if (Model.IsSecured)
                        {
                            <span class="glyphicon glyphicon-lock lockIcon" data-toggle="tooltip" data-placement="top" title="Secure"></span>
                        }
                        <span>
                            <input id="RequestAccessButton" type="button" value="Request Access" class="btn btn-primary" data-id="@Model.DatasetId"
                                   data-toggle="tooltip" data-placement="top" title="Request Access to Dataset" style="margin-left:40px" />
                        </span>
                    </h1>

                    @if (Model.Security.CanPreviewDataset)
                    {
                        foreach (string item in Model.DistinctFileExtensions)
                        {
                            <div class="extension detailExt bg_gray htCenter ext_@item">@item</div>
                        }

                        <div style="margin-top:-30px;" class="col-md-12 text-right">

                            <button type="button" class="btn btn-default borderdk_gray borderdk_@Model.CategoryColor"
                                    id="btnFavorite" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="top" title="Favorite">
                                @if (Model.IsFavorite)
                                {
                                    <span class="glyphicon glyphicon-star @Model.CategoryColor" id="favoriteIcon"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-star-empty @Model.CategoryColor" id="favoriteIcon"></span>
                                }
                            </button>

                            @if (Model.Security.CanEditDataset)
                            {
                                <button type="button"
                                        class="btn btn-default dataset-operation-button borderdk_gray borderdk_@color"
                                        id="EditDataset_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="top" title="Edit Dataset">
                                    <span class="glyphicon glyphicon-edit @color"></span>
                                </button>
                            }
                            <div class="btn-group dataset-operation-button" data-toggle="tooltip" data-placement="top" title="Additional Actions">

                                <button type="button"
                                        class="btn btn-default borderdk_gray borderdk_@color dropdown"
                                        data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-menu-hamburger @color"></span>
                                </button>
                                <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 50px, 0px); top: -10px; left: 0px; will-change: transform;">
                                    @if (Model.Security.CanManageSchema)
                                    {
                                        <li>
                                            <a href="/Config/Dataset/@Model.DatasetId">Manage Schemas</a>
                                            <a class="btn" id="btnSyncConsumptionLayers" data-id="@Model.DatasetId" style="text-align: left">Sync All Consumption Layers</a>
                                            @if (Model.Security.CanEditDataset)
                                            {
                                                <a class="btn" id="btnDeleteDataset" data-id="@Model.DatasetId" data-grpCnt="@Model.GroupAccessCount" data-IsSecured="@Model.IsSecured" style="text-align: left">Delete Dataset</a>
                                            }
                                        </li>
                                    }
                                    <li>
                                        <a href="@Model.MailtoLink">Share Dataset</a>
                                    </li>
                                    @if (Model.Security.CanViewFullDataset)
                                    {
                                        <li id="SubscribeModal" style="cursor: pointer;" data-id="@Model.DatasetId" data-placement="top" title="Subscribe">
                                            <a>
                                                Subscribe
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row" style="margin-top: 15px;">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8 col-sm-6">
                    <div style="margin-top: 15px;">
                        @if (!String.IsNullOrWhiteSpace(Model.DatasetDesc))
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div>
                                        <h6 class="@color">Description:</h6><br />
                                        @if (Model.DatasetDesc.Length >= 500)
                                        {

                                            int last = Model.DatasetDesc.Substring(0, 500).LastIndexOf(" ");
                                            <p class="spanContainer">
                                                <span style="margin-top: 15px;">@Model.DatasetDesc.Substring(0, last)</span>
                                                <span id="descSeeMoreEllipsis">...&nbsp;</span>
                                                <span id="descSeeMorePanel" style="display: none;">@Model.DatasetDesc.Substring(last) </span>
                                                <span id="descSeeMoreButton" style="cursor: pointer;"><a onclick="$('#descSeeMorePanel').show(); $(this).parent().hide(); $('#descShowLessButton').show(); $('#descSeeMoreEllipsis').hide();">See More</a></span>
                                                <span id="descShowLessButton" style="cursor: pointer; display:none;"><a onclick="$('#descSeeMorePanel').hide(); $(this).parent().hide(); $('#descSeeMoreButton').show(); $('#descSeeMoreEllipsis').show();">Show Less</a></span>
                                            </p>
                                        }
                                        else
                                        {
                                            <p>@Model.DatasetDesc</p>
                                        }
                                    </div>
                                </div>
                            </div>
                            <br />
                        }

                        @if (!String.IsNullOrWhiteSpace(Model.DatasetInformation) && Model.Security.CanPreviewDataset)
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="spanContainer">
                                        <h6 class="@color">Usage Information:</h6><br />
                                        @if (Model.DatasetInformation.Length >= 300)
                                        {

                                            int lastInfo = Model.DatasetInformation.Substring(0, 300).LastIndexOf(" ");
                                            <span style="margin-top: 15px;">@Model.DatasetInformation.Substring(0, lastInfo)</span>
                                            <span id="usageSeeMoreEllipsis">...&nbsp;</span>
                                            <span id="usageSeeMorePanel" style="display: none;">@Model.DatasetInformation.Substring(lastInfo)</span>
                                            <span id="usageSeeMoreButton" style="cursor: pointer;"><a onclick="$('#usageSeeMorePanel').show(); $(this).parent().hide(); $('#usageShowLessButton').show(); $('#usageSeeMoreEllipsis').hide();">See More</a></span>
                                            <span id="usageShowLessButton" style="cursor: pointer; display:none;"><a onclick="$('#usageSeeMorePanel').hide(); $(this).parent().hide(); $('#usageSeeMoreButton').show(); $('#usageSeeMoreEllipsis').show();">Show Less</a></span>
                                        }
                                        else
                                        {
                                            <span style="margin-top: 15px;">@Model.DatasetInformation</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @if (Model.Security.CanPreviewDataset)
                    {
                        <hr />
                        <div>
                            <h3 class="@color">
                                Schemas
                            </h3>
                        </div>

                        <div>
                            <div class="row">
                                <div class="col-lg-12" style="margin-left: 20px; margin-top: 10px;">
                                    <select class="form-control" style="margin:1em !important;"
                                            id="datasetConfigList" name="filterSelector">
                                        @foreach (var a in Model.DatasetFileConfigNames)
                                        {
                                            <option value="@a.Key">@a.Value</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <br />
                                    <div style="margin-left: 35px;" data-bind="visible: Description() != null" class="spanContainer">
                                        <h6 class="@color">Schema Description:</h6><br />
                                        <span style="margin-top: 15px;" data-bind="text: LessDescription"></span>
                                        <span id="schemaHasMoreDescription">
                                            <span id="schemaSeeMoreEllipsis">&nbsp;...</span>
                                            <span id="schemaSeeMorePanel" style="display: none; padding-left: 4px;" data-bind="text: MoreDescription"></span>
                                            <span id="schemaSeeMoreButton" style="cursor: pointer;"><a onclick="$('#schemaSeeMorePanel').show(); $(this).parent().hide(); $('#schemaShowLessButton').show(); $('#schemaSeeMoreEllipsis').hide();">See More</a></span>
                                            <span id="schemaShowLessButton" style="cursor: pointer; display:none;"><a onclick="$('#schemaSeeMorePanel').hide(); $(this).parent().hide(); $('#schemaSeeMoreButton').show(); $('#schemaSeeMoreEllipsis').show();">Show Less</a></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="col-lg-4">
                    <div class="row" style="border: 1px #DDDDDD solid; background: white; padding: 20px;">

                        <div class="row" style="min-height: 60px;">
                            <div class="col-lg-6">
                                <h5 class="@color">Last Activity Date</h5>
                                <p>@Model.ChangedDtm.ToString("MMMM d, yyyy")</p>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="@color">Date Created</h5>
                                <p>@Model.DatasetDtm.ToString("MMMM d, yyyy")</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="@color">Owner</h5>
                                <p>@Model.PrimaryOwnerName</p>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="@color">Contact</h5>
                                <p><a href="@mailTo">@Model.PrimaryContactName</a></p>
                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="@color">SAID Asset</h5>
                                <a target="_blank" rel="noopener noreferrer" href="https://said.sentry.com/ViewAsset.aspx?ID=@Model.SAIDAssetKeyCode">@Model.SAIDAssetKeyCode</a>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="@color">Environment</h5>
                                <p>@Model.NamedEnvironment</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="@color">Data Classification</h5>
                                <p>@Model.DataClassificationDescription</p>
                            </div>
                            <div class="col-lg-6">
                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="@color">Dataset Views</h5>
                                <p style="font-feature-settings: 'lnum';">@Model.Views</p>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="@color">Dataset Downloads</h5>
                                <p style="font-feature-settings: 'lnum';">@Model.Downloads</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (!Model.DisplayTabSections)
    {
        if (Model.Security.CanPreviewDataset)
        {
            @Html.Partial("Details/_SchemaAbout", Model)
        }
        if (Model.Security.CanPreviewDataset)
        {
            @Html.Partial("Details/_SchemaColumns", Model)
        }
        if (Model.Security.CanViewFullDataset)
        {
            @Html.Partial("Details/_DataPreview", Model)
        }
        if (Model.Security.CanViewFullDataset)
        {
            @Html.Partial("Details/_DataFiles", Model)
        }
    }
    else
    {
        <div class="tabs-wrapper">
            <ul class="nav nav-tabs">
                <li role="presentation" class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panelSchemaAbout" id="detailTabSchemaAbout" role="tab">About this Schema</a>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panelSchemaColumns" id="detailTabSchemaColumns" role="tab">Columns</a>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panelDataPreview" id="detailTabDataPreview" role="tab">Data Preview (Top 20 Rows)</a>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panelDataFiles" id="detailTabDataFiles" role="tab">Data Files</a>
                </li>
            </ul>
        </div>

        <!-- Tab panels -->
        <div class="tab-content">
            <div class="tab-pane fade" id="panelSchemaAbout" role="tabpanel">
                @if (Model.Security.CanPreviewDataset)
                {
                    <div id="tabSchemaAbout"></div>
                }
            </div>
            <div class="tab-pane fade" id="panelSchemaColumns" role="tabpanel">
                @if (Model.Security.CanPreviewDataset)
                {
                    <div id="tabSchemaColumns"></div>
                }
            </div>
            <div class="tab-pane fade" id="panelDataPreview" role="tabpanel">
                <div id="tabDataPreview"></div>
            </div>
            <div class="tab-pane fade" id="panelDataFiles" role="tabpanel">
                <div id="tabDataFiles"></div>

            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/prettyCron")
    @Scripts.Render("~/bundles/dataTables")

    <script>

        $(function () {
            vm = new data.Dataset.ViewModel();
            ko.applyBindings(vm);
            data.Dataset.DetailInit();
        });

        var table;
        //used to abort ajax request incase addition calls are made before original call is received
        var schemaAjaxReq;
        //used to abort ajax request incase addition calls are made before original call is received
        var dataAjaxReq;




        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

        



    </script>
}