@model EditDatasetModel
@{
    ViewData["Title"] = "Edit";
}

<div class="topBanner">
    <div>
        <a class="backToList" href="/Dataset/Detail/@Model.DatasetId"><span class="glyphicon glyphicon-chevron-left"></span>Back to Dataset</a>
    </div>
</div>

<h1>Edit Dataset</h1>


<hr/>
<p>This page allows you to edit your dataset.  Please fill out the following fields describing your dataset.</p>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Category)
    @Html.HiddenFor(model => model.S3Key)
    @Html.HiddenFor(model => model.DatasetName)
    @Html.HiddenFor(model => model.UploadUserName)
    @Html.HiddenFor(model => model.ChangedDtm)
    @Html.HiddenFor(model => model.SentryOwnerName)

    @*Show the custom validation summary*@
    @Html.DisplayFor((model) => ViewData.ModelState)

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <ul class="nav nav-tabs">
        <li class="active"><a href="#informationPanel" data-toggle="tab" aria-expanded="true">Dataset Information <span id="infoBadge" class="badge badge-danger"></span></a></li>
        <li class=""><a href="#securityPanel" data-toggle="tab" aria-expanded="false">Dataset Security <span id="securityBadge" class="badge badge-danger"></span></a></li>
        <li class=""  style="display:none;"><a href="#retrievalPanel" data-toggle="tab" aria-expanded="false">Dataset Retrieval <span id="retBadge" class="badge badge-danger"></span></a></li>
        <li class="" style="display:none;"><a href="#columnPanel" data-toggle="tab" aria-expanded="false">Column Metadata <span id="columnBadge" class="badge badge-danger"></span></a></li>
        <li class="" style="display:none;"><a href="#lineagePanel" data-toggle="tab" aria-expanded="false">Data Lineage <span id="lineageBadge" class="badge badge-danger"></span></a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div id="informationPanel" class="tab-pane fade active in form-horizontal">

            <br />
            <h4>Dataset Information</h4>
            <br />

            @Html.HiddenFor(model => model.DatasetId)
            @Html.HiddenFor(model => model.SentryOwnerName)

            <div class="form-group">
                @Html.LabelFor((model) => model.Category, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor((model) => model.Category, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control edit-dataset-row" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DatasetName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DatasetName, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control edit-dataset-row" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DatasetDesc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.DatasetDesc, new { @class = "form-control edit-dataset-row", @style = "min-width: 100%; max-width: 100%; width: 100%;" })
                    @Html.ValidationMessageFor(model => model.DatasetDesc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group fieldDescription">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <span class="text-muted">
                        <em>This description will be shown on the Dataset List and Search Page and at the top of your Dataset Detail Page.</em>
                    </span>
                </div>
            </div>

            @Html.HiddenFor(m => m.TagString)

            <div class="form-group" style="display: none;">
                <span class="control-label col-md-2">Tags</span>
                <div class="col-md-8">
                    <select id="TagSelector" style="width: 100%"></select>
                </div>
                <div class="col-md-2">
                    <button id="addNewTagBtn" onclick="return false;" type="button" style="float: right;" class="btn-success btn"><span class="glyphicon glyphicon-plus"></span> Add New Tag</button>
                </div>
            </div>

            <div class="form-group fieldDescription" style="display: none;"> 
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <span class="text-muted">
                        <em>We recommend that you limit the amount of Tags to five.</em>
                    </span>
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.DatasetInformation, htmlAttributes: new { @class = "control-label col-md-2 optional" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.DatasetInformation, new { @class = "form-control edit-dataset-row", @style = "min-width: 100%; max-width: 100%; width: 100%;" })
                    @Html.ValidationMessageFor(model => model.DatasetInformation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group fieldDescription">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <span class="text-muted">
                        <em>Please roughly describe how users can use your dataset.</em>
                    </span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreationUserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreationUserName, new { htmlAttributes = new { @class = "form-control edit-dataset-row" } })
                    @Html.ValidationMessageFor(model => model.CreationUserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group fieldDescription">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <span class="text-muted">
                        <em>This is the original creator of the data. For Example: External data sources like Mitchell or Internal Data Sources like CustomerOne.</em>
                    </span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor((model) => model.OriginationCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OriginationCode, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control edit-dataset-row" } })
                </div>
            </div>
        </div>

        <div id="securityPanel" class="tab-pane fade in form-horizontal">
            <br />
            <h4>Dataset Security</h4>
            <br />
            <p>
                Dataset Security is very important to this site and Sentry as a whole.
                It is <b>imperative</b> that you know what you are uploading to this site and what the data is.
                Data.Sentry.com uploads data to the cloud so no sensitive data can be uploaded through our site.
                To find out what data is sensitive and what classification your data is <a href="http://sharepoint.sentry.com/Security/Security%20Architecture/Security%20Policies/Published/Policy-Data%20Classification%20and%20Handling.pdf">click here.</a>
                Data that is sensitive can be uploaded after it has been tokenized by the information security web service.
            </p>

            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.OwnerID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OwnerID, new { htmlAttributes = new { @class = "form-control edit-dataset-row", @placeholder = "Associate Name or Sentry ID (i.e. 072984)" } })
                    @Html.ValidationMessageFor(model => model.OwnerID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor((model) => model.DataClassification, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor((model) => model.DataClassification, Model.AllDataClassifications, new { @class = "form-control edit-dataset-row" })
                    @Html.ValidationMessageFor((model) => model.DataClassification, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <span class="text-muted"><em id="dataClassInfo"></em></span>
                </div>
            </div>
            
        </div>
        @*
        <div id="retrievalPanel" class="tab-pane fade in form-horizontal">
            <br />
            <h4>Dataset Retrieval</h4>
            <br />

            <p>Filling in this tab helps us in figuring out the steps to upload your dataset's files into our site.</p>

            <div id="detailSectionHeader_Simple">
                <span class="glyphicon glyphicon-chevron-down element detailSectionHeader section_arrow_datafiles" id="icon_detailSectionHeader_Simple"></span>
                <h5 class="detailSection">Basic Options</h5>
            </div>
            <div id="hide_detailSectionHeader_Simple">

                <div class="form-group">
                    @Html.LabelFor((model) => model.FreqencyID, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor((model) => model.FreqencyID, Model.AllFrequencies, new { @class = "form-control edit-dataset-row" })
                        @Html.ValidationMessageFor((model) => model.FreqencyID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor((model) => model.DatasetFileConfigs[0].DatasetScopeTypeID, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor((model) => model.DatasetFileConfigs[0].DatasetScopeTypeID, Model.AllDatasetScopeTypes, new { @class = "form-control edit-dataset-row" })
                        @Html.ValidationMessageFor((model) => model.DatasetFileConfigs[0].DatasetScopeTypeID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DatasetFileConfigs[0].DropPath, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DatasetFileConfigs[0].DropPath, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control edit-dataset-row" } })
                        @Html.ValidationMessageFor((model) => model.DatasetFileConfigs[0].DropPath, "", new { @class = "text-danger" })
                    </div>
                </div>

                @**

            <div class="form-group fieldDescription" >
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <span class="text-muted"><em>If this file drop location does not work for you. Check the checkbox below and follow the new steps.</em></span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustomDropPath, htmlAttributes: new { @class = "control-label col-md-2 optional" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.CustomDropPath, new {  @class = "" })
                </div>
            </div>

            <div class="form-group fieldDescription">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <span class="text-muted">
                        <em>
                            <b> Warning:</b> Files that are dropped here will be deleted when the upload to this site is complete.  If this does not work for you then please create a staging location, a copy of the file, or <a href="mailto:DSCSupport@sentry.com?Subject=File_Drop_Location"> click here to contact The Administrators</a>
                        </em>
                    </span>
                </div>
            </div>

            <div class="form-group fieldDescription">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <span class="text-muted">
                        <em>
                            <b> Warning:</b> The data.sentry.com service accounts will need access to this file share.  This may take some time.
                        </em>
                    </span>
                </div>
            </div>

                <div class="form-group fieldDescription">
                    <label class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <span class="text-muted">
                            <em>
                                <b> Warning:</b> Files that are dropped here will be deleted when the upload to this site is complete.  If this does not work for you then please create a staging location, a copy of the file, or <a href="mailto:DSCSupport@sentry.com?Subject=File_Drop_Location"> click here to contact The Administrators</a>
                            </em>
                        </span>
                    </div>
                </div>


            </div>
                    <br />
                    <hr />
                    <div id="detailSectionHeader_Advanced">
                        <span class="glyphicon glyphicon-chevron-up element detailSectionHeader section_arrow_datafiles" id="icon_detailSectionHeader_Advanced"></span>
                        <h5 class="detailSection">Advanced Options</h5>
                    </div>
                    <br />
                    <div id="hide_detailSectionHeader_Advanced" style="display: none;">


                        <div class="form-group fieldDescription">
                            <label class="control-label col-md-2"></label>
                            <div class="col-md-10">
                                <span class="text-muted">
                                    <em> The type of protocol (FTP or API) or location type (internal DFS or EC2) that will be used to retrieve this file. </em>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SearchCriteria, htmlAttributes: new { @class = "control-label col-md-2 optional" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SearchCriteria, new { htmlAttributes = new { @class = "form-control edit-dataset-row" } })
                                @Html.ValidationMessageFor(model => model.SearchCriteria, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group fieldDescription">
                            <label class="control-label col-md-2"></label>
                            <div class="col-md-10">
                                <span class="text-muted">
                                    <em> If this directory has a lot of files and not all of them are being brought into data.sentry.com please provide the criteria for which to search for the correct files.  Using a \. will grab all files in the directory. </em>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsRegexSearch, htmlAttributes: new { @class = "control-label col-md-2 optional" })
                            <div class="col-md-10">
                                @Html.CheckBoxFor(model => model.IsRegexSearch, new { @class = "" })
                                @Html.ValidationMessageFor(model => model.IsRegexSearch, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group fieldDescription">
                            <label class="control-label col-md-2"></label>
                            <div class="col-md-10">
                                <span class="text-muted">
                                    <em> Is the above Search Criteria a <a target="_blank" href="https://regexr.com/">Regex Expression?</a></em>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TargetFileName, htmlAttributes: new { @class = "control-label col-md-2 optional" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TargetFileName, new { htmlAttributes = new { @class = "form-control edit-dataset-row" } })
                                @Html.ValidationMessageFor(model => model.TargetFileName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group fieldDescription">
                            <label class="control-label col-md-2"></label>
                            <div class="col-md-10">
                                <span class="text-muted">
                                    <em> When we copy a file from the drop location do we change the file name to something different? If nothing is written into the above field we will load the file name into data.sentry.com with the its exact file name.</em>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OverwriteDatasetFile, htmlAttributes: new { @class = "control-label col-md-2 optional" })
                            <div class="col-md-10">
                                @Html.CheckBoxFor(model => model.OverwriteDatasetFile, new { @class = "" })
                                @Html.ValidationMessageFor(model => model.OverwriteDatasetFile, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor((model) => model.FileType, new { @class = "control-label col-md-2 optional" })
                            <div class="col-md-10">
                                @Html.DropDownListFor((model) => model.FileType, Model.AllDataFileTypes, new { @class = "form-control edit-dataset-row" })
                                @Html.ValidationMessageFor((model) => model.FileType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div id="columnPanel" class="tab-pane fade in form-horizontal">
                    <br />
                    <h4>Column Metadata</h4>
                    <br />

                    <div class="form-group">

                        <label for="DatasetFileUpload" class="control-label col-md-2">Example File</label>
                        <div class="col-md-10">
                            <input type="file" class="edit-dataset-row file-load" id="DatasetFileUpload" />
                            Html.HiddenFor(model => model.f)
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" id="btnUploadFile" data-id="0">Upload Example Data File</button>
                </div>

                <div id="lineagePanel" class="tab-pane fade in form-horizontal">
                    <br />
                    <h4>Data Lineage</h4>
                    <br />
                </div>
        *@
    </div>


    <hr />
    <div class="form-group">
        <span class="text-muted"><em>** Fields in <b>Bold</b> are Required</em></span>
    </div>
    <div class="form-group">
        <div>
            <input type="submit" value="Edit Dataset" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Detail", new { id = Model.DatasetId }, new { @class = "btn btn-warning" })
        </div>
    </div>
}
<style>
    .fieldDescription {
        padding-bottom: 10px;
        margin-top: -10px;
        padding-left: 25px;
    }

    div.has-error ul.select2-choices {
        border-color: red !important;
    }

    .optional {
        font-weight: 100;
    }

    input[type="checkbox"] {
        margin: 10px 0 0;
    }

    .info {
        width: 100%;
        float: right;
    }

    .clearfix {
        width: 100%;
        clear: both;
        float: none;
        content: '';
    }

    .s-tag {
        display: inline-flex;
        align-content: center;
        justify-content: center;
        min-width: 0;
        padding-left: 4px;
        padding-right: 4px;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        font-size: 12px;
        line-height: 1.84615385;
        text-decoration: none;
        vertical-align: middle;
        white-space: nowrap;
        border-color: transparent;
        background-color: #E1ECF4;
        color: #2c5777;
    }

    .item-multiplier {
        margin-right: 4px;
        color: black;
    }
</style>

@section Scripts {
    <script>

        $(function () {
            data.Dataset.EditInit();

            $(document).ready(function () {

                $.ajax({
                    url: "/api/v1/tags",
                    dataType: 'json',
                    type: "GET",
                    success: function (msg) {
                        $("#TagSelector").select2({
                            multiple: true,
                            allowClear: true,
                            data: msg,
                            ajax: {
                                url: "/api/v1/tags",
                                dataType: 'json',
                                dropdownPosition: 'below',
                                data: function (params) {
                                    return {
                                        query: params.term
                                    };
                                },
                                processResults: function (data) {
                                    // parse the results into the format expected by Select2.
                                    // since we are using custom formatting functions we do not need to
                                    // alter the remote JSON data

                                    return {
                                        results: data
                                    };
                                },
                                cache: true
                            },
                            dropdownPosition: 'below',
                            templateResult: formatTag,
                            escapeMarkup: function (markup) { return markup; },
                            templateSelection: formatTagSelection
                        });

                        if ($('#TagString').val()) {
                            var selectedOptions = JSON.parse($('#TagString').val());
                            var selectedIDs = [];

                            for (var i = 0; i < selectedOptions.length; i++) {
                                selectedIDs.push(selectedOptions[i].id);
                            }

                            $('#TagSelector').val(selectedIDs);
                            $('#TagSelector').trigger('change');

                            $('#TagString').val(JSON.stringify($('#TagSelector').val()));
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });

                $("#DataClassification").change(function () {
                    switch ($("#DataClassification").val()) {
                        case "1":
                            $('#dataClassInfo').text('“Restricted” information is proprietary and has significant business value for Sentry. ' +
                                'Unauthorized disclosure or dissemination could result in severe damage to Sentry.  Examples of restricted data include secret contracts or trade secrets.  ' +
                                'This information must be limited to only the few associates that require access to it.  If it is shared, accessed, or altered without the permission ' +
                                'of the Information Owner, Information Security must be notified immediately.  Designating information as Restricted involves significant ' +
                                'costs to Sentry.  For this reason, Information Owners making classification decisions must balance the damage that could result from ' +
                                'unauthorized access to or disclosure of the information against the cost of additional hardware, software or services required to protect it.');
                            break;
                        case "2":
                            $('#dataClassInfo').text('“Highly Sensitive” information is highly confidential, typically includes personally ' +
                                'identifiable information, and is intended for limited, specific use by a workgroup, ' +
                                'department, or group of individuals with a legitimate need to know. Disclosure or ' +
                                'dissemination of this information could result in significant damage to Sentry. ' +
                                'Examples of highly sensitive data include medical records, financial account or ' +
                                'bank account numbers, credit card numbers, individuals’ government-issued ' +
                                'identification numbers (for example driver’s license numbers, social security ' +
                                'numbers), and user passwords. This information must be limited to need to know ' +
                                'access. If it is shared, accessed, or altered without the permission of the ' +
                                'Information Owner, Information Security must be notified immediately.');
                            break;
                        case "3":
                            $('#dataClassInfo').text('“Internal Use Only” information can be disclosed or disseminated to Sentry ' +
                                'associates, but will only be shared with other individuals or organizations when a ' +
                                'non - disclosure agreement is in place and management has approved for legitimate ' +
                                'business reasons.  Examples include items such as email correspondence, internal ' +
                                'documentation that is available to all associates.');
                            break;
                        case "4":
                            $('#dataClassInfo').text('“Public” information can be disclosed or disseminated without any restrictions on ' +
                                'content, audience, or time of publication.  Examples are datasets that were generated by the Federal or State Governments like the Federal Motor Carrier Safety Administration or NOAA Weather Data.  ' +
                                'These datasets can be freely shared throughout Sentry.');
                            break;
                    }
                });

                @* trigger the select change event so the description is displayed *@
                $("#DataClassification").trigger('change');

            });

            $('#TagSelector').on('select2:select', function (e) {
                $('#TagString').val(JSON.stringify($('#TagSelector').val()));
            });

            $('#TagSelector').on('select2:unselect', function (e) {
                $('#TagString').val(JSON.stringify($('#TagSelector').val()));
            });

            $('#TagSelector').on('select2:change', function (e) {
                $('#TagString').val(JSON.stringify($('#TagSelector').val()));
            });

            function formatTag(tag) {
                if (tag.loading) return tag.text;


                if (tag.Description) {
                    var markup =
                        '<span class="s-tag" tooltip="' + tag.Description + '"> ' + tag.Name + '</span> ' +
                        '<span class="item-multiplier">&nbsp; × &nbsp;' + tag.Count + '</span>'
                        ;
                    return markup;
                }
                else {
                    var markup =

                        '<span class="s-tag">' + tag.Name + '</span>' +
                        '<span class="item-multiplier">&nbsp; × &nbsp;' + tag.Count + '</span>'
                        ;

                    return markup;
                }
            }

            function formatTagSelection(tag) {
                return tag.Name || tag.text;
            }


            function sendNewTagToDatabase() {
                $.ajax({
                    type: "POST",
                    url: "/api/v1/tags/" + $("#tagName").val() + "/" + $("#tagDescription").val(),
                    dataType: "json",
                    success: function (msg) {
                        console.log(msg);
                    },
                    error: function (e) {
                    }
                });
            }

            function showModal() {
                var modal = Sentry.ShowModalConfirmation("Create New Tag", function () { sendNewTagToDatabase(); });

                var string =
                    "<div>" +
                    "<h2>Create New Tag</h2>" +
                    "<hr/>" +
                    "<div class='row'>" +
                    "<div class='col-sm-3'>" +
                    "<label id='tagNameLabel' for='tagName'>Tag Name</label>" +
                    "</div>" +
                    "<div class='col-sm-9'>" +
                    "<input id='tagName' style='width:100%; padding-left: 5px;' />" +
                    "</div>" +
                    "</div>" +
                    "<br/>" +
                    "<div class='row'>" +
                    "<div class='col-sm-3'>" +

                    "</div>" +
                    "<div class='col-sm-9'>" +
                    "<span id='tagWarningText' />" +
                    "</div>" +
                    "</div>" +
                    "<br/>" +
                    "<div class='row'>" +
                    "<div class='col-sm-3'>" +
                    "<label for='tagDescription'>Tag Description</label>" +
                    "</div>" +
                    "<div class='col-sm-9'>" +
                    "<textarea id='tagDescription' style='width:100%;  padding-left: 5px; resize:vertical; max-width: 100%' />" +
                    "</div>" +
                    "</div>" +
                    "</div>";

                modal.ReplaceModalBody(string);
            }

            $('body').on('click', '#addNewTagBtn', function () {
                showModal();

                return false;
            });



            $('body').on('change', '#tagName', function () {
                console.log($(this).val());

                $.ajax({
                    type: "GET",
                    url: "/api/v1/tags/" + $("#tagName").val(),
                    dataType: "json",
                    success: function (msg) {
                        console.log(msg);

                        if (msg === false) {
                            $("#tagName").css('border', '1px solid red');
                            $("#tagName").css('color', 'red');
                            $("#tagWarningText").show();
                            $("#tagWarningText").css('color', 'red');
                            $("#tagWarningText").text("This tag name is already taken.  If you would like to use it, press cancel and type it into the Tags Search box to the left of the Add New Tag button.");
                        }
                        else {
                            $("#tagName").css('border', '1px solid rgb(169, 169, 169)');
                            $("#tagName").css('color', 'black');
                            $("#tagWarningText").hide();
                        }
                    },
                    error: function (e) {
                    }
                });
            });

            $("[id^='detailSectionHeader_']").click(function (e) {
                e.preventDefault();

                var id = $(this).attr("id");
                var category = "#hide_" + id
                var icon = "#icon_" + id;

                $(category).slideToggle();
                $(icon).toggleClass("glyphicon-chevron-down glyphicon-chevron-up");
            });

            $("[id^='btnUploadFile']").off('click').on('click', function () {
                $('#btnUploadFile').closest('.bootbox').hide();
                $('.modal-backdrop').remove();

                var modal = Sentry.ShowModalWithSpinner("Upload Results", {
                    Confirm: {
                        label: 'Confirm',
                        className: 'btn-success'
                    },
                    Cancel:
                    {
                        label: 'Cancel',
                        className: 'btn-cancel'
                    }
                });


                $('.modal-footer btn-success').prop("disabled", true);

                // This approach is from the following site:
                // http://www.c-sharpcorner.com/UploadFile/manas1/upload-files-through-jquery-ajax-in-Asp-Net-mvc/
                if (window.FormData !== undefined) {
                    console.log('File Upload Process Started');
                    var fileUpload = $("#DatasetFileUpload").get(0);
                    var files = fileUpload.files;

                    //Create FormData object
                    var fileData = new FormData();

                    fileData.append(files[0].name, files[0]);

                    if ((files[0].size / 1000000) > 100) {

                        var configID = $("#configList").find(":selected").val();
                        var dropLocation

                        for (i = 0; i < configs.length; i++) {
                            if (configs[i].ConfigId == configID) {
                                dropLocation = configs[i].DropPath;
                                break;
                            }
                        }


                        modal.ReplaceModalBody('<h3> The file you are attempting to upload to is too large to upload through the browser. </h3>' +
                            '<p>Please include only a few hundred rows and try again. </p>'
                        );

                        $('.modal-footer button').prop("disabled", false);
                    }
                    else {
                        var datasetID = window.location.pathname.substr(window.location.pathname.lastIndexOf('/') + 1);

                        if (datasetID == "" || datasetID == null || datasetID == undefined || isNaN(datasetID)) {
                            datasetID = $("[id^='btnUploadFile']").attr('data-id');
                        }

                        var configID = $("#configList").val();

                        var token = $('input[name="__RequestVerificationToken"]').val();

                        var xhr = new XMLHttpRequest();

                        modal.ReplaceModalBody('<p> Large files may take a long time to upload through the browser. </p>' +
                            '<p>Please do not close the window as your file is uploading. </p>' +
                            '<p> Progress: <span id=\'progressKB\'/></p>' +
                            '<h3><b><span id=\'percentTotal\'></span></b ></h3>' +
                            '<div>' +
                            '<div class="progress progress-striped active">' +
                            '<div class="progress-bar" id="progressBar"></div>' +
                            '</div>' +
                            '</div>'
                        );


                        (xhr.upload || xhr).addEventListener('progress', function (e) {
                            var done = e.position || e.loaded
                            var total = e.totalSize || e.total;

                            $('#percentTotal').text(Math.round(done / total * 100) + '%');
                            $('#progressKB').text('(' + Math.round(done / 1024) + ' KB / ' + Math.round(total / 1024) + ' KB)');
                            $('#progressBar').width(Math.round(done / total * 100) + '%');

                            $('.btn-success').prop("disabled", true);
                        });
                        xhr.addEventListener('load', function (e) {
                            $('.modal-footer button').prop("disabled", false);
                            modal.ReplaceModalBody(e.currentTarget.response);
                            console.log(e);
                        });

                        function cancelUpload() {
                            xhr.abort();
                            console.log('The Upload Process was aborted');
                        }

                        $('.btn-cancel')[0].addEventListener('click', cancelUpload, false);
                        $('.bootbox-close-button').hide();
                        //var url = '/Dataset/UploadDatafile/?id=' + encodeURI(datasetID) + "&configId=" + encodeURI(configID);
                        //xhr.open('post', url, true);
                        //xhr.setRequestHeader('__RequestVerificationToken', token);
                        //xhr.send(fileData);
                    }

                } else {
                    alert("FormData is not supported");
                }
            });
        });
    </script>
}
