@model IList<Sentry.data.Web.BaseDatasetModel>

@{
    ViewBag.Title = "Datasets";
}

<center>
    <h1>Datasets</h1>
    Search from @Model.Count() datasets.
    @{
        var htmlAttrsObj = new { @class = "navbar-form navbar-center", @id = "DatasetSearch" };
        var htmlAttributes = HtmlHelper.AnonymousObjectToHtmlAttributes(htmlAttrsObj);
        using (Html.BeginForm(@"List\SearchPhrase", "Dataset", FormMethod.Get, htmlAttributes))
        {
            <div class="input-group dataset-search">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" id="SearchText" name="searchPhrase" class="form-control" placeholder="Enter dataset search term(s)" />
            </div>
        }
    }
    <p> &nbsp; </p>
    <div class="upload-row">
        <h4>
            Upload a New Dataset
        </h4>
        <button type="button" class="btn btn-default btn-sm dataset-operation-button" id="UploadDataset">
            <span class="glyphicon glyphicon-cloud-upload text-primary"></span> Upload...
        </button>
    </div>
    <p> &nbsp; </p>
    <div class="browse-category">
        <h4>
            Or Browse Dataset Categories...
        </h4>
        <div class="index-card-table-div">
            @*<table class="index-card-table">
                @{
                    /* rudimentary logic to establish a grid of category "cards" */
                    var category = Model.Select(m => m.Category).Distinct().OrderBy(cat => cat).ToList();
                    var itemsPerRow = 3;
                    if (category.Count() >= 20)
                    {
                        itemsPerRow = 5;
                    }
                    else if (category.Count() >= 12)
                    {
                        itemsPerRow = 4;
                    }
                    else if (category.Count() >= 6)
                    {
                        itemsPerRow = 3;
                    }
                    for (var i = 0; i < category.Count; i += itemsPerRow)
                    {
                        <tr>
                            @for (var j = 0; j < itemsPerRow; j++)
                            {
                                if (i + j < category.Count)
                                {
                                    <td>
                                        <div class="browse-category-card" id="category_@category[i + j].ToLower()" data-category="@category[i + j]">
                                            <p><img src="~/Images/Category/@{@category[i + j]}.png" /></p>
                                            <p>@category[i + j]</p>
                                        </div>
                                    </td>
                                }
                            }
                        </tr>
                    }
                }
            </table>*@

            @{
                var category = Model.Select(m => m.Category).Distinct().OrderBy(cat => cat).ToList();
                int c = category.Count();
                string[] colors = new string[] { "blue", "green", "gold", "plum", "orange", "blueGray" };

                if (c == 1)
                {
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <div class="browse-category-card vertCenter border_@colors[0]" id="category_@category[0]" data-category="@category[0]">
                                <img src="~/Images/Category/@{@category[0]}.png" class="catImg" />
                                <h5 class="@colors[0] catTitle">@category[0]</h5>
                            </div>
                        </div>
                    </div>
                }
                else if (c == 2)
                {
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="browse-category-card vertCenter border_@colors[0]" id="category_@category[0]" data-category="@category[0]">
                                <img src="~/Images/Category/@{@category[0]}.png" class="catImg" />
                                <h5 class="@colors[0] catTitle">@category[0]</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="browse-category-card vertCenter border_@colors[1]" id="category_@category[1]" data-category="@category[1]">
                                <img src="~/Images/Category/@{@category[1]}.png" class="catImg" />
                                <h5 class="@colors[1] catTitle">@category[1]</h5>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="hidden-sm">
                        @for (int i = 0; i < c; i++)
                        {
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="browse-category-card vertCenter border_@colors[(i < 6) ? i : i % 6]" id="category_@category[i]" data-category="@category[i]">
                                        <img src="~/Images/Category/@{@category[i]}.png" class="catImg" />
                                        <h5 class="@colors[i] catTitle">@category[i]</h5>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="browse-category-card vertCenter border_@colors[(++i < 6) ? i : i % 6]" id="category_@category[i]" data-category="@category[i]">
                                        <img src="~/Images/Category/@{@category[i]}.png" class="catImg" />
                                        <h5 class="@colors[i] catTitle">@category[i]</h5>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="browse-category-card vertCenter border_@colors[(++i < 6) ? i : i % 6]" id="category_@category[i]" data-category="@category[i]">
                                        <img src="~/Images/Category/@{@category[i]}.png" class="catImg" />
                                        <h5 class="@colors[i] catTitle">@category[i]</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                @if (i + 1 == c - 1)
                                {
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4">
                                        <div class="browse-category-card vertCenter border_@colors[(++i < 6) ? i : i % 6]" id="category_@category[i]" data-category="@category[i]">
                                            <img src="~/Images/Category/@{@category[i]}.png" class="catImg" />
                                            <h5 class="@colors[i] catTitle">@category[i]</h5>
                                        </div>
                                    </div>
    }
                                @if (i + 2 == c - 1)
                                {
                                    <div class="col-md-2"></div>
                                    <div class="col-sm-4">
                                        <div class="browse-category-card vertCenter border_@colors[(++i < 6) ? i : i % 6]" id="category_@category[i]" data-category="@category[i]">
                                            <img src="~/Images/Category/@{@category[i]}.png" class="catImg" />
                                            <h5 class="@colors[i] catTitle">@category[i]</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="browse-category-card vertCenter border_@colors[(++i < 6) ? i : i % 6]" id="category_@category[i]" data-category="@category[i]">
                                            <img src="~/Images/Category/@{@category[i]}.png" class="catImg" />
                                            <h5 class="@colors[i] catTitle">@category[i]</h5>
                                        </div>
                                    </div>
    }
                            </div>
                        }
                    </div>

                    @*<div class="visible-sm">
                        @for (int i = 0; i < c; i++)
                        {
                            <div class="row">
                                <div class="col-md-4 col-sm-6 clcCard border_@colors[(i < 6) ? i : i % 6]">
                                    
                                </div>
                                <div class="col-md-4 col-sm-6 clcCard border_@colors[(++i < 6) ? i : i % 6]">
                                    
                                </div>
                            </div>

                            if (i + 1 == c - 1)
                            {
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-md-4 col-sm-6 clcCard border_@colors[(++i < 6) ? i : i % 6]">
                                        
                                    </div>
                                </div>
                            }
                        }
                    </div>*@
                }
            }


        </div>
    </div>
</center>

@section Scripts {
    <script>
        $(function () {
            data.Dataset.IndexInit();
        });
    </script>
}
