@model ListDatasetModel

@{
    ViewBag.Title = "Datasets";
}

<h1>Datasets</h1>
@{
    var htmlAttrsObj2 = new { @class = "navbar-form navbar-center", @id = "DatasetListSearch" };
    var htmlAttributes2 = HtmlHelper.AnonymousObjectToHtmlAttributes(htmlAttrsObj2);
    using (Html.BeginForm("List", "Dataset", FormMethod.Get, htmlAttributes2))
    {
        <div class="input-group dataset-search" id="DatasetListSearch">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="SearchKeywords" name="searchPhrase" class="form-control" placeholder="Enter dataset search term(s)" value="@{@Request.QueryString["searchPhrase"]}" />
            <input type="hidden" id="SearchCategory" name="Category" class="form-control" value="@{@Request.QueryString["Category"]}" />
        </div>
    }
}
<p> &nbsp; </p>

<div>
    <div class="dataset-list-filters">
        <div class="dataset-list-filter-header">
            <h4>
                Filters...
            </h4>
        </div>
        <div class="dataset-list-filter-category">
            <div class="dataset-filter-subset-label">
                Category:
            </div>
            <ul class="list-unstyled ul-filter-list">
                @{
                    var categories = Model.CategoryList.OrderBy(cat => cat).ToList();
                    var reqCatFilterString = Request.QueryString["category"];
                    string[] filterCats = { "" };
                    if (reqCatFilterString != null)
                    {
                        filterCats = Request.QueryString["category"].Split(" ".ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
                    }
                    foreach (var cat in categories)
                    {
                        if (filterCats.Contains(cat))
                        {
                            <li class="list-unstyled li-filter-enabled" id="li-filter-enabled_@cat" data-cat="@cat">
                                @cat
                                <span class="filter-enabled-glyph glyphicon glyphicon-remove"></span>
                            </li>
                        }
                        else
                        {
                            <li class="list-unstyled li-filter-disabled" id="li-filter-disabled_@cat" data-cat="@cat">
                                @cat
                                <span class="filter-disabled-glyph glyphicon glyphicon-plus"></span>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
    <div id="DatasetItemList" class="dataset-list">
        <div class="browse-category">
            <h4>
                Found @Model.DatasetList.Count() Dataset(s)...
            </h4>
        </div>
        <ul class="list-unstyled">
            @foreach (var item in Model.DatasetList)
            {
                <li class="ul-dataset-list-item">
                    @Html.Partial("_ListItem", item)
                </li>
            }
        </ul>
    </div>
</div>

@*PROGRESS BAR MODAL*@
<div class="modal fade in" id="mod-progress" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                File Progress
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="i-circle warning"><i class="fa fa-info"></i></div>
                    <div id="result" style="font-size: 1.1em; padding-bottom: 5px">
                        <p id="progressBarParagraph"></p>
                        <p id="progressBarPercentage"></p>
                    </div>
                    <div style="width: 30%; margin: 0 auto; display:none;">
                        <div id="progressbar" style="width: 300px; height: 15px"></div>
                        <br />
                    </div>
                    <div id="ProgressStripe" class="progress progress-striped active" style="position:relative; top:10px; width:100%;">
                        <div id="ProgressMessage" class="progress-bar progress-bar-info" style="width: 100%; border:none;"></div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@*PUSH TO FILENAME MODAL*@
<div class="modal fade in" id="mod-pushto-filename" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Specify File Name
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="i-circle warning"><i class="fa fa-info"></i></div>
                    <div id="result" style="font-size: 1.1em; padding-bottom: 5px">
                        <p id="progressBarParagraph"></p>
                        <p id="progressBarPercentage"></p>
                    </div>
                    <div style="width: 30%; margin: 0 auto; display:none;">
                        <div id="progressbar" style="width: 300px; height: 15px"></div>
                        <br />
                    </div>
                    <div id="ProgressStripe" class="progress progress-striped active" style="position:relative; top:10px; width:100%;">
                        <div id="ProgressMessage" class="progress-bar progress-bar-info" style="width: 100%; border:none;"></div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    FileName Override
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Filename Override")
                        <div class="col-md-10">
                            @Html.Editor("filename")
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Continue</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(function () {
            data.Dataset.ListInit();
        });
    </script>
}