@model ListDatasetModel

@{
    ViewBag.Title = "Datasets";
}

<div class="col-sm-3 textCenter">
    <img src="~/Images/Icons/DatasetsBlue.svg" class="datasetImg inlineBlock" />
    <h1 class="inlineBlock">Datasets</h1>
</div>

@{
    using (Html.BeginForm(@"List", "Dataset", FormMethod.Get, new { @class = "navbar-form navbar-center", @id = "DatasetListSearch" }))
    {
        @*<div class="input-group dataset-search" id="DatasetListSearch">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="SearchKeywords" name="searchPhrase" class="form-control" placeholder="Enter dataset search term(s)" value="@{@Request.QueryString["searchPhrase"]}" />
            <input type="hidden" id="SearchCategory" name="Category" class="form-control" value="@{@Request.QueryString["Category"]}" />
            @Html.HiddenFor(model => model.SearchCategory)
        </div>*@

        @*<div class="input-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.SearchText, new { htmlAttributes = new { @class = "form-control " } })
            </div>
        </div>*@

        <div class="col-sm-9">
            <div class="searchBoxDS">
                @Html.EditorFor(model => model.SearchText, new { htmlAttributes = new { @class = "form-control searchTextDS", @placeholder = "Search Datasets"} })
                <button type="submit" class="btn btn-primary searchBtn"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>

        @*<div class="input-group dataset-search" id="DatasetListSearch2">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            @Html.TextAreaFor(m => Model.SearchText, new { @class = "form-control", @placeholder = "Enter dataset search term(s)", @id = "SearchKeywords2" })
            @Html.HiddenFor(model => model.SearchCategory)
        </div>*@
        @*<p> &nbsp; </p>*@

        @* Left sidebar *@
        @*<div class="row">*@
            <div class="col-sm-3 clearFloat">
                <div class="outsideFilters">
                    @{
                        int visibleNum = 4;
                        int i = 0, j = 0;
                        foreach (var category in Model.SearchFilters)
                        {
                            string catName = category.FilterType.Split(' ').First();
                            <div class="panel panel-info dataset-list-filters boxShadow">
                                <div class="panel-heading" id="filterType_@catName">@category.FilterType <span class="glyphicon glyphicon-chevron-up rightFloat filterViewIcon" id="icon_filterType_@catName"></span></div>
                                <div class="dataset-list-filter-category panel-body" id="hide_filterType_@catName">
                                    <ul class="list-unstyled ul-filter-list">
                                        @{
                                            @*foreach (var filter in category.FilterNameList)
                                            {
                                                <li class="list-unstyled li-filter-disabled" id="li-filter-disabled_@filter.id">
                                                    @Html.CheckBoxFor(m => m.SearchFilters[i].FilterNameList[j].isChecked, new { @id = @category.FilterType + "_" + @filter.id, @oncheckedchange = "" })
                                                    @Html.HiddenFor(m => m.SearchFilters[i].FilterType)
                                                    @Html.HiddenFor(m => m.SearchFilters[i].FilterNameList[j].id)
                                                    @Html.HiddenFor(m => m.SearchFilters[i].FilterNameList[j].value)
                                                    @Html.DisplayFor(m => m.SearchFilters[i].FilterNameList[j].value)
                                                    ( @filter.count )
                                                </li>

                                                j++;
                                            }
                                            j = 0;
                                            i++;*@

                                            for(int t = 0; t < visibleNum; t++)
                                            {
                                                if (t < category.FilterNameList.Count)
                                                {
                                                    FilterNameModel filter = @category.FilterNameList[t];
                                                    <li class="list-unstyled li-filter-disabled" id="li-filter-disabled_@filter.id">
                                                        @Html.CheckBoxFor(m => m.SearchFilters[i].FilterNameList[t].isChecked, new { @id = @category.FilterType + "_" + @filter.id, @oncheckedchange = "" })
                                                        @Html.HiddenFor(m => m.SearchFilters[i].FilterType)
                                                        @Html.HiddenFor(m => m.SearchFilters[i].FilterNameList[t].id)
                                                        @Html.HiddenFor(m => m.SearchFilters[i].FilterNameList[t].value)
                                                        @Html.DisplayFor(m => m.SearchFilters[i].FilterNameList[t].value)
                                                        ( @filter.count )
                                                    </li>
                                                }
                                            }
                                            <li id="hidden_filterMore_@catName">
                                                <ul class="notNested">
                                                    @for (int t = visibleNum; t < category.FilterNameList.Count; t++)
                                                    {
                                                        FilterNameModel filter = @category.FilterNameList[t];
                                                        <li class="list-unstyled li-filter-disabled" id="li-filter-disabled_@filter.id">
                                                            @Html.CheckBoxFor(m => m.SearchFilters[i].FilterNameList[t].isChecked, new { @id = @category.FilterType + "_" + @filter.id, @oncheckedchange = "" })
                                                            @Html.HiddenFor(m => m.SearchFilters[i].FilterType)
                                                            @Html.HiddenFor(m => m.SearchFilters[i].FilterNameList[t].id)
                                                            @Html.HiddenFor(m => m.SearchFilters[i].FilterNameList[t].value)
                                                            @Html.DisplayFor(m => m.SearchFilters[i].FilterNameList[t].value)
                                                            ( @filter.count )
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                            i++;
                                        }
                                    </ul>
                                    <a href="#" class="filterMore" id="filterMore_@catName">
                                        <span class="glyphicon glyphicon-plus-sign inlineBlock moreIcon" id="icon_filterMore_@catName"></span>
                                        Show More
                                    </a>
                                    <div class="inlineBlock rightFloat">
                                        <input type="submit" name="btn_@category.FilterType" class="button btn-xs btn-primary btn-filter-apply" value="Apply" id="btnApply_@category.FilterType" hidden />
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            @* Main Content *@
            <div class="col-sm-9">
                <div id="DatasetItemList" class="dataset-list">
                    <div class="browse-category">
                        <h4 class="found">
                            Found @Model.DatasetList.Count() Dataset(s)...
                        </h4>
                    </div>
                    <ul class="list-unstyled">
                        @{
                            foreach (var item in Model.DatasetList)
                            {
                                @Html.Partial("_ListItem", item)
                            }
                        }
                    </ul>
                </div>
            </div>
        @*</div>*@

    }
}

@*PROGRESS BAR MODAL*@
<div class="modal fade in" id="mod-progress" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                File Progress
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="i-circle warning"><i class="fa fa-info"></i></div>
                    <div id="result" style="font-size: 1.1em; padding-bottom: 5px">
                        <p id="progressBarParagraph"></p>
                        <p id="progressBarPercentage"></p>
                    </div>
                    <div style="width: 30%; margin: 0 auto; display:none;">
                        <div id="progressbar" style="width: 300px; height: 15px"></div>
                        <br />
                    </div>
                    <div id="ProgressStripe" class="progress progress-striped active" style="position:relative; top:10px; width:100%;">
                        <div id="ProgressMessage" class="progress-bar progress-bar-info" style="width: 100%; border:none;"></div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section Scripts {
    <script>
        $(function () {
            data.Dataset.ListInit();

            $("[id^=btnApply_]").click(function (e) {
                var $btn = $("[id^=btnApply_]")
                $btn.attr('hidden', 'hidden')

            });

        });

    </script>
}
