@model Sentry.data.Web.BusinessIntelligenceDetailModel

@{
    ViewBag.Title = "View Report Details";
    var mailTo = "mailto:" + Model.PrimaryContactEmail + "?Subject=Exhibit%20Inquiry%20-%20" + Model.DatasetName;
    string textColor = "dsc-" + Model.CategoryColor + "-text";
}

<a href="@Url.Action("BusinessIntelligence", "Search")" class="backToList" id="linkReturnToBusinessIntelligenceList"><em class="fas fa-chevron-left pr-3"></em>Back to list</a>

<div style="font-feature-settings: 'lnum';">
    <div class="topBanner" style="height: 60px;border-bottom: 1px #DDDDDD solid;">

        <div class="relative hidden-sm hidden-xs">
            <div>
                <div class="no-overflow">
                    <h1 class="detailName detailNameLink leftFloat @textColor pt-0" data-ArtifactLink="@Model.ReportLink" data-LocationType="@Model.LocationType">
                        @Model.DatasetName
                    </h1>
                    <div class="col-md-12 text-right">

                        <a class="btn px-3"
                           id="btnFavorite" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="top" title="Favorite">
                            @if (Model.IsFavorite)
                            {
                                <em class="fas fa-star dsc-icon-button @textColor mr-0 align-middle" id="favoriteIcon"></em>
                            }
                            else
                            {
                                <em class="far fa-star dsc-icon-button @textColor mr-0 align-middle" id="favoriteIcon"></em>
                            }
                        </a>

                        @if (Model.Security.CanEditReport)
                        {
                            <a class="btn px-3"
                               id="EditDataset_@Model.DatasetId" data-id="@Model.DatasetId" data-toggle="tooltip" data-placement="top" title="Edit Report">
                                <em class="far fa-edit dsc-icon-button align-self-center @textColor mr-0 align-middle"></em>
                            </a>
                        }
                        <div class="btn-group" data-toggle="tooltip" data-placement="top" title="Additional Actions">
                            <a class="btn px-3" data-toggle="dropdown">
                                <em class="fas fa-bars dsc-icon-button @textColor mr-0 align-middle"></em>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-start">
                                @if (Model.Security.CanEditReport)
                                {
                                    <a class="dropdown-item" id="deleteLink" href="" data-id="@Model.DatasetId">Delete Exhibit</a>
                                }
                                <a class="dropdown-item" href="@Model.MailtoLink">Share Exhibit</a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row pt-3">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8">
                    <div>
                        @if (!String.IsNullOrWhiteSpace(Model.DatasetDesc))
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div>
                                        <h6 class="@textColor pt-2">Description:</h6><br />

                                        @if (Model.DatasetDesc.Length >= 500)
                                        {
                                            int last = Model.DatasetDesc.Substring(0, 500).LastIndexOf(" ");
                                            <p class="spanContainer">
                                                <span>@Model.DatasetDesc.Substring(0, last)</span>
                                                <span id="descSeeMoreEllipsis">...&nbsp;</span>
                                                <span id="descSeeMorePanel" style="display: none;">@Model.DatasetDesc.Substring(last) </span>
                                                <span id="descSeeMoreButton" style="cursor: pointer;"><a onclick="$('#descSeeMorePanel').show(); $(this).parent().hide(); $('#descShowLessButton').show(); $('#descSeeMoreEllipsis').hide();">See More</a></span>
                                                <span id="descShowLessButton" style="cursor: pointer; display:none;"><a onclick="$('#descSeeMorePanel').hide(); $(this).parent().hide(); $('#descSeeMoreButton').show(); $('#descSeeMoreEllipsis').show();">Show Less</a></span>
                                            </p>
                                        }
                                        else
                                        {
                                            <p>@Model.DatasetDesc</p>
                                        }
                                    </div>
                                </div>
                            </div>
                            <br />
                        }
                    </div>
                    <hr />
                    <div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="row detail-thumbnail-list">
                                    @foreach (var image in Model.Images)
                                    {
                                        <li class="col-md-4">
                                            <a class="fancybox" data-fancybox="gallery" data-caption="Image"
                                               href="@Url.Action("GetImage", "BusinessIntelligence", new { Area ="" , url= image.StorageKey })">
                                                <div class="detail-thumbnail-container">
                                                    <img class="img detail-thumbnail" src="@Url.Action("GetImage", "BusinessIntelligence", new { Area ="" , url=image.StorageKey, t=2 })" />
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="" style="border: 1px #DDDDDD solid; background: white;">

                        <div class="row pl-3">
                            <div class="col">
                                <h5 class="@textColor pt-3">Refresh Frequency</h5>
                                <p class="@textColor">@Model.FrequencyDescription</p>
                            </div>
                        </div>

                        <hr />
                        <div class="row pl-3">
                            <div class="col">
                                <h5 class="@textColor pt-3">Contact</h5>
                                @foreach (var contact in Model.ContactDetails)
                                {
                                    <p class="@textColor col-lg-6"><a href="mailto:@contact.Email?Subject=Exhibit%20Inquiry%20- @Model.DatasetName">@contact.Name</a></p>
                                }
                            </div>
                        </div>

                        <hr />


                        @if (@Model.CLA1130_SHOW_ALTERNATE_EMAIL)
                        {
                            <div class="row pl-3">

                                <div class="col">
                                    <h5 class="@textColor pt-3">Alternative Email</h5>
                                    @if (@Model.AlternateContactEmail != null)
                                    {
                                        string emailAddress = "mailto:" + @Model.AlternateContactEmail;
                                        <p class="ds-format-email">
                                            <a href="@emailAddress">@Model.AlternateContactEmail</a>
                                        </p>
                                    }
                                </div>

                            </div>
                            <hr />
                        }



                        <div class="row pl-3">
                            <div class="col">
                                <h5 class="@textColor pt-3">Exhibit Views</h5>
                                <p class="@textColor" style="font-feature-settings: 'lnum';">@Model.Views</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-12">
            <div id="aboutThisSchema" class="metadataHeader">
                <h3 class="@textColor">About this Exhibit</h3>
            </div>
            <div class="metadataBody container row" style="border: 1px #DDDDDD solid; background: white; padding: 10px;">
                <div class="col-lg-4">
                    <h5 class="@textColor">Tags:</h5>
                    @foreach (var item in Model.TagNames)
                    {
                        <div class="tags-block htCenter tag_@item">@item</div>
                    }

                    <h5 class="@textColor">Categories:</h5>
                    @foreach (var item in Model.CategoryNames)
                    {
                        <div class="tags-block htCenter tag_@item">@item</div>
                    }
                </div>
                <div class="col-lg-4">
                    <h5 class="@textColor">Functions:</h5>
                    @foreach (var item in Model.FunctionNames)
                    {
                        <div class="tags-block htCenter tag_@item">@item</div>
                    }

                    <h5 class="@textColor">Business Units:</h5>
                    @foreach (var item in Model.BusinessUnitNames)
                    {
                        <div class="tags-block htCenter tag_@item">@item</div>
                    }
                </div>
                @if (Model.Security.CanEditReport)
                {
                    <div class="col-lg-4">
                        <h5 class="@textColor">Exhibit Creator: @Model.UploadUserName</h5>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/prettyCron")
    @Scripts.Render("~/bundles/dataTables")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
    <script src="~/Scripts/jquery.fancybox.min.js"></script>
    <script>
        $(function () {
            data.Report.DetailInit(@Model.UseUpdatedSearchPage);
        });
    </script>
}