@model Sentry.data.Web.AccessRequestModel
@{
    ViewBag.Title = "Request Dataset Access";
}

@using (Html.BeginForm("SubmitAccessRequest", "Dataset", FormMethod.Post, new { @id = "AccessRequestForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="md-form">
            @Html.LabelFor(m => m.BusinessReason, new { @class = "disabled" })
            @Html.TextAreaFor(model => model.BusinessReason, new { @class = "md-textarea w-100" })
        </div>
        <div class="md-form">
            @Html.LabelFor((model) => model.SelectedApprover, new { @class = "mdb-main-label" })
            @Html.DropDownListFor((model) => model.SelectedApprover, Model.AllApprovers, new { @class = "mdb-select" })
        </div>

        <br />
        @Html.HiddenFor(model => model.SelectedPermissions)
        @Html.LabelFor((model) => model.SelectedPermissions)
        @foreach (var item in Model.AllPermissions)
        {
            <div class="form-group">
                <input type="checkbox" value="@item.PermissionName" data-code="@item.PermissionCode" class="form-check-input" id="@item.PermissionCode" />
                <label for="@item.PermissionCode" class="form-check-label">@item.PermissionDescription</label>
            </div>
        }

        <div class="modal-footer">
            <div id="accessRequestSpinner"></div>
            <input type="submit" class="btn btn-primary" id="SubmitAccessRequestButton" data-id="@Model.SecurableObjectId" value="Request Access" />
            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
    </div>

    <script>
        $(function () {
            $("select#SecurableObjectId").materialSelect();
            $("#SelectedApprover").materialSelect();
        });

    </script>
}