<!--Partial View containing links to admin pages-->
<div class="col-lg-2 side-nav-wrapper" id="sideNav">
    <div class="card-body">
        <h2 class="card-title">Admin Actions</h2>
        <hr />
        <a data-nav-id="admin" class="side-nav-links" href="@Url.Action("Index", "Admin")">Admin Home</a>
        <h5>Reprocessing</h5>
        <ul>
            <li><a data-nav-id="datafilereprocessing" class="side-nav-links" href="@Url.Action("DataFileReprocessing", "Admin")">Data Files</a></li>
            <li><a data-nav-id="reprocessdeadsparkjobs" class="side-nav-links" href="@Url.Action("ReprocessDeadSparkJobs", "Admin")">Dead Jobs</a></li>
        </ul>
        <h5>Audit</h5>
        <ul>
            <li><a data-nav-id="rawqueryparquetaudit" class="side-nav-links" href="@Url.Action("RawqueryParquetAudit", "Admin")">General Rawquery/Parquet Audit</a></li>
        </ul>
        <h5>Status</h5>
        <ul>
            <li><a data-nav-id="dataflowmetrics" class="side-nav-links" href="@Url.Action("DataFlowMetrics", "Admin")">Data Flow Metrics</a></li>
            <li><a data-nav-id="connectorstatus" class="side-nav-links" href="@Url.Action("ConnectorStatus","Admin")">Connector Status</a></li>
        </ul>
        <h5>Misc</h5>
        <ul>
            <li><a data-nav-id="supportlinks" class="side-nav-links" href="@Url.Action("SupportLinks", "Admin")">Link Farm</a></li>
        </ul>
    </div>
</div>