
@{
    ViewBag.Title = "Admin";
    ViewBag.Fluid = true;
}
@Styles.Render("~/bundles/css/main")
@RenderSection("styles", false)
@Styles.Render("~/bundles/css/site")

@Html.Action("GetHeader", "Layout")
<div class="row">
    @RenderPage("~/Views/Shared/_AdminSideNav.cshtml")
    <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/dataTables")
    @Styles.Render("~/bundles/css/dataTables")

    @RenderSection("Scripts", false)
    <div class="col-lg-10">
        <div id="body">
            @RenderBody()
        </div>
    </div>
</div>

@Html.Action("GetFooter", "Layout")

