@model DataFlowMetricAccordionModel
@{
    ViewBag.Title = "_AdminTest";
}

@if (Model.DataFlowMetricGroups.Count > 0)
{
<div class="accordion" id="dataFlowMetricAccordion">
        @for (var x = 0; x < Model.DataFlowMetricGroups.Count; x++)
        {
                <div class="card">
                    <div>
                        <button class="btn btn-block btn-icon text-left " type="button" data-toggle="collapse" data-target="#@Model.DataFlowMetricGroups[x].TargetCode">

                            <h4 class="accordion-heading" style="padding-left:25px"> @Model.DataFlowMetricGroups[x].FileName</h4>
                            <h4 class="accordion-heading">@Model.DataFlowMetricGroups[x].FirstEventTime</h4>
                            <h4 class="accordion-heading">@Model.DataFlowMetricGroups[x].LastEventTime</h4>
                            <h4 class="accordion-heading">@Model.DataFlowMetricGroups[x].Duration</h4>
                            @if (Model.DataFlowMetricGroups[x].AllEventsPresent && @Model.DataFlowMetricGroups[x].AllEventsComplete)
                            {
                                <em class="icon-checkmark" style="padding-left: 30px; color: green"></em>
                            }
                            else if (!Model.DataFlowMetricGroups[x].AllEventsPresent && Model.DataFlowMetricGroups[x].AllEventsComplete)
                            {
                                <em class="icon-clock" style="padding-left:30px"></em>
                            }
                            else
                            {
                                <em class="icon-error-outline" style="padding-left:30px;  color: red"></em>
                            }
                        </button>
                    </div>
                    <div id="@Model.DataFlowMetricGroups[x].TargetCode" class="collapse container-fluid" data-parent="#dataFlowMetricAccordion">
                        <div class="row">
                            <h5 class="col-sm">Event Metric ID</h5>
                            <h5 class="col-sm">Flow Step Name</h5>
                            <h5 class="col-sm">Execution Order</h5>
                            <h5 class="col-sm">Status Code</h5>
                            <h5 class="col-sm">Offset</h5>
                            <h5 class="col-sm">Partition</h5>
                        </div>
                        @for (var i = 0; i < Model.DataFlowMetricGroups[x].FlowEvents.Count; i++)
                        {

                                <a href="#EventContentModal" id="EventContentLink" data-toggle="modal" data-eventContent="@Model.DataFlowMetricGroups[x].FlowEvents[i].EventContents">
                                    <div class="row">
                                        <h5 class="col-sm"> @Model.DataFlowMetricGroups[x].FlowEvents[i].EventMetricId</h5>
                                        <h5 class="col-sm"> @Model.DataFlowMetricGroups[x].FlowEvents[i].DataFlowStepName</h5>
                                        <h5 class="col-sm"> @Model.DataFlowMetricGroups[x].FlowEvents[i].CurrentFlowStep/@Model.DataFlowMetricGroups[x].FlowEvents[i].TotalFlowSteps</h5>
                                        <h5 class="col-sm"> @Model.DataFlowMetricGroups[x].FlowEvents[i].StatusCode</h5>
                                        <h5 class="col-sm">@Model.DataFlowMetricGroups[x].FlowEvents[i].Offset</h5>
                                        <h5 class="col-sm">@Model.DataFlowMetricGroups[x].FlowEvents[i].Partition</h5>
                                    </div>
                                </a>


                        }

                    </div>
                </div>
        }
</div>

<div class="modal fade" tabindex="-1" id="EventContentModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">Event Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="EventDetails">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    data.Admin.FlowMetricAccordionInit();
</script>
}
else
{
    <h1>No Events Found for Given Specifications!</h1>
}