@model DataFlowMetricAccordionModel
@{
    ViewBag.Title = "_AdminTest";
}

<div class="accordion" id="dataFlowMetricAccordion">
        @for(var x = 0; x < Model.DataFlowMetricGroups.Count; x++)
            {
                <div class="card">
                    <div>
                        <button class="btn btn-block btn-icon text-left " type="button" data-toggle="collapse" data-target="#@Model.DataFlowMetricGroups[x].FileName">
                            <h4 class="accordion-heading" style="padding-left:25px"> @Model.DataFlowMetricGroups[x].FileName</h4>
                            <h4 class="accordion-heading">@Model.DataFlowMetricGroups[x].FirstEventTime</h4>
                            <h4 class="accordion-heading">@Model.DataFlowMetricGroups[x].LastEventTime</h4>
                            <h4 class="accordion-heading">@Model.DataFlowMetricGroups[x].Duration</h4>
                            @if (Model.DataFlowMetricGroups[x].AllEventsPresent && @Model.DataFlowMetricGroups[x].AllEventsComplete)
                            {
                                <i class="icon-checkmark" style="padding-left: 30px; color: green"></i>
                            }
                            else if (!Model.DataFlowMetricGroups[x].AllEventsPresent && Model.DataFlowMetricGroups[x].AllEventsComplete)
                            {
                                <i class="icon-clock" style="padding-left:30px"></i>
                            }
                            else
                            {
                                <i class="icon-error-outline" style="padding-left:30px;  color: red"></i>
                            }
                        </button>
                    </div>
                    <div id="@Model.DataFlowMetricGroups[x].FileName" class="collapse" data-parent="#dataFlowMetricAccordion">
                        @for (var i = 0; i < Model.DataFlowMetricGroups[x].FlowEvents.Count; i++)
                        {
                            <a href="#">
                                <h5 class="accordion-body" style="padding-left: 25px"> @Model.DataFlowMetricGroups[x].FlowEvents[i].EventMetricId</h5>
                                <h5 class="accordion-body"> @Model.DataFlowMetricGroups[x].FlowEvents[i].CurrentFlowStep/@Model.DataFlowMetricGroups[x].FlowEvents[i].TotalFlowteps</h5>
                                <h5 class="accordion-body"> @Model.DataFlowMetricGroups[x].FlowEvents[i].StatusCode</h5>
                            </a>
                            <br />

                        }

                    </div>
                </div>
            }


</div>