@model List<DeadSparkJobModel>
@{
    ViewBag.Title = "_AdminTest";
}



<script type="text/javascript">

    $(document).ready(function () {
        data.Admin.ReprocessDeadJobs();

        $('#deadJobs').DataTable({
            'columnDefs': [{
                'targets': [0, 7], /* column index */
                'orderable': false, /* true or false */
            }]
        });
    });
</script>

<table id="deadJobs" class="display table table-striped table-bordered table-hover" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Submission Time</th>
            <th>Dataset Name</th>
            <th>Schema Name</th>
            <th>Dataset Name</th>
            <th>Dataset Name</th>
            <th>Dataset Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (DeadSparkJobModel job in Model)
        {
            <tr>
                <td>
                    <input class="table-checkbox" type="checkbox" data-file-id="@job.DatasetFileID" data-step-id="@job.DataFlowStepID" />
                </td>
                <td>@job.SubmissionTime</td>
                <td>@job.DatasetName</td>
                <td>@job.SchemaName</td>
                <td>@job.SourceKey</td>
                <td>@job.FlowExecutionGuid</td>
                <td>@job.ReprocessingRequired</td>
                <td>
                    <button type="button" data-toggle="collapse"  data-target="@job.SubmissionID" class="clickable btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light">
                        <span class="sr-only">View more info</span>
                    </button>
                </td>
            </tr>
            <tr id="@job.SubmissionID" class="collapse">
                <td>
                    <div>Hidden by default</div>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Reprocess button-->
<button type="button" class="btn btn-primary waves-effect waves-light" id="reprocessButton">Reprocess Selected</button>