
@model List<DeadSparkJobModel>
@{
    ViewBag.Title = "_AdminTest";
}

<script>

    $(document).ready(function () {
        @*$('.hiddenRow').hide();


        $('.accordion-toggle').click(function () {
            if ($(this).next('tr.hiddenRow').is(':hidden')) {
                $(this).next('tr.hiddenRow').slideDown(500);
            } else {
                $(this).next('tr.hiddenRow').hide();
            }
        });*@

        $("#reprocessButton").click(function () {
            var files = [];

            $('.table-checkbox:checked').each(function () {
                var obj = { fileId: $(this).data("file-id"), stepId: $(this).data("step-id") };
                files.push(obj);
            });

            const key = "fileId";
            const DatasetFileId = "stepId";

            var returnJson = files.reduce(function (rv, x) {
                (rv[x[key]] = rv[x[key]] || []).push(x[DatasetFileId]);
                return rv;
            }, {});

            for (let x in returnJson) {
                var fileArray = []
                for (let i in returnJson[x]) {
                    fileArray.push(returnJson[x][i]);
                }

                var ajaxReturn = {
                    DataFlowStepId: parseInt(x),
                    DatasetFileIds: fileArray
                };
                console.log(JSON.stringify(ajaxReturn));
                $.ajax({
                    type: "POST",
                    url: "../../api/v2/datafile/DataFile/Reprocess",
                    contentType: "application/json",
                    data: JSON.stringify(ajaxReturn),
                    success: function () {
                        alert("success", "File Id(s) " + filesToReprocess + " posted for reprocessing at flow step " + flowStep + ".")
                    },
                    error: function () {
                        alert("error", "Selected file(s) could not be posted for reprocessing. Please try again.")
                    }

                });
            };

            
        });
    });
</script>

<table class="table table-bordered" width="100%" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th></th>
            <th>Submission Time</th>
            <th>Dataset Name</th>
            <th>Schema Name</th>
            <th>Dataset Name</th>
            <th>Dataset Name</th>
            <th>Dataset Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (DeadSparkJobModel job in Model)
        {
            <tr colspan="6" data-toggle="collapse"class="accordion-toggle">
                <td>
                    <input class="table-checkbox" type="checkbox" data-file-id="@job.DatasetFileID" data-step-id="@job.DataFlowStepID" />
                </td>
                <td>@job.SubmissionTime</td>
                <td>@job.DatasetName</td>
                <td>@job.SchemaName</td>
                <td>@job.SourceKey</td>
                <td>@job.FlowExecutionGuid</td>
                <td>@job.ReprocessingRequired</td>
                <td>
                    <i class="bi bi-plus"></i>
                </td>
            </tr>
            <tr id="@job.SubmissionID" class="hiddenRow">
                <td></td>
                <td>@job.SubmissionID</td>
                <td>@job.BatchID</td>
                <td>@job.LivyAppID</td>
                <td>@job.LivyDriverlogUrl</td>
                <td>@job.LivySparkUiUrl</td>
                <td>@job.DatasetFileID</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>