@model List<DeadSparkJobModel>
@{
    ViewBag.Title = "_AdminTest";
}

<script type="text/javascript">

    $(document).ready(function () {
        data.Admin.DeadJobTableInit();
        data.Admin.ReprocessDeadJobs();
    });
</script>

<table id="deadJobs" class="display table nowrap table-striped table-bordered table-hover" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th><input type="checkbox" id="data-file-select-all" class="form-check-input"><label for="data-file-select-all" class="form-check-label">Select All Jobs</label></th>
            <th>Submission Time</th>
            <th>Dataset Name</th>
            <th>Reprocessing Required</th>
            <th>Schema Name</th>
            <th>Source Key</th>
            <th>Flow Execution Guid</th>
            <th>Submission Id</th>
            <th>Batch ID</th>
            <th>Livy App Id</th>
            <th>Livy Driver Log Url</th>
            <th>Livy Spark Ui Url</th>
            <th>Dataset File Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DeadSparkJobModel job in Model)
        {
        <tr data-file-id="@job.SubmissionID">
            <td class="dropdown-toggle-col"><i id="dropdown-toggle-@job.SubmissionID" class="fas fa-plus"></i></td>
            <td><input data-file-id="@job.DatasetFileID" data-group-id="@(String.Format("{0}/{1}/{2}", job.DatasetName, job.SchemaName, job.DataFlowStepID))" type="checkbox" id=@(job.SubmissionID.ToString() + "InputId") class="select-all-target form-check-input"><label for=@(job.SubmissionID.ToString() + "InputId") class="form-check-label"></label></td>
            <td>@job.SubmissionTime</td>
            <td>@job.DatasetName</td>
            <td>@job.ReprocessingRequired</td>
            <td>@job.SchemaName</td>
            <td>@job.SourceKey</td>
            <td>@job.FlowExecutionGuid</td>
            <td>@job.SubmissionTime</td>
            <td>@job.BatchID</td>
            <td>@job.LivyAppID</td>
            <td>@job.LivyDriverlogUrl</td>
            <td>@job.LivySparkUiUrl</td>
            <td>@job.DatasetFileID</td>
        </tr>
        }
    </tbody>
</table>

<!--Reprocess button-->
<button type="button" class="btn btn-primary waves-effect waves-light" id="reprocessButton">Reprocess Selected</button>

