@{
    // This page is the layout used for the shared Error page.  It should do very minimal logic, and it can't
    // use the model type of Sentry.data.Web.BaseModel
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @Styles.Render("~/bundles/css/main")
    @RenderSection("styles", false)
    @Styles.Render("~/bundles/css/site")
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top sentry-navbar" role="navigation">
        <header class="sentry-header">
            <a href="/"><div class="sentry-logo"></div></a>
            <div class="sentry-app-title">
                <h1>
                    Sentry.data.Web
                </h1>
            </div>

        </header>

    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="container-fluid">
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <span class="sentry-app-version pull-right">Sentry.data.Web</span>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", false)
</body>
</html>
