@using StackExchange.Profiling;
@using StackExchange.Profiling.Mvc;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @Styles.Render("~/bundles/css/main")
    @RenderSection("styles", false)
    @Styles.Render("~/bundles/css/site")

</head>
<body class="prevent-animation">
    <!-- BEGIN SENTRY COMMON HEADER -->
    @Html.Action("GetHeader", "Layout")
    <!-- END SENTRY COMMON HEADER -->
    @*used for ajax $.ajaxSetup() in _Shared.js*@
    <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>

    @RenderBody()

    @Html.Action("GetFooter", "Layout")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")

    <script>
        $(document).ready(function () {

            if (/rv:11.0/i.test(navigator.userAgent) || /MSIE 10/i.test(navigator.userAgent) || /MSIE 9/i.test(navigator.userAgent)) {
                // This is internet explorer
                $('#internetExplorerWarning').show();
            }

            data._Layout.Init();
        });
    </script>

    @RenderSection("Scripts", false)

    @StackExchange.Profiling.MiniProfiler.Current.RenderIncludes()

</body>

</html>