@using StackExchange.Profiling;
@using StackExchange.Profiling.Mvc;

@{
    bool isFluid = (ViewData["fluid"] == null || (bool)ViewData["fluid"] == false) ? false : true;
    string overflowScroll = ViewBag.OverflowScroll != null && (bool)ViewBag.OverflowScroll ? "overflow-scroll" : "";
}

<!DOCTYPE html>
<html class="@overflowScroll">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="@Html.GetContent("main_css.*.css")" />
    @RenderSection("styles", false)
    <link rel="stylesheet" href="@Html.GetContent("site_css.*.css")" />
</head>

<body class="prevent-animation">
    <!-- BEGIN SENTRY COMMON HEADER -->
    @Html.Action("GetHeader", "Layout"@*, new { hasMenu = isSubPage }*@)
    <!-- END SENTRY COMMON HEADER -->
    @*used for ajax $.ajaxSetup() in _Shared.js*@
    <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>

    @if (isFluid)
    {
        <div class="container-fluid body-content">
            @RenderBody()
        </div>
    }
    else
    {
        <div class="container body-content">
            @RenderBody()
        </div>
    }

    @Html.Action("GetFooter", "Layout")

    <script src="@Html.GetContent("main.*.js")"></script>
    <script src="@Html.GetContent("knockout.*.js")"></script>
    <script src="@Html.GetContent("site.*.js")"></script>

    <script>
        $(document).ready(function () {

            if (/rv:11.0/i.test(navigator.userAgent) || /MSIE 10/i.test(navigator.userAgent) || /MSIE 9/i.test(navigator.userAgent)) {
                // This is internet explorer
                $('#internetExplorerWarning').show();
            }

            data._Layout.Init();
        });
    </script>

    @RenderSection("Scripts", false)

    @StackExchange.Profiling.MiniProfiler.Current.RenderIncludes()

</body>

</html>
