@model Sentry.data.Web.SubscriptionModel
@{
    ViewBag.Title = "Subscriptions";
}

@using (Html.BeginForm("SubscribeUpdate", "Notification", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(model => model.businessAreaID)
        @Html.HiddenFor(model => model.SentryOwnerName)
        @Html.HiddenFor(model => model.group)

        @Html.DisplayFor((model) => ViewData.ModelState)

        <table class="table table-striped table-bordered">
            <thead>
                <tr class="table-header">
                    <th>Event</th>
                    @*TODO ADD THIS WHEN FINISHING UI*@
                    @*<th>Event Details</th>*@
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                @for (var subId = 0; subId < Model.CurrentSubscriptionsBusinessArea.Count(); subId++)
                {
                    @Html.HiddenFor(model => model.CurrentSubscriptionsBusinessArea[subId].BusinessAreaType)
                    @Html.HiddenFor(model => model.CurrentSubscriptionsBusinessArea[subId].ID)

                    string cssClass = "";
                    if (Model.CurrentSubscriptionsBusinessArea[subId].Interval.Description.ToLower().Contains("never"))
                    {
                        cssClass = "unUsable";
                    }
                    else
                    {
                        cssClass = "active";
                    }

                <tr class="@cssClass">
                    <td>
                        @Html.HiddenFor(model => model.CurrentSubscriptionsBusinessArea[subId].EventType.Type_ID)
                        @Html.DisplayFor(model => model.CurrentSubscriptionsBusinessArea[subId].EventType.DisplayName)
                    </td>


                    @*TODO: ADD MULTI DROP DOWN HERE AND FIGURE OUT WHAT TO DO WITH MAKING 
                        model.CurrentSubscriptionsBusinessArea[subId].childBusinessAreaSubscriptions[childId].EventType.Type_ID turn into a BOOL *@
                    @*<td>
                        @for (var childId = 0; childId < Model.CurrentSubscriptionsBusinessArea[subId].childBusinessAreaSubscriptions.Count(); childId++)
                        {
                            @Html.CheckBoxFor(model => model.CurrentSubscriptionsBusinessArea[subId].childBusinessAreaSubscriptions[childId].EventType.Type_ID
                        }
                    </td>*@

                    <td>
                        @Html.DropDownListFor(model => model.CurrentSubscriptionsBusinessArea[subId].Interval.Interval_ID,
                            new SelectList(Model.AllIntervals, "Value", "Text", Model.CurrentSubscriptionsBusinessArea[subId].Interval.Interval_ID), new {@class = "mdb-select"})
                    </td>
                 </tr>


                }

            </tbody>
        </table>


        <div class="modal-footer">
            <div style="margin-left: 15px;">
                <input type="submit" value="Update Subscriptions" class="btn btn-primary" />
                <input type="submit" class="btn btn-warning" data-dismiss="modal" value="Cancel" />
            </div>
        </div>

    </div>
}




@section Scripts {
    <script>
        $(function () {
        });
    </script>
}
