@model SystemNotificationModel

@{
    string notificationClass = "active";
}
@* check if there are any critical notifications *@
@if (Model.CriticalNotifications.Any())
{
    @* loop through the critical notifications, outputting them in a stacked fashion (most recent date first) *@
    foreach (SystemNotificationItemModel notification in Model.CriticalNotifications)
    {
        <div class="critical-notification-container">
            <div class="critical-notification-title">@notification.Title</div>
            <div class="critical-notification-content-container">
                <div class="critical-notification-date">@notification.NotificationDate</div>
                <div class="critical-notification-body">@Html.Raw(notification.Message)</div>
            </div>
        </div>


    }
}


@* build a carousel for the standard notifications *@
@if (Model.StandardNotifications.Any())
{
    <div id="standard-notification-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @foreach (SystemNotificationItemModel notification in Model.StandardNotifications)
            {
                <div class="item @notificationClass">
                    <div class="standard-notification-title">@notification.Title</div>
                    <div class="standard-notification-date">@notification.NotificationDate</div>
                    <div class="standard-notification-body">@notification.Message</div>
                </div>

                @* wipe out the active class after the first iteration through the loop *@
                notificationClass = "";
            }
        </div>

        @* Left and right controls *@
        <a class="left carousel-control" href="#standard-notification-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#standard-notification-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


}

@section Scripts {
    <script type="text/javascript">

        $(function () {
            data.BusinessArea.PersonalLinesInit();
        });

    </script>
}