@model Sentry.data.Web.TagModel
@{
    ViewBag.Title = "Create Tag";
}

@using (Html.BeginForm("TagForm", "BusinessIntelligence", FormMethod.Post, new { @id = "TagForm" }))
{
    @Html.AntiForgeryToken()

    <div class="tagFormErrorBox" id="TagFormErrorBox" style="display:none"></div>
    @Html.HiddenFor(model => model.CreationUserId)
    <div class="form-horizontal">
        <div class="md-form">
            @Html.LabelFor(m => m.TagName, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.TagName, new { @class = "form-control" })
        </div>
        <div class="md-form">
            <span id="tagWarningText" />
        </div>
        <div class="md-form">
            @Html.LabelFor((model) => model.SelectedTagGroup, new { @class = "mdb-main-label" })
            @Html.DropDownListFor((model) => model.SelectedTagGroup, Model.AllTagGroups, new { @class = "mdb-select" })
        </div>
        <div class="md-form">
            @Html.LabelFor(m => m.Description, new { @class = "disabled" })
            @Html.TextAreaFor(model => model.Description, new { @class = "md-textarea w-100" })
        </div>

    </div>

    <div class="modal-footer">
        <div id="createTagSpinner"></div>
        <input type="submit" class="btn btn-primary" id="CreateTagButton" data-id="@Model.TagId" value="Create Tag" />
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
    </div>

}
<script>
    $(function () {
        data.Tags.CreateInit();
    });
</script>
