@model Sentry.data.Web.DataSourceAccessRequestModel
@{
    ViewBag.Title = "Request Data Source Access";
}

@using (Html.BeginForm("SubmitAccessRequest", "Config", FormMethod.Post, new { @id = "AccessRequestForm" }))
{
    @Html.AntiForgeryToken()

    <div class="accessRequestModelText" style="width:auto">
        <p>A short delay in permission implementation can be expected as Sentry service management system (external to DSC) is used for approvals.</p>
    </div>
    <br />

    <div class="accessRequestErrorBox" id="AccessRequesrErrorBox" style="display:none">

    </div>

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.SecurableObjectId)
        <div class="md-form">
            <label class="control-label">Dataset</label>
            @Html.TextBoxFor(model => model.SecurableObjectName, new { @disabled = "disabled", @class = "form-control" })
        </div>
        <div class="md-form">
            @Html.LabelFor(m => m.AdGroupName, new { @class = "control-label" })
            @Html.EditorFor(model => model.AdGroupName, new { @class = "form-control" })
        </div>


        @Html.Partial("_AccessRequest", Model)
    </div>
}