@model Sentry.data.Web.MigrationRequestModel
<div id="MigrationModalSpinner" class="d-none text-center">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<div id="RequestMigrationBody">
    <div>
        <div id="MigrationRequestForSection" class="d-none requestAccessStage">
            <button id="RequestDatasetMigrationBtn" type="button" class="btn btn-default waves-effect waves-light requestMigrationButton btn-block" value="@Model.DatasetId">Request migration of <em id="RequestMigrationDatasetName" class="font-style-normal">@Model.DatasetName dataset</em></button>
            <button id="RequestSchemaMigrationBtn" type="button" class="btn btn-default waves-effect waves-light requestMigrationButton btn-block" value="@Model.DatasetId">Request migration of schema in @Model.DatasetName dataset</button>
        </div>
    </div>
    <div class="d-none" id="RequestMigrationFormSection">
        @Html.HiddenFor(x => x.DatasetId)
        @Html.HiddenFor(x => x.QuartermasterManagedNamedEnvironments)
        @Html.HiddenFor(x => x.SAIDAssetKeyCode)
        <div class="md-form">
            @Html.LabelFor(x => x.DatasetName, new {@class = "active"})
            @Html.TextBoxFor(x => x.DatasetName, new { @readonly = "readonly", @disabled = "disabled", @class = "form-control"})
        </div>
        <div class="d-none" id="ValidationMessages">
            <ul>
            </ul>
        </div>

        <div class="d-none" id="MigrationFormSection">

            @************************************************************************************************************************************
            NAMED ENVIRONMENT
            *************************************************************************************************************************************@
            <div id="DatasetNamedEnvironmentPartial">
                @Html.Partial("_NamedEnvironment", Model)
            </div>


            <div class="md-form">
                @*<label class="active" for="">Schema <em>(Optional)</em></label>*@
                @Html.LabelFor(x => x.SelectedSchema, new { @class = Model.SelectedSchema.Any() ? "active" : "" })
                @Html.DropDownListFor(x => x.SelectedSchema, Model.SchemaList, new { @class = "mdb-select", multiple = "True", searchable = "Search here..." })
            </div>
        </div>
    </div>
    <div class="d-none" id="RequestMigrationSubmissionBody">
        <div>
            <p>Your request is being processed.</p>
            <p>Please do not navigate away from this page while request is being processed!</p>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary float-right" id="MigrationRequestSubmitButton">Submit Migration</button>
    </div>
</div>
