@using Sentry.data.Web;
@model FilterSearchModel

@{
    ViewBag.Title = "Data Inventory";
    ViewBag.Fluid = true;
}

<!-- Top Search Row -->
<div class="row di-horizontal-center">
    <div class="di-search-head">
        <div class="di-head-item"><img src="@Model.IconPath" class="di-img leftFloat" /></div>
        <div class="di-head-item"><h1 class="htCenter datasetHeader">@Model.PageTitle</h1></div>

        <div id="di-search-box" class="has-feedback has-feedback-left">
            <input class="form-control searchTextDS text-box single-line" type="text" id="inventorySearchText" placeholder="Search Data Inventory" value="@Model.SearchText" />
            <i class="form-control-feedback glyphicon glyphicon-search clickable" data-bind="click: {}"></i>
            <i class="form-control-feedback fa fa-circle-o-notch fa-spin hidden"></i>
        </div>
    </div>
</div>

<!-- Body Row -->
<div class="row di-body">
    <!-- Filters -->
    <div class="hidden-xs hidden-sm col-md-3" id="search-pg-filters">
        <!-- Title, Badges & Clear-->
        <div class="search-filter-title-container">
            <div class="search-filter-title">Filter</div>
            <a href="#" id="search-filter-clear">Clear All</a>
        </div>

        <div id="filterColumn" class="display-none">
            <!-- ko foreach: { data: FilterCategories, as: 'category' } -->
            <div class="panel panel-default search-filter-categories-container">
                <div class="panel-heading filterHead" data-bind="attr: { id: category.HeadId }">
                    <span class="filterCategoryName" data-bind="text: category.Name"></span>
                    <span class="glyphicon glyphicon-chevron-down rightFloat filterViewIcon" data-bind="attr: { id: category.HeadIcon }"></span>
                </div>

                <div class="filters-category panel-body display-none" data-bind="attr: {id : category.HeadHide }">
                    <ul class="list-unstyled ul-filter-list">
                        <!-- ko foreach: { data: category.FilterCategoryOptions, as: 'option' } -->
                        <li class="list-unstyled li-filter-disabled filterList" data-bind="visible: $index() < 6, css: { notAllowed: option.Count == 0 }">
                            <label data-bind="attr: { id: option.id }">
                                <input type="checkbox" class="filterChbx" data-bind="value: option.id, checked: option.DefaultSelected, attr: { id: option.id, disabled: option.Count == 0 }" />
                                <strong data-bind="text: option.Title"></strong>
                                <span class="filter-tile-count">(<!--ko text: option.Count--><!--/ko-->)</span>
                            </label>
                        </li>

                        <!-- ko if: $index() >= 6 -->
                        <li data-bind="attr: { id : category.HiddenMore }">
                            <ul class="notNested">
                                <li class="list-unstyled li-filter-disabled filterList" data-bind="css: { notAllowed: option.Count == 0 }">
                                    <label data-bind="attr: { id: option.id }">
                                        <input type="checkbox" class="filterChbx" data-bind="value: option.id, checked: option.DefaultSelected, attr: { id: option.id, disabled: option.Count == 0 }" />
                                        <strong data-bind="text: option.Title"></strong>
                                        <span class="filter-tile-count">(<!--ko text: option.Count--><!--/ko-->)</span>
                                    </label>
                                </li>
                            </ul>
                        </li>
                        <!-- /ko -->
                        <!-- /ko -->
                    </ul>

                    <!-- ko if: (category.FilterCategoryOptions.length > 6) -->
                    <a href="#" class="filterMore" data-bind="attr: { id: category.HiddenId}">
                        <div class="glyphicon glyphicon-plus-sign inlineBlock moreIcon leftFloat" data-bind="attr: { id: category.IconMore }"></div>
                        <div class="leftFloat txt_filterMore" data-bind="attr: { id: category.TxtMore }">Show More</div>
                    </a>
                    <!-- /ko -->

                </div>
            </div>

            <!-- /ko -->
        </div>
    </div>

    <!-- Body - Active Filters & Results -->
    <div class="col-sm-12 col-md-9">
        @Html.Partial("~/Views/Dale/DaleResult.cshtml", true)
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">

        $(function () { data.DataInventory.init(); });
        0]\
    </script>
}