@using Sentry.data.Core

<table class="table table-striped table-bordered table-hover nowrap dataTable no-footer w-100" id="di-result-table" aria-labelledby="Data Inventory search results">
    <thead>
        <tr>
            <th scope="col">@GlobalConstants.FilterCategoryNames.ASSET</th>
            <th scope="col">@GlobalConstants.FilterCategoryNames.SERVER</th>
            <th scope="col">@GlobalConstants.FilterCategoryNames.DATABASE</th>
            <th scope="col">@GlobalConstants.FilterCategoryNames.COLLECTIONNAME</th>
            <th scope="col">@GlobalConstants.FilterCategoryNames.COLLECTIONTYPE</th>
            <th scope="col">@GlobalConstants.FilterCategoryNames.COLUMN</th>
            <th scope="col">@GlobalConstants.FilterCategoryNames.SENSITIVE</th>
            <th scope="col">Owner Verified</th>
            <th scope="col">@GlobalConstants.FilterCategoryNames.ENVIRONMENT</th>
            <th scope="col">@GlobalConstants.FilterCategoryNames.DATATYPE</th>
            <th scope="col">Length</th>
            <th scope="col">Precision</th>
            <th scope="col">Scale</th>
            <th scope="col">@GlobalConstants.FilterCategoryNames.NULLABLE</th>
            <th scope="col">Discovery Date</th>
            <th scope="col">@GlobalConstants.FilterCategoryNames.SOURCETYPE</th>
            <th scope="col">Scan Category</th>
            <th scope="col">Scan Type</th>
        </tr>
    </thead>
</table>

<div class="di-update-overlay display-none">
    <div class="progress md-progress sentry-dark-blue di-sentry-progress">
        <div class="indeterminate"></div>
    </div>
</div>